@mixin contact {
  width: 70%;
  height: 90%;
  background: $contact-bg;
  position: relative;

  &__container {
    width: 100%;
    flex-basis: 100%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
  }

  &__item {
    width: 100%;
    height: 20%;
    &__btn {
      flex-basis: $contact-item-btn-width;
      line-height: 2.5;
      margin-right: 30px;
    }
    &__content {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      img {
        width: 10%;
        margin-right: 5px;
      }
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
}
