@mixin game-lobby {
  background: $game-lobby-bg;
  height: 100%;
  padding: 0 0 0 10px;
}

@mixin game-lobby-product {
}

@mixin game-lobby-category {
  // margin: 5px 0 0 0;
}
@mixin game-lobby-list-icon {
  width: 100%;
  height: calc(100% - #{$nav-tab-height});
  display: flex;
  overflow-y: auto;
  position: relative;

  &.no-category {
    height: 100%;

    .game-lobby-list-icon {
      &__item {
        height: 40%;
      }
    }
  }

  &__container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    overflow-y: auto;
    align-content: flex-start;
  }

  &__item {
    width: calc(25% - 5px);
    height: calc(50% - 10px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-right: 5px;
    position: relative;

    &:nth-child(odd) {
      margin-top: 5px;
      margin-bottom: 5px;
    }

    &__icon {
      width: 100%;
      flex-basis: 80%;
      max-height: 80%;
      border-radius: 5px;
    }

    &__text {
      width: 100%;
      flex-basis: 20%;
      text-align: center;
      align-self: center;
    }

    &__fav {
      background: $game-lobby-list-icon-item-fav-bg;
      width: $game-lobby-list-icon-item-fav-width;
      height: $game-lobby-list-icon-item-fav-height;
      position: absolute;
      top: 0;
      right: 0;

      &.active {
        background: $game-lobby-list-icon-item-fav-bg-active;
      }
    }

    &__overlay--maintain {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: $game-lobby-list-icon-item-maintain-bg;
      user-select: none;
      pointer-events: none;
    }
  }
}

@mixin game-lobby-search {
  background: $game-lobby-search-bg;
  width: $game-lobby-search-width;
  height: $game-lobby-search-height;
  position: fixed;

  top: 1%;
  right: 1%;

  border-radius: 10px;
  padding-left: 5px;
  box-shadow: $game-lobby-search-shadow;
  transform: $game-lobby-search-transform;

  &__form {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
  }

  &__input {
    min-width: 0;
    flex-grow: 1;
    background: none;
    // width: $game-lobby-search-input-width;
    color: $game-lobby-search-input-color;
    height: 100%;
    border: 0;
    border-radius: 10px;
    transform: $game-lobby-search-input-transform;
    padding-right: 5px;
  }

  &__btn {
    &--submit {
      height: 100%;
      background: $game-lobby-search-icon-bg;
      transform: $game-lobby-search-icon-transform;
      border: 0;

      display: flex;
      align-items: center;

      img {
        height: 50%;
      }
    }
  }
}

@mixin game-transfer-dialog {
}
