@mixin header {
  width: 100%;
  height: $header-height;
  background: $header-bg;
  position: relative;

  display: flex;
  align-items: flex-start;

  color: $base-text-color;

  padding: 0 0 0 10px;

  &__logo {
    flex-basis: 25%;
    height: 100%;

    display: flex;
    align-items: flex-start;
    justify-content: center;

    &__icon {
      width: 100%;
      position: relative;
      bottom: -30%;
      margin-right: 15px;
    }

    &__back {
      width: 50%;
    }
  }

  &__login {
    flex-basis: 20%;
    height: $header-login-height;
    background: $header-login-bg;
    color: $header-login-color;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    -webkit-text-stroke: 1px black;
  }

  &__wallet {
    min-width: $header-wallet-min-width;
    height: $header-wallet-height;
    background: $header-wallet-bg;
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    font-weight: bold;
    -webkit-text-stroke: 1px black;
    padding-left: 2%;
    padding-right: 2%;

    &__icon {
      width: $header-wallet-icon-width;
      height: $header-wallet-icon-height;
      margin-right: 5px;
    }

    &__text {
      color: $header-wallet-color;
      margin-right: 5px;
    }

    &__arrow {
      width: $header-wallet-arrow-width;
      height: $header-wallet-arrow-height;
      margin-left: auto;
    }
  }

  &__user {
    height: $header-user-height;
    display: flex;
    flex-direction: column;
    padding-top: 5px;
    margin-right: 10px;

    > div {
      max-height: 50%;
      flex-basis: 50%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-wrap: nowrap;
      margin-right: 5px;

      > div {
        color: $header-user-color;
      }

      > img {
        // width: 20%;
        margin-right: 5px;
      }
    }

    &__account {
      &__icon {
        height: 100%;
      }
    }
    &__vip {
      &__icon {
        height: 60%;
      }
    }
  }

  &__right {
    height: 100%;
    margin-left: auto;
    display: flex;
    align-items: flex-start;
  }

  &__lang {
    width: $header-lang-width;
    height: $header-lang-height;
    background: $header-lang-bg;
  }

  &__lottery {
    height: 100%;
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;

    &__icon {
      height: 100%;
    }

    &__text {
      height: 60%;
      position: absolute;
    }
  }
}

@mixin modal-auth {
}

@mixin modal-login {
  width: 100%;
  padding: 15px 30px;

  &-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .ui-field {
    width: 70%;
  }

  &__remember {
    width: 70%;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    font-size: 0.8rem;
    font-weight: bold;

    .ui-field-box {
      * {
        font-size: 0.8rem;
      }
    }

    &__remember {
      width: auto;
    }

    &__forget {
      margin-left: auto;
      color: $modal-login-link-color;
    }
  }

  &__btn-block {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  &__btn {
    &--login {
      width: 50%;
      background: $modal-login-btn-bg-submit;
    }
  }
}

@mixin modal-register {
  padding: 15px 30px;

  &-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    input:not(input[type='checkbox']) {
      flex-grow: 1;
    }
  }

  .ui-field {
    width: 70%;
  }

  .ui-field-box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;

    * {
      font-size: 0.8rem;
    }

    a {
      color: $modal-register-link-color;
    }
  }

  &__btn {
    width: 50%;
    &--submit {
      background: $modal-register-btn-bg-submit;
    }
  }
}

@mixin modal-lang {
  &__content {
    width: 100%;
    padding: 30px 30px 15px 30px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  &__item {
    flex-basis: calc(50% - 15px);
    height: 25%;

    &:nth-child(odd) {
      margin-right: 15px;
    }

    &__btn {
      flex-basis: $modal-lang-btn-width;
      margin-right: 15px;
    }

    &__selected {
      background: $modal-lang-selected-bg;
      margin-top: -30px;
    }
  }
}
