@mixin promotion {
  width: 100%;
  height: 100%;
  padding: 0 0 0 10px;

  &__tabs {
    &__group {
      width: 100%;
      height: 100%;
    }
  }

  // &__content {
  // }
}

@mixin promotion-detail {
  // padding: 5px 15px;
  padding: 5px 0;

  width: 100%;

  display: flex;
  flex-direction: column;

  &__image {
    width: 100%;
  }

  &__main {
    width: 100%;
    background: #949392;
    border-radius: 10px;
    padding: 10px 15px;
    margin-top: 5px;
    &__content {
      padding-bottom: 10px;
      margin-bottom: 10px;

      &:not(:last-child) {
        border-bottom: $promotion-detail-item-border-bottom;
        box-shadow: $promotion-detail-item-shadow;
      }

      &__title {
        color: $promotion-detail-title-color;
        font-size: 1.1rem;
        font-weight: bold;
        
        &:first-child {
          margin-bottom: 10px;
        }
      }

      &__desc {
        color: $promotion-detail-content-text-color;
        * {
          color: $promotion-detail-content-text-color;
        }
        img {
          width: 100% !important;
        }
      }

      // .ui-table04 {
      // font-size: 1rem;
      // }

      ul > li {
        margin-bottom: 20px;
      }

      ul > li > a {
        border-radius: 6px;
        padding: 5px 10px;
        margin: 5px;
        display: inline-block;
      }
    }
  }
}
