@mixin transaction-wallet {
  width: 100%;
  height: 100%;
  &__wallet {
    display: flex;
    align-items: center;
    margin-bottom: 15px;

    > div {
      margin-right: 5px;
      word-break: keep-all;
      white-space: nowrap;
    }

    &__amount {
      background: $transaction-nav-wallet-bg;
      color: $transaction-nav-wallet-color;
      border: 0;
      border-radius: 5px;
      padding: 5px 10px;
    }
  }

  &__product {
    display: flex;
    flex-wrap: wrap;
    &__item {
      border: 1px solid gray;
      margin: 0 10px 10px 0;

      display: flex;
      flex-direction: column;
      align-items: center;

      border: none;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;

      > div {
        width: 100%;
        height: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      &__name {
        background: $transaction-wallet-item-name-bg;
        color: $transaction-wallet-item-name-color;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        padding: 10px;
        margin-bottom: 1px;
      }

      &__amount {
        background: $transaction-wallet-item-amount-bg;
        color: $transaction-wallet-item-amount-color;
        padding: 5px;
      }
    }
  }
}
