@mixin deposit {
  width: 100%;
  height: 100%;

  &__nav {
    display: flex;
    border-bottom: 1px solid gray;
    overflow-x: auto;
    padding-left: 5px;

    &__item {
      padding: 5px 15px;
      border: 1px solid gray;
      border-bottom: none;

      &.active {
        background: gray;
        color: white;
      }
    }
  }
}

@mixin deposit-base {
  fieldset {
    border: 1px solid #d6cbb9;
  }

  .ui-notice {
    ul {
      padding-left: 25px;
    }
  }

  &__field {
    &--bank {
      width: 70%;
    }
    &--bank-name {
      width: 70%;
    }
    &--bank-transfer {
      width: 70%;
    }
    &--method {
      width: 70%;
    }
    &--datetime {
      width: 70%;
    }
    &--amount {
      width: 70%;
      background: $field-input-bg;
      border-radius: 5px;
      padding-right: 5px;
      span {
        color: #939393;
      }
    }
    &--receipt {
      width: 70%;
      background: $field-input-bg;
      border-radius: 5px;
      button {
        background: $field-input-bg;
      }
      span {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #939393;
      }
    }
  }

  &__bank-info {
    width: 100%;
    display: flex;

    > div {
      flex-basis: 50%;
      background: #989491;
      display: flex;
      flex-direction: column;
      padding: 5px 10px;

      label {
        color: white;
      }

      &:first-child {
        margin-right: 5px;
      }
    }

    &__bank-account {
      input {
        border: none;
        background: transparent;
      }

      span {
        margin-left: auto;
        color: #f3cc28;
      }
    }
  }
}

@mixin deposit-third-party {
  &__field {
    margin-bottom: 15px;
  }

  &__field--btn {
    // &__title {
    // }
    &__option {
      padding: 5px 0 15px 15px;

      button {
        background: none;
        border: 1px solid black;
        border-radius: 5px;
        margin-right: 5px;
        margin-bottom: 5px;
        padding: 2px 15px;

        &.active {
          background: gray;
          color: white;
        }
      }
    }
  }
}
