@mixin withdrawal {
  width: 100%;
  &-form {
    width: 100%;
  }

  &__nav {
    margin-bottom: 15px;

    > div {
      margin-right: 5px;
    }

    &__amount {
      background: $field-input-bg;
      color: $field-input-color;
      border-radius: 5px;
      padding: 5px 10px;
    }
  }

  &__field {
    width: 80%;

    label {
      min-width: 100px;
    }

    &--amount {
      input {
        padding-right: 30px;
      }

      span {
        color: $field-inside-color;
        position: absolute;
        right: 5px;
      }
    }

    &--bank-info {
      span {
        min-height: 2rem;
        flex-grow: 1;
        background: $field-input-bg;
        color: $field-input-color;
        border-radius: 5px;
        padding: 5px 10px;
      }
    }
  }

  &__btn {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    button[type='submit'] {
      min-width: 30%;
      background: $withdrawal-btn-bg-submit;
    }
  }
}
