@mixin user {
  width: 100%;
  height: 100%;
  padding-left: 10px;
}

@mixin user-profile {
  width: 100%;
  height: 100%;

  &__form {
    width: 100%;
    height: 100%;
  }

  &__content {
    padding-bottom: 15px;
  }

  &__logout {
    width: 100%;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding-right: 10px;

    button {
      width: 100%;
    }
  }

  &__title {
    display: flex;
    padding: 5px 0;
    &__icon {
      width: 20px;
      height: 20px;

      &--basic {
        background: blue;
      }
      &--bank {
        background: red;
      }
    }
    &__title {
      font-size: 1rem;
    }
  }

  &__basic {
    width: 100%;
    min-height: 50%;
    max-height: 90%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  &__field {
    width: 50%;
    margin-bottom: 5px;
    flex-wrap: nowrap;

    display: flex;
    align-items: center;
    justify-content: flex-start;

    &__container {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }

    label {
      flex-grow: 1;
      text-align: right;
      padding-right: 5px;
    }

    span {
      width: 150px;
    }

    input {
      flex-grow: 0;
      margin-left: auto;
      width: 150px !important;

      &:lang(en-us),
      &:lang(my-mm) {
        width: 110px !important;
      }

      &:lang(th-th) {
        width: 140px !important;
      }
    }

    &--btn {
      img {
        width: 30%;
      }

      button {
        background: $user-profile-btn-change-password;
        white-space: nowrap;
      }

      input {
        width: 75px;
      }

      .ui-question {
      }
    }
  }

  &__bank {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding-left: 45px;

    &__item {
      width: 45%;
      font-size: 0.8rem;
      font-weight: bold;
      margin-bottom: 15px;
      // &__radio {
      //   padding-left: 5px;
      //   input[type='radio'] {
      //     margin-right: 5px;
      //   }
      // }
      &__card {
        width: 100%;
        // width: $user-profile-bank-card-width;
        height: $user-profile-bank-card-height;
        background: $user-profile-bank-card-bg;

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        padding: 10% 10% 10% 10%;

        > span {
          color: $user-profile-bank-card-color;
        }
      }
    }
  }

  &__btn {
    display: flex;
    justify-content: center;

    button {
      margin-bottom: 15px;
    }

    button[type='submit'] {
      background: $user-profile-btn-bg-submit;
      margin-right: 15px;
    }

    button[type='reset'] {
      background: $user-profile-btn-bg-reset;
    }

    &--add-bank {
      background: $user-profile-btn-bg-add-bank;
      margin-left: 10px;
    }
  }

  &__footer {
    width: calc(30% + 10px);
    height: 20%;
    background: $user-profile-footer-bg;
    color: $user-profile-footer-color;
    position: fixed;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 7%;

    span {
      width: 95%;
      height: 90%;
      color: $user-profile-footer-color;
      display: flex;
      align-items: center;
      justify-content: center;
      border-top-right-radius: 50%;
    }
  }
}

@mixin user-bank {
  &-form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 45px;
    overflow-y: auto;
  }

  &__btn {
    margin-top: 30px;

    button[type='submit'] {
      background: $user-bank-btn-bg-submit;
    }
  }
}

@mixin user-change-password {
  width: 50%;
  height: 70%;
  background: white;
  position: relative;

  &__container {
    width: 100%;
    height: 100%;
  }

  &__form {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    padding: 30px;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__btn {
    button[type='submit'] {
      background: $user-change-password-btn-bg-submit;
    }
  }

  /*
  * Switch 開關，EX: width: 640px, height: 100px
  */

  .v-switch-core {
    border-radius: $user-change-password-switch-radius !important;
  }

  /*
  * 按鈕
  */

  .vue-js-switch .v-switch-core .v-switch-button {
    border-radius: $user-change-password-switch-radius !important;
    width: $user-change-password-switch-width-btn !important;
  }

  /*
  * 按鈕在右邊時
  * 位置: (開關寬度/2) + (開關寬度/2 - 按鈕寬度) => (640/2) + (640/2 - 320)
  */
  .vue-js-switch.toggled .v-switch-core .v-switch-button {
    transform: translate3d($user-change-password-switch-width-btn, 0px, 0px) !important;
  }

  /*
  * 左邊標籤(文字)
  * 位置: (按鈕大小 - 標籤大小) / 2 => (320-80) / 2
  * 但不同語言的標籤大小會不同
  */
  .vue-js-switch .v-switch-label.v-left {
    &:lang(zh-cn) {
      left: ($user-change-password-switch-width-btn - $user-change-password-switch-width-label-left-zh-cn) / 2 !important;
    }
    &:lang(en-us) {
      left: ($user-change-password-switch-width-btn - $user-change-password-switch-width-label-left-en-us) / 2 !important;
    }
    &:lang(th-th) {
      left: ($user-change-password-switch-width-btn - $user-change-password-switch-width-label-left-th-th) / 2 !important;
    }
  }

  /*
   * 右邊標籤(文字)
   * 位置: 同上
  */
  .vue-js-switch .v-switch-label.v-right {
    &:lang(zh-cn) {
      right: ($user-change-password-switch-width-btn - $user-change-password-switch-width-label-right-zh-cn) / 2 !important;
    }
    &:lang(en-us) {
      right: ($user-change-password-switch-width-btn - $user-change-password-switch-width-label-right-en-us) / 2 !important;
    }
    &:lang(th-th) {
      right: ($user-change-password-switch-width-btn - $user-change-password-switch-width-label-right-th-th) / 2 !important;
    }
  }
}

@mixin user-mail {
  width: 100%;
  height: 100%;

  &__content {
    width: 100%;
    &__main {
      width: 100%;
      padding: 10px;
    }
  }

  &__search {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;

    > div {
      margin-bottom: 0;
    }

    > div:not(:last-child) {
      margin-right: 5px;
    }

    &__category {
      flex-basis: 45%;
    }

    &__subject {
      flex-grow: 1;
    }

    &__btn {
      flex-basis: 25%;
      word-break: keep-all;

      button {
        width: 100%;
        background: $user-mail-search-btn-bg;
      }
    }
  }

  &__content {
    height: 100%;
  }

  &__btn {
    &--mail-send {
      background: $user-mail-btn-mail-send;
      border: 0;
      padding: 0 30px;
      font-size: 1.2rem;
    }
  }
}

@mixin user-mail-detail {
  width: 70%;
  height: 90%;
  background: white;
  position: relative;

  &__container {
    width: 100%;
    height: 100%;
    overflow-y: auto;
  }

  &__form {
    width: 100%;
    height: 100%;
    overflow-y: auto;
  }

  &__list {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: 40%;
    &__item {
      background: #543c29;
      display: flex;
      padding: 15px;

      font-size: 0.9rem;

      &__info {
        flex-basis: 50%;
        color: white;
        border-right: 1px solid #311134;
        box-shadow: inset -2px 0px 0px 0px #634d3d;
        * {
          color: white;
        }
      }
      &__content {
        flex-grow: 1;
        color: #959595;

        display: flex;
        justify-content: center;
        * {
          color: #959595;
        }
      }
    }
  }

  &__reply {
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 0.9rem;
    padding: 5px 15px;

    &-title {
      background: #cbaa6d;
      font-size: 1.1rem;
      font-weight: bold;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 5px 0;
    }
    .ui-field {
      align-items: flex-start;

      label {
        padding-bottom: 5px;
      }

      textarea {
        width: 100%;
      }
    }
    &__btn {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      button:first-child {
        margin-right: 15px;
      }

      button[type='submit'] {
        min-width: 30%;
        background: $user-mail-detail-btn-bg-submit;
      }
      button[type='reset'] {
        min-width: 30%;
        background: $user-mail-detail-btn-bg-reset;
      }
    }
  }
}

@mixin user-mail-send {
  width: 100%;
  height: 100%;

  &__form {
    width: 100%;
    height: 100%;
  }

  &__content {
    width: 100%;

    &__main {
      width: 100%;
      padding: 10px;
    }
  }

  .nav-tab {
    &__item {
      height: 100%;
      img {
        height: 70%;
        margin-right: 10px;
      }
      span {
        font-size: 1.2rem;
        font-weight: bold;
      }
    }
  }

  &__field {
    &--category {
      display: inline-flex;
      width: 40%;
      margin-right: 15px;
    }

    &--subject {
      display: inline-flex;
      width: calc(100% - 40% - 15px - 30px);
    }

    &--content {
      align-items: flex-start;

      label {
        padding-bottom: 5px;
      }

      textarea {
        width: 100%;
      }
    }
  }

  &__btn {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    button:first-child {
      margin-right: 15px;
    }

    button[type='submit'] {
      min-width: 30%;
      background: $user-mail-send-btn-bg-submit;
    }
    button[type='reset'] {
      min-width: 30%;
      background: $user-mail-send-btn-bg-reset;
    }
  }
}
