$type: 'Y/02';

/*
  ! 圖片路徑
*/
.notification-outbox__button--submit {
  background-image: url(~@/assets/common/imgs/ui/btn--yellow-dark.jpg);
}

.notification-outbox__button--cancel {
  background-image: url(~@/assets/common/imgs/ui/btn--black.jpg);
}
