@import '../abstracts';

.notification-inbox-detail__ul__li {
  background-color: #0f445d;
  padding-left: 10px;
}

.notification-inbox-detail__ul__li:nth-child(2),
.notification-inbox-detail__ul__li:nth-child(3) {
  background-color: #1c6080;
}
/*
  ! 圖片路徑
*/
.notification-inbox-detail__button--submit {
  background-image: url(~@/assets/common/ui/btn--yellow-dark.jpg);
}

.notification-inbox-detail__button--cancel {
  background-image: url(~@/assets/common/ui/btn--black.jpg);
}
