$type: 'Y/02';

.report-bet-record__detail-table {
  border: 1px solid white;
}

.report-bet-record__detail-table__tr {
  border-top: 1px solid white;
}

/*
  ! 圖片路徑
*/
.report-bet-record__button--return {
  background-image: url(~@/assets/common/imgs/ui/btn--red.jpg);
}
