@import '@/styles/global/abstracts';
@import '../abstracts';

.report-bet-record__detail-table {
  border: 1px solid white;
}

.report-bet-record__detail-table__tr {
  border-top: 1px solid white;
}

.report-bet-record__button--return {
  background-image: $btn-bg-red;
}
