$type: 'Y/01';

.deposit__field__hint {
  color: #707070;
}
.deposit__field__hint--ps {
  color: #f00;
}

.deposit-dialog {
  border: 1px solid #d6c388;
  background-color: black;
}

/*
  ! 圖片路徑
*/

.deposit__field__receipt-upload__label {
  background-image: url(~@/assets/common/imgs/ui/btn--red.jpg);
}

.deposit__button-div--submit {
  background-image: url(~@/assets/common/imgs/ui/btn--red.jpg);
}

.deposit__button-div--cancel {
  background-image: url(~@/assets/common/imgs/ui/btn--black.jpg);
}
