@import '@/styles/global/abstracts';
@import '../abstracts';

// .theme-colorBox {
//   border: 2px solid #c1ae71;
//   background: #000;
// }

.record-image-dialog {
  border: 1px solid #d6c388;
  background-color: black;
}

.record-content__search-form__button--search {
  background-image: $btn-bg-red;
}
