@import '../abstracts';

.withdrawal__light-message {
  color: #ffff00;
}
/*
  ! 圖片路徑
*/

.withdrawal__li__button {
  background-image: url(~@/assets/common/imgs/ui/btn--red.jpg);
}
.withdrawal__button--submit {
  background-image: url(~@/assets/common/imgs/ui/btn--red.jpg);
}
