$type: 'Y/01/03';

.lnk-contact {
  color: #fff;
}

.lnk-contact-qq2,
.lnk-contact-skype2 {
  color: #fff;
}
.lnk-contact-tel {
  color: #fff;
}

/*
  ! 圖片路徑
*/

.li-service-online {
  background-image: url(~@/assets/#{$type}/imgs/main/onlineServicebg.png);
}
// .li-service-download {
//   background-image: url(~@/assets/#{$type}/imgs/main/downloadServicebg.png);
// }
.lnk-contact-service {
  background-image: url(~@/assets/#{$type}/imgs/main/onlineServicebg.png);
}
.lnk-contact-qq {
  background-image: url(~@/assets/#{$type}/imgs/main/qqBg.png);
}
.lnk-contact-mobile {
  background-image: url(~@/assets/#{$type}/imgs/main/mobileBg.png);
}
.lnk-contact-skype {
  background-image: url(~@/assets/#{$type}/imgs/main/skypeBg.png);
}
.lnk-contact-line {
  background-image: url(~@/assets/#{$type}/imgs/main/lineBg.png);
}
.lnk-contact-wechat {
  background-image: url(~@/assets/#{$type}/imgs/main/wechatBg.png);
}
.lnk-contact-facebook {
  background-image: url(~@/assets/#{$type}/imgs/main/FacebookBg.png);
}
.blk-tel {
  background: url(~@/assets/#{$type}/imgs/main/telBg.png) no-repeat;
}
