$type: 'Y/01/03';
/*
  ! 所有圖片路徑不同
*/

.reg-footer {
  background: url(~@/assets/#{$type}/imgs/footer/footerBg.png) no-repeat center top;
}
.ul-footer-toolbar {
  background: url(~@/assets/#{$type}/imgs/footer/toolbarBg.jpg) repeat-x;
}
.li-footer-toolbar {
  background: url(~@/assets/#{$type}/imgs/footer/toolbarBg.jpg) repeat-x;
}
.li-toolbar-active {
  background-image: url(~@/assets/#{$type}/imgs/footer/toolbarBgActive.jpg);
}
.lnk-footer-toolbar {
  background: url(~@/assets/#{$type}/imgs/footer/lnk_toolbar.png) 0px 6px no-repeat;
}
.li-footer-toolbar:after {
  background: url(~@/assets/#{$type}/imgs/footer/lnk_line.png) right top no-repeat;
}
// .noneLoginPopup {
//   background: rgba(0, 0, 0, 0.8) url(~@/assets/#{$type}/imgs/main/Bg-noneLoginPopup.jpg) center center no-repeat;
// }

/*
  index2 的圖片部分
*/
