$type: 'Y/01/03';

.lay-are-pager {
  background-color: #181b23;
}

.table-mgGame .tr-mgGame-selected .td-2nd {
  color: #ffbebc;
}

.table-ptGame .tr-ptGame-selected .td-2nd {
  color: #ffbebc;
}

.blk-rgGame-enter {
  background-color: black;
}

.blk-transferNow {
  background-color: black;
}

.transInfo .txt {
  color: #d6c388;
}

// .blk-account {
//   background-image: url(~@/assets/#{$type}/imgs/main/authBg_account.png);
// }
// .blk-password {
//   background-image: url(~@/assets/#{$type}/imgs/main/authBg_password.png);
// }

.lnk-customPswd {
  color: #000;
  // background: url(~@/assets/#{$type}/imgs/main/lnk_recordlist.jpg) repeat-x;
}

.btn-copy {
  border: 2px solid #d2bd7c;
  background: #b59f59;
  background: -moz-linear-gradient(top, #b59f59 0%, #b7a25f 51%, #b7a25f 51%, #8a7128 51%, #b7a25f 99%);
  background: -webkit-linear-gradient(top, #b59f59 0%, #b7a25f 51%, #b7a25f 51%, #8a7128 51%, #b7a25f 99%);
  background: linear-gradient(to bottom, #b59f59 0%, #b7a25f 51%, #b7a25f 51%, #8a7128 51%, #b7a25f 99%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b59f59', endColorstr='#b7a25f', GradientType=0);
}

.blk-notice {
  color: #959595;
}
.blk-support {
  color: #fff;
}

.are-infoGet:after {
  border-bottom: 1px solid #d2bd7c;
}

.lnk-download {
  color: #ffb000;
}

.blk-customPswd {
  background-color: black;
}

.h3-boxTit {
  color: #fff;
}

.ipt-pswd {
  background-color: black;
}

/*
  ! 圖片路徑
*/

.table-game .tr-game {
  background: url(~@/assets/#{$type}/imgs/ui/bg_list_line.jpg) no-repeat center bottom;
}
.lnk-game-start {
  background-image: url(~@/assets/#{$type}/imgs/ui/btn_start.png);
}
.lnk-game-freeplay {
  background-image: url(~@/assets/#{$type}/imgs/ui/btn_freeplay.png);
}
.lnk-game-favorites {
  background-image: url(~@/assets/#{$type}/imgs/ui/btn_favorites.png);
}
.lnk-game-favorites-selected {
  background-image: url(~@/assets/#{$type}/imgs/ui/btn_favorites_active.png);
}

// .transSwitch .lnk-transAll {
//   background: url(~@/assets/#{$type}/imgs/ui/lnk-trans.png) left center no-repeat;
// }
// .transSwitch .lnk-transAll.on {
//   background: url(~@/assets/#{$type}/imgs/ui/lnk-trans-on.png) left center no-repeat;
// }
// .transSwitch .lnk-transPart {
//   background: url(~@/assets/#{$type}/imgs/ui/lnk-trans2.png) left center no-repeat;
// }
// .transSwitch .lnk-transPart.on {
//   background: url(~@/assets/#{$type}/imgs/ui/lnk-trans2-on.png) left center no-repeat;
// }
// .blk-logoApp {
//   background: url(~@/assets/#{$type}/imgs/main/jdbLogo.png) center no-repeat;
// }
// .blk-account {
//   background-image: url(~@/assets/#{$type}/imgs/main/authBg_account.png);
// }
// .blk-password {
//   background-image: url(~@/assets/#{$type}/imgs/main/authBg_password.png);
// }
// .lnk-customPswd {
//   background: url(~@/assets/#{$type}/imgs/main/lnk_recordlist.jpg) repeat-x;
// }
// .lnk-customPswd:before {
//   background: url(~@/assets/#{$type}/imgs/main/jdbIcon.png) left center no-repeat;
// }
// .are-infoApp {
//   background: url(~@/assets/#{$type}/imgs/main/jdbBg.png) 10px top no-repeat;
// }
// .lnk-download i {
//   background: url(~@/assets/#{$type}/imgs/main/jdbIcon-download.png) left center no-repeat;
// }
