$type: 'Y/01/03';

.login__form__link {
  color: #fff;
}

.login__form__submit {
  background-image: url(~@/assets/common/imgs/ui/btn--yellow.jpg);
}
/*
  ! 圖片路徑
*/

.login__form__field--account {
  background-image: url(~@/assets/#{$type}/imgs/main/authBg_account.png);
}
.login__form__field--password {
  background-image: url(~@/assets/#{$type}/imgs/main/authBg_password.png);
}
.login__form__field--code {
  background-image: url(~@/assets/#{$type}/imgs/main/authBg_code.png);
}
.login__form__link--regist {
  background-image: url(~@/assets/#{$type}/imgs/main/registerBg.png);
}
.login__form__link--forget {
  background-image: url(~@/assets/#{$type}/imgs/main/forgetBg.png);
}
// .lnk-open {
//   background-image: url(~@/assets/#{$type}/imgs/main/open.png);
// }
// .lnk-download {
//   background-image: url(~@/assets/#{$type}/imgs/main/download.png);
// }
