@import './abstracts';
@import './transition';
@import './animation';

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  outline: none;
}

button:disabled {
  opacity: 0.6;
  pointer-events: none;
  user-select: none;
}

.text-center {
  text-align: center;
}

.text-red {
  color: red;
}
