/* #layout@common */

* {
  box-sizing: border-box;
}

html,
body,
header,
footer {
  max-width: 720px;
  color: #fff;
  // font: 13px 'Microsoft JhengHei', Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  outline: none;
}

.text-center {
  text-align: center;
}

.text-red {
  color: red;
}
