.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.slide-dropdown-enter-active,
.slide-dropdown-leave-active {
  transition: transform 0.3s ease-in-out;
}
.slide-dropdown-enter,
.slide-dropdown-leave-to {
  transform: scaleY(0);
}

.slide-dropdown-height-enter-active,
.slide-dropdown-height-leave-active {
  transition: all 0.5s;
  max-height: 10000px;
}
.slide-dropdown-height-enter,
.slide-dropdown-height-leave-to {
  max-height: 0;
  opacity: 0;
}

.list-zoom-item {
  transition: all 0.5s ease-in-out;
}
.list-zoom-leave-active {
  position: absolute !important;
}
.list-zoom-enter,
.list-zoom-leave-to {
  transform: scale(0);
  opacity: 0;
}
.list-zoom-move {
  transition: all transform 0.5s;
}
