@mixin game-lobby {
  background: $game-lobby-bg;
  height: 100%;
  padding: 15px 0;
}

@mixin game-lobby-product {
}

@mixin game-lobby-category {
}

@mixin game-lobby-search {
}

@mixin game-lobby-list {
}

@mixin game-lobby-list-icon {
}

@mixin game-transfer-dialog {
}
