@mixin game-lobby {
  background: $game-lobby-bg;
  height: 100%;
  padding: 15px 0 15px 10px;

  .ui-panel-tab {
    &__tabs {
      padding: 5px 0;
      flex-basis: 20%;
    }

    &__content {
      flex-basis: 80%;
    }
  }
}

@mixin game-lobby-product {
}

@mixin game-lobby-category {
  margin: 5px 0 10px 0;
}
@mixin game-lobby-list-icon {
  width: 100%;
  height: calc(100% - #{$nav-tab-height} - 15px);
  display: flex;
  overflow-x: auto;
  position: relative;

  &__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    overflow-x: auto;
  }

  &__item {
    width: 32%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-right: 5px;
    position: relative;

    &__icon {
      width: 100%;
      flex-basis: 80%;
      max-height: 80%;
    }

    &__text {
      width: 100%;
      flex-basis: 20%;
      text-align: center;
      align-self: center;
    }

    &__fav {
      background: $game-lobby-list-icon-item-fav-bg;
      width: $game-lobby-list-icon-item-fav-width;
      height: $game-lobby-list-icon-item-fav-height;
      position: absolute;
      top: 0;
      right: 0;

      &.active {
        background: $game-lobby-list-icon-item-fav-bg-active;
      }
    }
  }
}

@mixin game-lobby-search {
  background: $game-lobby-search-bg;
  width: $game-lobby-search-width;
  height: $game-lobby-search-height;
  position: fixed;
  top: 0;
  right: 60px;

  &__form {
    height: 100%;
    display: flex;
    align-items: center;
  }

  &__input {
    width: $game-lobby-search-input-width;
    height: 80%;
  }

  &__btn {
    &--submit {
      width: $game-lobby-search-icon-width;
      height: 80%;
      background: $game-lobby-search-icon-bg;
    }
  }
}

@mixin game-transfer-dialog {
}
