@mixin home {
  padding: 15px 0;

  height: 100vh - $header-height;
  &__main {
    height: 80%;

    &__tabs {
      height: 90%;
    }

    &__content {
    }
  }

  &__footer {
    height: 20%;
    background: green;

    display: flex;
    align-items: center;
    justify-content: space-between;

    > div {
      height: 100%;
      display: flex;
      align-items: center;
    }

    &__left {
    }

    &__center {
    }

    &__right {
    }

    &__icon {
      display: inline-block;
      width: 50px;
      height: 100%;
      margin-right: 5px;

      &--promotion {
        background: black;
      }
      &--mail {
        background: blue;
      }
      &--fav {
        background: red;
      }
      &--contact {
        background: orange;
      }
    }
  }
}

@mixin news-marquee {
  width: 100%;
  height: $news-marquee-icon-height;
  background: $news-marquee-bg;
  color: $news-marquee-label-color;
  font-size: 1.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;

  &__icon {
    display: inline-block;
    background: $news-marquee-icon-bg;
    width: $news-marquee-icon-width;
    height: $news-marquee-icon-height;
  }

  &__window {
    margin-left: 10px;
    padding: 15px;
    display: inline-block;
    width: 500px;
    height: 100%;

    a {
      display: inline;
      white-space: nowrap;
      font-size: 2rem;
      margin-right: 100px;

      color: $news-marquee-link-color;
    }
  }
}
