@mixin pagination {
  width: 100%;
  margin: 20px 0;
  // font-size: 2rem;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;

  select {
    flex-basis: 20%;
    background: $pagination-select-bg;
    color: $pagination-select-color;
    appearance: none;
    height: 65px;
    padding-left: 30px;
    border: none;
  }

  > a {
    flex-basis: 20%;
    height: 65px;

    &:first-child {
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
    }

    &:last-child {
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
    }
  }

  &__prev {
    background: $pagination-prev-bg;
    &--more {
      background: $pagination-prev-more-bg;
    }
  }

  &__next {
    background: $pagination-next-bg;
    &--more {
      background: $pagination-next-more-bg;
    }
  }
}
