@mixin withdrawal {
  // &-form {
  //   display: flex;
  // }

  &__field--transfer {
    display: flex;

    &__wallet {
      flex-grow: 1;
    }
    &__btn {
      padding-right: 15px;
    }
  }

  &__notice {
    a {
      text-decoration: $withdrawal-notice-link-underline;
    }
  }
}
