$type: 'Y/01/02';

.about {
  color: #000;
}

/*
  ! 圖片路徑
*/

.li-gameIntro-toolbar {
  background: url(~@/assets/#{$type}/imgs/ui/gameIntro_sort.png) center top no-repeat;
}
// .img-gameIntro {
//   background: url(~@/assets/#{$type}/imgs/game/gameIntro-01.jpg) center top no-repeat;
// }
// .img-gameIntro-01 {
//   background-image: url(~@/assets/#{$type}/imgs/game/gameIntro-01.jpg);
// }
// .img-gameIntro-02 {
//   background-image: url(~@/assets/#{$type}/imgs/game/gameIntro-02.jpg);
// }
// .img-gameIntro-03 {
//   background-image: url(~@/assets/#{$type}/imgs/game/gameIntro-03.jpg);
// }
