$type: 'Y/01/02';

.forget-password {
  background: #04354c;
  height: 78vh;
  margin-bottom: -30px;
}

/*
  ! 圖片路徑
*/

.are-desc {
  background: url(~@/assets/#{$type}/imgs/main/forgetDescBg.png) no-repeat center top;
}
