$type: 'Y/01/02';

.game {
  background-color: #1c6080;
}

.lay-are-pager {
  background-color: #1c6080;
}

/*
  ! 圖片路徑
*/
.table-game .tr-game {
  background: url(~@/assets/#{$type}/imgs/ui/bg_list_line.jpg) no-repeat center bottom;
}
.lnk-game-start {
  background-image: url(~@/assets/#{$type}/imgs/ui/btn_start.png);
}
.lnk-game-freeplay {
  background-image: url(~@/assets/#{$type}/imgs/ui/btn_freeplay.png);
}
.lnk-game-favorites {
  background-image: url(~@/assets/#{$type}/imgs/ui/btn_favorites.png);
}
.lnk-game-favorites-selected {
  background-image: url(~@/assets/#{$type}/imgs/ui/btn_favorites_active.png);
}