$type: 'Y/01/02';

.login__form__field {
  outline: 3px solid #2b7d9c;
}
.login__form__link {
  color: #1b607f;
}

.login__form__field__input {
  color: #000;
}

/*
  ! 圖片路徑
*/

.login__form__field--account {
  background: #fff url(~@/assets/#{$type}/imgs/main/authBg_account.png) 8px center no-repeat;
}
.login__form__field--password {
  background: #fff url(~@/assets/#{$type}/imgs/main/authBg_password.png) 8px center no-repeat;
}
.login__form__field--code {
  background: #fff url(~@/assets/#{$type}/imgs/main/authBg_code.png) 8px center no-repeat;
}
.login__form__link--regist {
  background-image: url(~@/assets/#{$type}/imgs/main/registerBg.png);
}
.login__form__link--forget {
  background-image: url(~@/assets/#{$type}/imgs/main/forgetBg.png);
}

// .lnk-open {
//   background-image: url(~@/assets/#{$type}/imgs/main/open.png);
// }
// .lnk-download {
//   background-image: url(~@/assets/#{$type}/imgs/main/download.png);
// }
