$type: 'Y/01/02';


.promotion {
  .promotion--list {
    .promotion--list--img {
      outline: 2px solid #fff;
    }
  }
}

.txt-bonus {
  color: #fff;
}

/*
  ! 圖片路徑
*/
.lnk-bonus {
  background: url(~@/assets/#{$type}/imgs/main/freeGo-bg.jpg) left top repeat-x;
}
.icn-bonus {
  background: url(~@/assets/#{$type}/imgs/main/bonusVIP.png) left top no-repeat;
}
.txt-bonus {
  background: url(~@/assets/#{$type}/imgs/main/freeGo-arrow.png) right center no-repeat;
}
