$type: 'Y/01/02';

.register {
  background-color: #04354c;
}

.register__form__field {
  outline: 3px solid #2b7d9c;
}

.register__form__field ::placeholder {
  color: #fff;
}

.register__form__field__hint {
  color: #fff;
}
.register__notice__ol {
  color: #fff;
}
.register__form_send {
  background-image: url(~@/assets/common/imgs/ui/btn--yellow-dark.jpg);
}

.register__form__reset {
  background-image: url(~@/assets/common/imgs/ui/btn--red.jpg);
}

/*
  ! 圖片路徑
*/

.register__form__field--recommend {
  background: #1c6080 url(~@/assets/#{$type}/imgs/main/authBg_recommend.png) 8px center no-repeat;
}
.register__form__field--account {
  background: #1c6080 url(~@/assets/#{$type}/imgs/main/authBg_account.png) 8px center no-repeat;
}
.register__form__field--password {
  background: #1c6080 url(~@/assets/#{$type}/imgs/main/authBg_password.png) 8px center no-repeat;
}
.register__form__field--callphone {
  background: #1c6080 url(~@/assets/#{$type}/imgs/main/authBg_callphone.png) 8px center no-repeat;
}
.register__form__field--name {
  background: #1c6080 url(~@/assets/#{$type}/imgs/main/authBg_name.png) 8px center no-repeat;
}
.register__form__field--code {
  background: #1c6080 url(~@/assets/#{$type}/imgs/main/authBg_code.png) 8px center no-repeat;
}

.register__form__reset {
  background-image: url(~@/assets/#{$type}/imgs/ui/btn03.jpg);
}
