@import './_abstracts';
@import '@/styles/Z/_default/transaction-transfer';

$transfer-btn-bg-switch: assetPath('ui/ui-transfer.png') center no-repeat, $btn-bg-red;

$transfer-btn-shadow-switch: 0 2px 2px 0px rgba(0, 0, 0, 0.8);

$transfer-btn-bg-submit: $btn-bg-yellow;
$transfer-btn-color-submit: black;
$transfer-btn-shadow-submit: 0 2px 2px 0px rgba(0, 0, 0, 0.8);

.transfer {
  @include transfer;
}
