@import './_abstracts';
@import '@/styles/Z/_default/transaction-transfer';

$transfer-btn-bg-switch: assetPath('ui/ui-transfer.png') center no-repeat,
  linear-gradient(to bottom, #f59898 3%, #ff5b55 4%, #d83b37 100%);

$transfer-btn-shadow-switch: 0 2px 2px 0px rgba(0, 0, 0, 0.8);

$transfer-btn-bg-submit: linear-gradient(to bottom, #ffe97c 0%, #dca650 50%, #af843c 100%);
$transfer-btn-color-submit: black;
$transfer-btn-shadow-submit: 0 2px 2px 0px rgba(0, 0, 0, 0.8);

.transfer {
  @include transfer;

  .ui-point-list {
    background: #213931;
  }
}
