// 版號變數, function, mixin, extend 等不會產生實際 class 的屬性

// function
@function assetPath($path) {
  @return url('~@/assets/Z/01/#{$path}');
}

$base-bg: white;
$base-text-color: white;
$base-font-size: 16px;
$base-font-family: 'Microsoft YaHei', Arial, Helvetica, 'Zawgyi-One', sans-serif;

$header-height: 130px;
$header-sub-height: auto;

$footer-height: 119px;

$text-color-z-01-brown: #462b16;
$text-color-z-01-yellow-dark: #f9bd06;
$text-color-z-01-yellow-dark-2: #cbaa6d;

$btn-bg-z-01-yellow-light: #caad76;
$btn-bg-z-01-gray: #6d6d6d;
$btn-bg-z-01-brown: #462b16;

@mixin ui-btn {
  display: inline-block;
  height: 89px;
  font-size: 2rem;
  border-radius: 5px;
  text-align: center;
  border: none;

  &--block {
    display: block;
    width: 100%;

    &-9 {
      width: 90%;
    }
    &-8 {
      width: 80%;
    }
    &-7 {
      width: 70%;
    }
    &-6 {
      width: 60%;
    }
    &-5 {
      width: 50%;
    }
  }
}

@mixin ui-field {
  // width: 593px;
  width: 80%;
  min-height: 89px;
  // margin: 15px auto;
  background: #444444;
  padding: 4%;
  border-radius: 5px;
  position: relative;

  &__label {
    min-width: 15%;
    color: #cbaa6d;
  }

  &__input {
    margin-left: 20px;
    background: transparent;
    border: none;
    vertical-align: top;

    &::placeholder {
      color: rgb(117, 117, 117);
    }
  }

  &__captcha {
    position: absolute;
    right: 30px;
  }
}
