// 版號變數, function, mixin, extend 等不會產生實際 class 的屬性

// function
@function assetPath($path) {
  @return url('~@/assets/Z/01/#{$path}');
}

$header-height: 130px;
$header-sub-height: 80px;
$footer-height: 119px;
