@import './abstracts';

body {
  background: $base-bg;
  color: $base-text-color;
  font-size: $base-font-size;
  font-family: $base-font-family;
}

.ui-btn {
  @include ui-btn;
}

.ui-btn--block {
  @include ui-btn;
  @include ui-btn--block;
}
