@import './abstracts';

.contact__content__ul__li__link {
  color: #fff;
}

.contact__content__ul__li__block__link {
  color: #fff;
}

.contact__content__ul__li__block--tel {
  background: linear-gradient(to bottom, #fd1b1b 0%, #a71313 100%);
}

/*
  ! 圖片路徑
*/
