@import './abstracts';
@import '@/styles/Y/_default/footer';

$footer-bg: none;

.footer {
  @include footer;
}

$footer-nav-bg: #cbaa6d;
$footer-nav-item-bg: transparent;
$footer-nav-item-bg-active: transparent;
$footer-nav-link-bg: assetPath('footer/lnk_toolbar.png') no-repeat;
$footer-nav-item-border-bg: none;
$footer-nav-link-color: white;

.footer-nav {
  @include footer-nav;
  &__item {
    &__link {
      color: black;
    }

    &.home {
      > a {
        background: assetPath('header/btn_home.png') center 10px no-repeat;
      }
    }
    &.login {
      background-color: #462b16;
      > a {
        color: white;
        background-position: center -250px;
      }
    }
    &.promotion {
      > a {
        background-position: center -378px;
      }
    }
    &.contact {
      > a {
        background-position: center -16px;
      }
    }
    &.transaction {
      background-color: #462b16;
      > a {
        color: white;
        background-position: center -145px;
      }
    }
  }
}
