@import './abstracts';

$footer-bg: none;

.footer {
  background: $footer-bg;
}

$footer-nav-bg: #cbaa6d;
$footer-nav-item-bg: assetPath('footer/ui-footer-toolbar.png') no-repeat;
// $footer-nav-item-bg-active: assetPath('footer/lnk_toolbar.png') no-repeat;
$footer-nav-item-border-bg: none;

.footer-nav {
  background: $footer-nav-bg;
  &__item {
    background: $footer-nav-item-bg;

    &__link {
      color: black;
    }

    &.home {
      background: assetPath('header/lnk-home.png') center 10px no-repeat;
    }
    &.login {
      background-position: center -250px;
      background-color: #462b16;
      > a {
        color: white;
      }
    }
    &.promotion {
      background-position: center -378px;
    }
    &.contact {
      background-position: center -16px;
    }
    &.transaction {
      background-position: center -145px;
      background-color: #462b16;
      > a {
        color: white;
      }
    }

    &:after {
      background: $footer-nav-item-border-bg;
    }
  }
  // &__item.active {
  //   background: $footer-nav-item-bg-active;
  // }
}
