@import './_abstracts';
@import '@/styles/Y/_default/forget-password';

$forget-password-bg: none;

$forget-password-title-color: black;
$forget-password-icon-bg: assetPath('forget-password/forgetDescBg.png') center no-repeat;
$forget-password-icon-width: 216px;
$forget-password-icon-height: 252px;
$forget-password-desc-color: #8b8b8b;

.forget-password {
  @include forget-password;
}
