@import './_abstracts';
@import '@/styles/Z/_default/game';

$game-bg: none;

.game {
  @include game;

  padding-top: 0;

  &-lobby {
    &-auth {
      padding-top: $header-sub-height-auth;
    }
  }
}

$game-lobby-jackpot-bg-en-us: assetPath('game-lobby/bg_jackpot.png') center no-repeat;
$game-lobby-jackpot-bg-th-th: assetPath('game-lobby/bg_jackpot.png') center no-repeat;
$game-lobby-jackpot-bg-zh-cn: assetPath('game-lobby/bg_jackpot.png') center no-repeat;
$game-lobby-jackpot-text-color: white;
$game-lobby-jackpot-text-bg: white;

.game-lobby-jackpot {
  @include game-lobby-jackpot;
}

$game-lobby-product-bg: #cbaa6d;
$game-lobby-product-item-bg-active: #462b16;
$game-lobby-product-icon-width: 90px;
$game-lobby-product-icon-height: 50px;
$game-lobby-product-icon-bg-1180: assetPath('game-lobby/1260.png') center top no-repeat;
$game-lobby-product-icon-bg-1180-active: assetPath('game-lobby/1260-active.png') center top no-repeat;
$game-lobby-product-icon-bg-1240: assetPath('game-lobby/1240.png') center top no-repeat;
$game-lobby-product-icon-bg-1240-active: assetPath('game-lobby/1240-active.png') center top no-repeat;
$game-lobby-product-icon-bg-1250: assetPath('game-lobby/1250.png') center top no-repeat;
$game-lobby-product-icon-bg-1250-active: assetPath('game-lobby/1250-active.png') center top no-repeat;
$game-lobby-product-icon-bg-1260: assetPath('game-lobby/1260.png') center top no-repeat;
$game-lobby-product-icon-bg-1260-active: assetPath('game-lobby/1260-active.png') center top no-repeat;
$game-lobby-product-icon-bg-1270: assetPath('game-lobby/1270.png') center top no-repeat;
$game-lobby-product-icon-bg-1270-active: assetPath('game-lobby/1270-active.png') center top no-repeat;
$game-lobby-product-icon-bg-1280: assetPath('game-lobby/1280.png') center top no-repeat;
$game-lobby-product-icon-bg-1280-active: assetPath('game-lobby/1280-active.png') center top no-repeat;
$game-lobby-product-icon-bg-1300: assetPath('game-lobby/1300.png') center top no-repeat;
$game-lobby-product-icon-bg-1300-active: assetPath('game-lobby/1300-active.png') center top no-repeat;
$game-lobby-product-icon-bg-1310: assetPath('game-lobby/1310.png') center top no-repeat;
$game-lobby-product-icon-bg-1310-active: assetPath('game-lobby/1310-active.png') center top no-repeat;
$game-lobby-product-icon-bg-1340: assetPath('game-lobby/1340.png') center top no-repeat;
$game-lobby-product-icon-bg-1340-active: assetPath('game-lobby/1340-active.png') center top no-repeat;
$game-lobby-product-icon-bg-1350: assetPath('game-lobby/1350.png') center top no-repeat;
$game-lobby-product-icon-bg-1350-active: assetPath('game-lobby/1350-active.png') center top no-repeat;
$game-lobby-product-icon-bg-1360: assetPath('game-lobby/1360.png') center top no-repeat;
$game-lobby-product-icon-bg-1360-active: assetPath('game-lobby/1360-active.png') center top no-repeat;
$game-lobby-product-icon-bg-1370: assetPath('game-lobby/1370.png') center top no-repeat;
$game-lobby-product-icon-bg-1370-active: assetPath('game-lobby/1370-active.png') center top no-repeat;
$game-lobby-product-icon-bg-1380: assetPath('game-lobby/1380.png') center top no-repeat;
$game-lobby-product-icon-bg-1380-active: assetPath('game-lobby/1380-active.png') center top no-repeat;
$game-lobby-product-icon-bg-1390: assetPath('game-lobby/1390.png') center top no-repeat;
$game-lobby-product-icon-bg-1390-active: assetPath('game-lobby/1390-active.png') center top no-repeat;
$game-lobby-product-icon-bg-1400: assetPath('game-lobby/1400.png') center top no-repeat;
$game-lobby-product-icon-bg-1400-active: assetPath('game-lobby/1400-active.png') center top no-repeat;

.game-lobby-product {
  @include game-lobby-product;
}

$game-lobby-category-bg: #462b16;
$game-lobby-category-text-color: #959595;
$game-lobby-category-text-color-active: #cbaa6d;

.game-lobby-category {
  @include game-lobby-category;
}

$game-lobby-search-bg: none;

$game-lobby-search-input-width: 255px;
$game-lobby-search-input-color: white;
$game-lobby-search-input-bg: #444444;
$game-lobby-search-input-height: 53px;

$game-lobby-search-icon-bg: assetPath('ui/bg_lnk_inquire.png') center no-repeat;
$game-lobby-search-icon-width: 53px;
$game-lobby-search-icon-height: 54px;

$game-lobby-search-fav-bg: assetPath('ui/ipt_favorites.png') center no-repeat;
$game-lobby-search-fav-width: 56px;
$game-lobby-search-fav-height: 59px;

$game-lobby-search-transfer-bg: assetPath('ui/btnTrans.png') #ccaf78 left center no-repeat;
$game-lobby-search-transfer-color: white;
$game-lobby-search-transfer-width: 240px;
$game-lobby-search-transfer-height: 59px;

.game-lobby-search {
  @include game-lobby-search;

  &__btn {
    &--transfer {
      border-radius: 10px;
    }
  }
}

$game-lobby-list-table-bg: none;
$game-lobby-list-table-tr-bg: none;
$game-lobby-list-table-tr-border-bottom: 2px solid #e0e0e0;

$game-lobby-list-table-title-color: black;
$game-lobby-list-table-content-color: black;

$game-lobby-list-link-bg-start: assetPath('ui/btn_start.png');
$game-lobby-list-link-bg-free: assetPath('ui/btn_freeplay.png');
$game-lobby-list-link-bg-fav: assetPath('ui/btn_favorites.png');
$game-lobby-list-link-bg-fav-active: assetPath('ui/btn_favorites_active.png');

.game-lobby-list {
  @include game-lobby-list;
}

$game-lobby-list-icon-item-text-color: black;

.game-lobby-list-icon {
  @include game-lobby-list-icon;
}

$game-transfer-dialog-bg: white;
$game-transfer-dialog-border: 1px solid #c1ae71;

$game-transfer-dialog-title-color: black;
$game-transfer-dialog-label-color: #c6a96d;
$game-transfer-dialog-content-color: black;

$game-transfer-dialog-switch-width: 271px;
$game-transfer-dialog-switch-left: assetPath('ui/lnk-trans.png') transparent left no-repeat;
$game-transfer-dialog-switch-left-on: assetPath('ui/lnk-trans-on.png') transparent left no-repeat;
$game-transfer-dialog-switch-right: assetPath('ui/lnk-trans2.png') transparent right no-repeat;
$game-transfer-dialog-switch-right-on: assetPath('ui/lnk-trans2-on.png') transparent right no-repeat;

$game-transfer-dialog-input-bg: #444444;
$game-transfer-dialog-input-color: white;

$game-transfer-dialog-btn-bg-submit: $btn-bg-z-01-brown;
$game-transfer-dialog-btn-color-submit: white;

.game-transfer-dialog {
  @include game-transfer-dialog;
}

$live-game-enter-dialog-bg: white;
$live-game-enter-dialog-border: 1px solid #c1ae71;
$live-game-enter-dialog-btn-bg: $btn-bg-z-01-brown;
$live-game-enter-dialog-btn-color: white;

.live-game-enter-dialog {
  @include live-game-enter-dialog;
}
