@import './abstracts';
@import '@/styles/Y/_default/home';

.home {
  @include home;
}

$home-banner-height: 431px;
$home-banner-button-width: 100px;
$home-banner-button-height: 100px;
$home-banner-button-bg-prev: url(~@/assets/common/banner/prev.png) no-repeat center center;
$home-banner-button-bg-next: url(~@/assets/common/banner/next.png) no-repeat center center;

.home-banner {
  @include home-banner;
}

$home-game-bg: assetPath('layout/bg_index2.jpg') no-repeat;
$home-game-text-color: white;
$home-game-maintain-bg: assetPath('game/btn_maintain.png') no-repeat;

.home-game {
  @include home-game;
}

.home-lottery {
  @include home-lottery;
}
