@import './_abstracts';
@import '@/styles/Z/_default/maintenance';

$maintenance-bg: none;
$maintenance-text-color: black;
$maintenance-button-bg: $btn-bg-z-01-brown;
$maintenance-button-color: white;

$footer-logo-bg-1: assetPath('maintenance/footer_logo1.png');
$footer-logo-bg-2: assetPath('maintenance/footer_logo2.png');
// $footer-logo-bg-3: assetPath('maintenance/footer_logo3.png'); 正式站未顯示
$footer-logo-bg-4: assetPath('maintenance/footer_logo4.png');
// $footer-logo-bg-5: assetPath('maintenance/footer_logo5.png'); 需由後端決定
$footer-logo-bg-6: assetPath('maintenance/footer_logo6.png');

.maintenance {
  @include maintenance;
}
