@import './_abstracts';
@import '@/styles/Z/_default/promotion';

.promotion {
  @include promotion;
}

$promotion-detail-title-bg: assetPath('ui/ui-event.png') #c8aa73 no-repeat;
$promotion-detail-title-color: black;
$promotion-detail-content-text-color: white;
$promotion-detail-button-bg-back: $btn-bg-z-01-brown;
$promotion-detail-button-text-color-back: white;

.promotion-detail {
  @include promotion-detail;

  &__main__button--back {
    width: 80%;
  }
}
