@import './abstracts';
@import '@/styles/Z/_default/transaction-transfer';

$transfer-btn-bg-switch: assetPath('ui/ui-transfer.png') $btn-bg-z-01-brown center no-repeat;
$transfer-btn-bg-submit: $btn-bg-z-01-brown;
$transfer-btn-color-submit: white;
$transfer-btn-shadow-submit: none;
.transfer {
  @include transfer;
}
