@import './_abstracts';
@import '@/styles/L/_default/game';

$game-lobby-bg: none;

.game-lobby {
  @include game-lobby;
}

$game-lobby-product-bg: #cbaa6d;
$game-lobby-product-item-bg-active: #462b16;
$game-lobby-product-item-color: white;
$game-lobby-product-item-color-active: white;

.game-lobby-product {
  @include game-lobby-product;
}

$game-lobby-category-bg: #462b16;
$game-lobby-category-text-color: #959595;
$game-lobby-category-text-color-active: #cbaa6d;

.game-lobby-category {
  @include game-lobby-category;
}

// $game-lobby-list-icon-item-img-width: 50px;
$game-lobby-list-icon-item-text-color: black;

$game-lobby-list-icon-item-fav-bg: assetPath('game-lobby/btn_favorites.png') center/cover no-repeat;
$game-lobby-list-icon-item-fav-bg-active: assetPath('game-lobby/btn_favorites_active.png') center/cover no-repeat;
$game-lobby-list-icon-item-fav-width: 30px;
$game-lobby-list-icon-item-fav-height: 30px;

.game-lobby-list-icon {
  @include game-lobby-list-icon;
}

$game-lobby-search-bg: none;
$game-lobby-search-width: 200px;
$game-lobby-search-height: $header-height;

$game-lobby-search-position-right: 60px;

$game-lobby-search-input-bg: #444444;
$game-lobby-search-input-width: 140px;
$game-lobby-search-input-color: white;

$game-lobby-search-icon-bg: assetPath('game-lobby/bg_lnk_inquire.png') center/cover no-repeat;
$game-lobby-search-icon-width: 53px;

.game-lobby-search {
  @include game-lobby-search;
}

$game-transfer-dialog-bg: white;
$game-transfer-dialog-border: 1px solid #c1ae71;

$game-transfer-dialog-header-bg: white;
$game-transfer-dialog-title-color: black;
$game-transfer-dialog-label-color: #c6a96d;
$game-transfer-dialog-wallet-color: black;
$game-transfer-dialog-amount-color: black;

$game-transfer-dialog-switch-width: 271px;
$game-transfer-dialog-switch-color: #686868;
$game-transfer-dialog-switch-color-active: black;
$game-transfer-dialog-switch-left: assetPath('ui/lnk-trans.png') transparent left no-repeat;
$game-transfer-dialog-switch-left-on: assetPath('ui/lnk-trans-on.png') transparent left no-repeat;
$game-transfer-dialog-switch-right: assetPath('ui/lnk-trans2.png') transparent right no-repeat;
$game-transfer-dialog-switch-right-on: assetPath('ui/lnk-trans2-on.png') transparent right no-repeat;

$game-transfer-dialog-input-bg: #444444;
$game-transfer-dialog-input-color: white;

$game-transfer-dialog-btn-bg-submit: #462b16;
$game-transfer-dialog-btn-color-submit: white;

.game-transfer-dialog {
  @include game-transfer-dialog;
}
