@import './_abstracts';
@import '@/styles/L/_default/home';

.home {
  @include home;
}

$news-marquee-bg: #e5e5e5;
$news-marquee-height: 70px;
$news-marquee-label-color: #8b8b8b;
$news-marquee-icon-bg: assetPath('ui/ui-horn.png') center no-repeat;
$news-marquee-icon-width: 35px;
$news-marquee-icon-height: 35px;
$news-marquee-link-color: #8b8b8b;

.news-marquee {
  @include news-marquee;
}
