@import '@/styles/global/abstracts';

// function
@function assetPath($path) {
  @return url('~@/assets/PA/01/#{$path}');
}

$base-bg: assetPath('ui/bg-mask.png') center/100% 100% no-repeat, assetPath('ui/bg.png') center/100% 100% no-repeat;
$base-text-color: black;
$base-font-size: 16px;
$base-font-family: 'Microsoft YaHei', Arial, Helvetica, 'Zawgyi-One', sans-serif;

$header-height: 10%;
$header-sub-height: 0px;
$header-sub-height-auth: 0px;

$footer-height: 119px;

$btn-height: 89px;

$btn-bg-yellow-light: #caad76;
$btn-bg-brown: #462b16;

$field-font-size: 2rem;
$field-bg: #444444;
$field-input-color: white;
$field-input-color-placeholder: rgb(117, 117, 117);
$field-select-bg: assetPath('ui/ui-arrow-select.png') #444444 97% center no-repeat;
$field-select-color: #c8aa73;
$field-label-color: #cbaa6d;
$field-label-color-checkbox: white;
$field-error-bg: #c8aa73;
$field-error-color: black;
$field-star-color: #c8aa73;
$field-textarea-label-color: #959595;
$field-textarea-bg: #2c2d2e;
$field-textarea-color: white;
$field-textarea-shadow: inset 0px 3px 14px 0px rgba(0, 0, 0, 0.8);
$field-textarea-border-radius: 0px;

$notice-color: #8b8b8b;
$notice-font-size: 1rem;
// $notice-line-height: 1rem;
$notice-height-light-color: red;

$step-color: $base-text-color;
$step-border: 4px solid #c8aa73;

$point-list-bg: #444444;
$point-list-label-color: #cbaa6d;
$point-list-content-color: white;
$point-list-border-bg: black;
$point-list-border-shadow: 0px -2px #8b8b8b;

$table-bg: #444444;
$table-th-bg: #444444;
$table-th-color: #cbaa6d;
$table-tr-border-bottom: 1px solid black;
$table-tr-shadow: 0px -2px #8b8b8b;
$table-td-color: white;
$table-td-border: 2px solid #555;

$nav-tab-height: 25px;
$nav-tab-text-color: #8b8b8b;
$nav-tab-text-color-active: #c8aa73;
$nav-tab-border-bottom: 3px solid #8b8b8b;
$nav-tab-border-bottom-active: 3px solid #c8aa73;
$nav-tab-arrow-width: 50px;
$nav-tab-arrow-bg-left-promotion: assetPath('ui/ui-arrow-maskLeft.png') left/contain no-repeat,
  linear-gradient(to right, rgb(255, 255, 255, 1) 0%, rgb(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0));
$nav-tab-arrow-bg-right-promotion: assetPath('ui/ui-arrow-maskRight.png') right/contain no-repeat,
  linear-gradient(to left, rgb(255, 255, 255, 1) 0%, rgb(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0));

$nav-tab-arrow-bg-left-game-category: assetPath('ui/ui-arrow-maskLeft.png') left/contain no-repeat,
  linear-gradient(to right, rgb(70, 43, 22, 1) 0%, rgb(70, 43, 22, 1) 50%, rgba(70, 43, 22, 0));
$nav-tab-arrow-bg-right-game-category: assetPath('ui/ui-arrow-maskRight.png') right/contain no-repeat,
  linear-gradient(to left, rgb(70, 43, 22, 1) 0%, rgb(70, 43, 22, 1) 50%, rgba(70, 43, 22, 0));

$panel-tab-item-bg: assetPath('ui/ui-panel-tab-bg.png') center/cover no-repeat;
$panel-tab-item-color: #462b16;
$panel-tab-item-bg-active: assetPath('ui/ui-panel-tab-bg-active.png') center/cover no-repeat;
$panel-tab-item-color-active: white;
$panel-tab-content-bg: none;
$panel-tab-content-left-border: 1px solid transparent;
$panel-tab-content-left-border-image: assetPath('ui/ui-panel-tab-border.png') 12 round;
$panel-tab-content-arrow-width: 32.5px;
$panel-tab-content-arrow-height: 66px;
$panel-tab-content-arrow-bg-left: assetPath('ui/ui-panel-tab-arrow-left.png') center/100% 100% no-repeat;
$panel-tab-content-arrow-bg-right: assetPath('ui/ui-panel-tab-arrow-right.png') center/100% 100% no-repeat;
$panel-tab-content-arrow-width-y: 3%;
$panel-tab-content-arrow-height-y: 6%;
$panel-tab-content-arrow-bg-bottom: assetPath('ui/ui-panel-tab-arrow-bottom.png') center/100% 100% no-repeat;

// $box-close-bg: gray;
// $box-close-size: 24px;
// $box-close-top: -8px;
// $box-close-right: -8px;
// $box-close-line-color: white;
// $box-close-line-width: 2px;

$go-top-btn-bg: assetPath('ui/goTOP.png') center no-repeat;
$go-top-btn-width: 58px;
$go-top-btn-height: 58px;
$go-top-btn-bottom: $footer-height + 30;
$go-top-btn-right: 30px;

$lottery-btn-block-bottom: $footer-height + 30;
$lottery-btn-block-left: 0px;
// $lottery-btn-block-win-wheel-bg: assetPath('lottery/rotaryTable.png') center no-repeat;
$lottery-btn-block-win-wheel-width: 144px;
$lottery-btn-block-win-wheel-height: 138px;
$lottery-btn-block-win-wheel-text-top: 42px;
$lottery-btn-block-win-wheel-text-color: white;
// $lottery-btn-block-red-envelope-bg: assetPath('lottery/luckyDraw.png') center no-repeat;
$lottery-btn-block-red-envelope-width: 124px;
$lottery-btn-block-red-envelope-height: 126px;
$lottery-btn-block-red-envelope-text-top: 75px;
$lottery-btn-block-red-envelope-text-color: white;

//* 尚無資料的部分
$no-data-bg: none;
$no-data-color: black;
$no-data-font-size: 1.5rem;

//* 服務規章視窗
$service-term-bg: white;
$service-term-color: black;
$service-term-item-title-color: white;
$service-term-item-title-bg: #503725;
$service-term-item-title-icon: assetPath('ui/ui-arrow-select.png');
$service-term-item-content-color: black;
$service-term-btn-bg: #462b16;
$service-term-btn-color: white;
$service-term-btn-shadow: none;
