@import '@/styles/global/abstracts';

// function
@function assetPath($path) {
  @return url('~@/assets/PA/01/#{$path}');
}

$base-bg: assetPath('ui/bg-mask.png') center/100% 100% no-repeat, assetPath('ui/bg.png') center/100% 100% no-repeat;
$base-text-color: #313131;
$base-font-size: 16px;
$base-font-family: 'Microsoft YaHei', Arial, Helvetica, 'Zawgyi-One', sans-serif;

$base-link-color: red;

$header-height: 15%;
$header-sub-height: 0px;
$header-sub-height-auth: 0px;

$footer-height: 119px;

$btn-height: auto;

$btn-bg-yellow-light: #caad76;
$btn-bg-brown: #462b16;

$input-bg: #444444;
$input-color: white;
$input-placeholder-color: #959595;

$select-bg: $input-bg;
$select-color: $input-color;
$select-placeholder-color: $input-placeholder-color;

$field-bg: none;
$field-input-bg: #444444;
$field-input-color: white;
$field-input-color-placeholder: #959595;
$field-select-bg: assetPath('ui/ui-arrow-down-white.png') $field-input-bg 95% center/auto 40% no-repeat;
$field-select-color: $field-input-color;
$field-label-color: $base-text-color;
$field-error-bg: #c6a260;
$field-error-color: $base-text-color;
$field-star-color: #c6a260;
$field-captcha-width: 73px;
$field-captcha-height: 29px;

$notice-color: #8b8b8b;
$notice-font-size: 1rem;
// $notice-line-height: 1rem;
$notice-height-light-color: red;

$step-color: $base-text-color;
$step-border: 4px solid #c8aa73;

$point-list-bg: #444444;
$point-list-label-color: #cbaa6d;
$point-list-content-color: white;
$point-list-border-bg: black;
$point-list-border-shadow: 0px -2px #8b8b8b;

$table-bg: none;
$table-tr-bg: #828080;
$table-tr-bg-even: #696767;
$table-th-bg: #464646;
$table-th-color: #cbaa6d;
$table-th-border-bottom: 2px solid white;
$table-td-color: white;

$nav-tab-height: 15%;
$nav-tab-bg: assetPath('ui/ui-nav-tab-bg.png') center/contain repeat-x;
$nav-tab-text-color: #cbaa6d;
$nav-tab-text-color-active: white;
$nav-tab-border: none;
$nav-tab-border-active: none;
$nav-tab-item-bg: none;
$nav-tab-item-bg-active: assetPath('ui/ui-nav-tab-item-bg-active.png') center/100% 100% no-repeat;
$nav-tab-arrow-width: 50px;
$nav-tab-arrow-height: 70%;
$nav-tab-arrow-bg-left-promotion: assetPath('ui/ui-tab-arrow-left.png') left/contain no-repeat;
$nav-tab-arrow-bg-right-promotion: assetPath('ui/ui-tab-arrow-right.png') right/contain no-repeat;

$nav-tab-arrow-bg-left-game-category: assetPath('ui/ui-tab-arrow-left.png') left/contain no-repeat;
$nav-tab-arrow-bg-right-game-category: assetPath('ui/ui-tab-arrow-right.png') right/contain no-repeat;

$panel-tab-item-bg: assetPath('ui/ui-panel-tab-bg.png') center/cover no-repeat;
$panel-tab-item-color: #462b16;
$panel-tab-item-bg-active: assetPath('ui/ui-panel-tab-bg-active.png') center/cover no-repeat;
$panel-tab-item-color-active: white;
$panel-tab-content-bg: none;
$panel-tab-content-left-border: 1px solid transparent;
$panel-tab-content-left-border-image: assetPath('ui/ui-panel-tab-border.png') 12 stretch;
$panel-tab-content-arrow-width: 32.5px;
$panel-tab-content-arrow-height: 66px;
$panel-tab-content-arrow-bg-left: assetPath('ui/ui-panel-tab-arrow-left.png') center/100% 100% no-repeat;
$panel-tab-content-arrow-bg-right: assetPath('ui/ui-panel-tab-arrow-right.png') center/100% 100% no-repeat;
$panel-tab-content-arrow-width-y: 3%;
$panel-tab-content-arrow-height-y: 6%;
$panel-tab-content-arrow-bg-bottom: assetPath('ui/ui-panel-tab-arrow-bottom.png') center/100% 100% no-repeat;

$box-close-bg: #4f331c;
$box-close-border: 1px solid #bb9b63;
$box-close-line-color: white;

$go-top-btn-bg: assetPath('ui/goTOP.png') center no-repeat;
$go-top-btn-width: 58px;
$go-top-btn-height: 58px;
$go-top-btn-bottom: $footer-height + 30;
$go-top-btn-right: 30px;

$lottery-btn-block-bottom: $footer-height + 30;
$lottery-btn-block-left: 0px;
// $lottery-btn-block-win-wheel-bg: assetPath('lottery/rotaryTable.png') center no-repeat;
$lottery-btn-block-win-wheel-width: 144px;
$lottery-btn-block-win-wheel-height: 138px;
$lottery-btn-block-win-wheel-text-top: 42px;
$lottery-btn-block-win-wheel-text-color: white;
// $lottery-btn-block-red-envelope-bg: assetPath('lottery/luckyDraw.png') center no-repeat;
$lottery-btn-block-red-envelope-width: 124px;
$lottery-btn-block-red-envelope-height: 126px;
$lottery-btn-block-red-envelope-text-top: 75px;
$lottery-btn-block-red-envelope-text-color: white;

//* 尚無資料的部分
$no-data-bg: none;
$no-data-color: black;
$no-data-font-size: 1.5rem;

//* Modal
$modal-bg: none;
$modal-border: 1px solid white;
$modal-title-height: 15%;
$modal-title-bg: #cbaa6d;
$modal-title-color: #070706;
$modal-content-bg: assetPath('ui/ui-modal-bg-decoration.png') #fcfaf7 center/100% 100% no-repeat;
$modal-nav-bg: $modal-title-bg;
$modal-nav-bg-active: linear-gradient(135deg, #e4d0a7, $modal-title-bg);
$modal-nav-color: $modal-title-color;
$modal-item-btn-bg: assetPath('ui/ui-btn-oval.png') center/100% 100% no-repeat;
$modal-item-btn-color: white;
$modal-item-selected-bg: assetPath('header/header-lang-modal-tick.png') center/ 100% 100% no-repeat;

//* 服務規章視窗
$service-term-bg: white;
$service-term-color: black;
$service-term-item-border-bottom-bg: assetPath('ui/ui-border-01.png') center/cover no-repeat;
$service-term-item-bg-active: #563e2c;
$service-term-item-title-color: $base-text-color;
$service-term-item-title-color-active: white;
$service-term-item-title-bg: none;
$service-term-item-title-icon: assetPath('ui/ui-arrow-down-brown.png') no-repeat;
$service-term-item-title-icon-active: assetPath('ui/ui-arrow-up-white.png') no-repeat;
$service-term-item-content-color: black;
$service-term-item-content-color-active: #959595;
