@import './_abstracts';
@import '@/styles/PA/_default/home';

$home-main-height: 75%;

.home {
  @include home;
}

$home-footer-height: 100% - $home-main-height;
$home-footer-bg: assetPath('footer/footer-bg-top.png') center 35% no-repeat,
  assetPath('footer/footer-bg.png') center/cover no-repeat;

$home-footer-transfer-bg: assetPath('footer/footer-bg-transfer.png') center/100% 100% no-repeat;
$home-footer-transfer-color: white;

$home-footer-icon-width: 64px;
$home-footer-icon-promotion: assetPath('footer/footer-icon-promotion.png') center/contain no-repeat;
$home-footer-icon-mail: assetPath('footer/footer-icon-mail.png') center/contain no-repeat;
$home-footer-icon-fav: assetPath('footer/footer-icon-fav.png') center/contain no-repeat;
$home-footer-icon-contact: assetPath('footer/footer-icon-contact.png') center/contain no-repeat;

$home-footer-icon-count-bg: #50351d;
$home-footer-icon-count-color: #f5d600;
$home-footer-icon-count-border: 2px solid #c5a469;
$home-footer-icon-count-shadow: 0px -1px 5px 1px rgba(255, 255, 255, 0.5);

$home-footer-btn-deposit: assetPath('footer/footer-btn-deposit.png') center/contain no-repeat;
$home-footer-btn-withdrawal: assetPath('footer/footer-btn-withdrawal.png') center/contain no-repeat;

.home-footer {
  @include home-footer;
}

$news-marquee-bg: #e0e0e0;
$news-marquee-height: 30px;
$news-marquee-label-color: #8b8b8b;
// $news-marquee-icon-bg: assetPath('ui/ui-horn.png') center no-repeat;
$news-marquee-icon-width: 34px;
$news-marquee-icon-height: 30px;
$news-marquee-link-color: black;

.news-marquee {
  @include news-marquee;
}

$home-product-maintain-bg: black;

.home-product-block {
  @include home-product-block;
}
