@import './_abstracts';
@import '@/styles/PA/_default/home';

$home-footer-bg: assetPath('footer/footer-bg-top.png') center 35% no-repeat,
  assetPath('footer/footer-bg.png') center/cover no-repeat;

$home-footer-transfer-bg: assetPath('footer/footer-bg-transfer.png') center/100% 100% no-repeat;
$home-footer-transfer-color: white;

$home-footer-icon-promotion: assetPath('footer/footer-icon-promotion.png') center/contain no-repeat;
$home-footer-icon-mail: assetPath('footer/footer-icon-mail.png') center/contain no-repeat;
$home-footer-icon-fav: assetPath('footer/footer-icon-fav.png') center/contain no-repeat;
$home-footer-icon-contact: assetPath('footer/footer-icon-contact.png') center/contain no-repeat;

$home-footer-btn-deposit: assetPath('footer/footer-btn-deposit.png') center/contain no-repeat;
$home-footer-btn-withdrawal: assetPath('footer/footer-btn-withdrawal.png') center/contain no-repeat;

.home {
  @include home;
}

$news-marquee-bg: #e5e5e5;
$news-marquee-height: 20px;
$news-marquee-label-color: #8b8b8b;
// $news-marquee-icon-bg: assetPath('ui/ui-horn.png') center no-repeat;
$news-marquee-icon-width: 20px;
$news-marquee-icon-height: 20px;
$news-marquee-link-color: #8b8b8b;

.news-marquee {
  @include news-marquee;
}

$home-product-maintain-bg: black;

.home-product-block {
  @include home-product-block;
}
