@import './_abstracts';
@import '@/styles/PA/_default/pagination';

$pagination-height: 30px;
$pagination-select-bg: assetPath('ui/ddl_pager.jpg') #b1925c center/100% auto no-repeat;
$pagination-select-color: white;
$pagination-prev-bg: assetPath('ui/lnk_previous.png') center/100% auto no-repeat;
$pagination-prev-more-bg: assetPath('ui/lnk_previousMore.png') center/100% auto no-repeat;
$pagination-next-bg: assetPath('ui/lnk_next.png') center/100% auto no-repeat;
$pagination-next-more-bg: assetPath('ui/lnk_nextMore.png') center/100% auto no-repeat;

.ui-pagination {
  @include pagination;
}
