@import './_abstracts';
@import '@/styles/PA/_default/promotion';

$promotion-img-border: none;

.promotion {
  @include promotion;
}

$promotion-detail-img-border: none;
$promotion-detail-title-color: $base-text-color;
$promotion-detail-content-text-color: white;
$promotion-detail-item-border-bottom: 1px solid black;
$promotion-detail-item-shadow: 0px 1px 0px 0px white;

.promotion-detail {
  @include promotion-detail;
}
