@import './_abstracts';
@import '@/styles/PA/_default/transaction-record';

.record {
  @include record;
}

$record-content-icon-bg-detail: assetPath('ui/ui-triangle-right.png') center/100% 100% no-repeat;
$record-content-icon-bg-detail-close: assetPath('ui/ui-triangle-down.png') center/100% 100% no-repeat;
$record-content-icon-width: 20px;
$record-content-icon-height: 25px;

$record-content-link-color: #75a2ff;
$record-content-link-border-bottom: 2px solid #75a2ff;

$record-content-search-btn-bg-submit: $btn-bg-rectangle;

.record-content {
  @include record-content;
}
