@import './_abstracts';
@import '@/styles/PA/_default/user';

.user {
  @include user;
}

$user-profile-btn-bg-submit: #462b16;
$user-profile-btn-color-submit: white;
$user-profile-btn-shadow-submit: none;

$user-profile-btn-bg-reset: #caad76;
$user-profile-btn-color-reset: black;
$user-profile-btn-shadow-reset: 0 2px 2px 0px rgba(0, 0, 0, 0.8);

$user-profile-btn-bg-add-bank: $btn-bg-rectangle;

$user-profile-bank-card-bg: assetPath('ui/ui-bank-card.png') center/100% 100% no-repeat;
$user-profile-bank-card-height: 125px;
$user-profile-bank-card-color: white;

$user-profile-footer-bg: assetPath('footer/footer-bg-transfer.png') center/100% 100% no-repeat;
$user-profile-footer-color: white;

.user-profile {
  @include user-profile;
}

$user-bank-btn-bg-submit: assetPath('ui/ui-btn-rectangle.png') center/100% 100% no-repeat;

.user-bank {
  @include user-bank;
}

//* switch 需對照 vue 檔中的設定
$user-change-password-switch-radius: 0;
$user-change-password-switch-width: 300px;
$user-change-password-switch-height: 70px;
$user-change-password-switch-width-btn: 150px;
$user-change-password-switch-width-label-left-zh-cn: 64px;
$user-change-password-switch-width-label-right-zh-cn: 64px;
$user-change-password-switch-width-label-left-en-us: 128px;
$user-change-password-switch-width-label-right-en-us: 140px;
$user-change-password-switch-width-label-left-th-th: 94px;
$user-change-password-switch-width-label-right-th-th: 105px;

$user-change-password-btn-bg-submit: #462b16;
$user-change-password-btn-color-submit: white;
$user-change-password-btn-shadow-submit: none;

$user-change-password-btn-bg-reset: #caad76;
$user-change-password-btn-color-reset: black;
$user-change-password-btn-shadow-reset: 0 2px 2px 0px rgba(0, 0, 0, 0.8);

.user-change-password {
  @include user-change-password;
}

$user-mail-btn-mail-send: $btn-bg-rectangle-yellow;
$user-mail-search-btn-bg: $btn-bg-rectangle;

.user-mail {
  @include user-mail;
}

$user-mail-detail-btn-bg-submit: $btn-bg-rectangle;
$user-mail-detail-btn-bg-reset: $btn-bg-rectangle-light;

.user-mail-detail {
  @include user-mail-detail;
}

$user-mail-send-btn-bg-submit: $btn-bg-rectangle;
$user-mail-send-btn-bg-reset: $btn-bg-rectangle-light;

.user-mail-send {
  @include user-mail-send;
}
