$type: 'Y/01/02';

.li-paytype {
  border-bottom: 1px solid #307da1;
  color: #fff;
}
.li-bank {
  border-bottom: 1px solid #d6c388;
  color: #fff;
}
.txt-notice,
.txt-UploadName {
  color: #a0a0a0;
}
.txt-notice-ps,
.ui-txt-mask {
  color: #a0a0a0;
}



/*
  ! 圖片路徑
*/

