$type: 'Y/01/02';

.lnk-recordlist {
  color: #2a2a2a;
}

// .theme-colorBox {
//   border: 2px solid #c1ae71;
//   background: #000;
// }

/*
  ! 圖片路徑
*/

// .ui-btn01 {
//   background-image: url(~@/assets/#{$type}/imgs/ui/btn03.jpg);
// }

.lnk-recordlist {
  background: url(~@/assets/#{$type}/imgs/main/lnk_recordlist.jpg) repeat-x;
}
