$type: 'Y/01/02';



.table-transfer-account {
  border: 1px solid #307da1;
  background-color: #1c6080;
}
.table-transfer-account tr {
  border-bottom: 1px solid #307da1;
}

.table-transfer-account .th-1st {
  color: #fff;
}

.ipt-transfer-money {
  color: #000;
  background-color: #fff;
  border: 1px solid #8b8b8b;
}

/*
  ! 圖片路徑
*/
.btn-refresh {
  background-image: url(~@/assets/#{$type}/imgs/ui/btn01.jpg) !important;
}

.btn-transfer {
  background-image: url(~@/assets/#{$type}/imgs/ui/btn03.jpg) !important;
}