@import '../abstracts';

.promotion__bonus__link__text {
  color: #fcf0ca;
}

/*
  ! 圖片路徑
*/
.promotion__bonus__link {
  background: assetPath('imgs/main/freeGo-bg.jpg') left top repeat-x;
}
.promotion__bonus__link__icon {
  background: assetPath('imgs/main/bonusVIP.png') left top no-repeat;
}
.promotion__bonus__link__text {
  background: assetPath('imgs/main/freeGo-arrow.png') right center no-repeat;
}
