@import '@/styles/global/abstracts';
@import '../abstracts';

.promotion-detail__main__content__desc ul > li > a {
  color: #ffffff;
  background-color: #d40505;
}

.promotion-detail__main__button--back {
  background-image: $btn-bg-red;
}

/*
  ! 圖片路徑
*/

.promotion-detail__main__content__title {
  background: assetPath('promotion/descTitle.png') no-repeat;
}
// .img-event-poster { background: url(~@/assets/#{$type}/promotion/event-poster.jpg) no-repeat; }
