$type: 'Y/02';

.contact__content {
  background: rgba(255, 255, 255, 0.5);
  border-width: 5px;
  border-color: #35a4d5;
  border-style: groove;
}
.contact__content__ul__li__link {
  color: #000;
}

.contact__content__ul__li__block__link {
  color: #333333;
}


/*
  ! 圖片路徑
*/

.contact__content__ul__li__block--tel {
  background: url(~@/assets/#{$type}/imgs/main/telBg.png) no-repeat;
}
