@import './_abstracts';
@import '@/styles/Y/_default/contact';

$contact-content-bg: rgba(white, 0.5);
$contact-content-border: 5px #35a4d5 groove;
$contact-content-text-color: black;

$contact-detail-bg: linear-gradient(to bottom, #f5f5f5 0%, #c6dde5 100%);
$contact-detail-border: 1px solid #2a6a88;
$contact-detail-shadow: black 5px 5px 10px;
$contact-detail-text-color: #333333;

.contact {
  @include contact;
}
