$type: 'Y/02';

.forget-password {
  background: #04354c;
  height: 85vh;
}

/*
  ! 圖片路徑
*/

.forget-password__desc {
  background: url(~@/assets/#{$type}/imgs/main/forgetDescBg.png) no-repeat center top;
}
