@import './_abstracts';
@import '@/styles/Y/_default/forget-password';

$forget-password-bg: #04354c;
$forget-password-title-color: white;
$forget-password-icon-bg: assetPath('main/forgetDescBg.png') center no-repeat;
$forget-password-icon-width: 191px;
$forget-password-icon-height: 280px;
$forget-password-desc-color: white;
.forget-password {
  @include forget-password;
}
