@import '@/styles/global/abstracts';
@import './abstracts';
@import '@/styles/Y/_default/game';

$game-bg: #1c6080;

.game {
  @include game;
}

$game-lobby-jackpot-bg-en-us: assetPath('theme/bg_jackpot-en-us.png') center no-repeat;
$game-lobby-jackpot-bg-th-th: assetPath('theme/bg_jackpot-th-th.png') center no-repeat;
$game-lobby-jackpot-bg-zh-cn: assetPath('theme/bg_jackpot-zh-cn.png') center no-repeat;

.game-lobby-jackpot {
  @include game-lobby-jackpot;
}

$game-lobby-product-bg: black;

.game-lobby-product {
  @include game-lobby-product;
}

$game-lobby-category-bg: assetPath('ui/bg_category.png') black bottom center no-repeat;
$game-lobby-category-text-color: #0b4152;
$game-lobby-category-text-color-active: #fff100;

.game-lobby-category {
  @include game-lobby-category;
}

$game-lobby-list-table-bg: #1c6080;
$game-lobby-list-table-tr-bg: assetPath('ui/bg_list_line.jpg') center bottom no-repeat;
$game-lobby-list-link-bg-start: assetPath('ui/btn_start.png');
$game-lobby-list-link-bg-free: assetPath('ui/btn_freeplay.png');
$game-lobby-list-link-bg-fav: assetPath('ui/btn_favorites.png');
$game-lobby-list-link-bg-fav-active: assetPath('ui/btn_favorites_active.png');

.game-lobby-list {
  @include game-lobby-list;
}

$game-lobby-search-bg: #11516f;
$game-lobby-search-input-bg: black;
$game-lobby-search-input-icon: assetPath('ui/bg_lnk_inquire.png') transparent center no-repeat;
$game-lobby-search-fav-bg: assetPath('ui/ipt_favorites.png') center no-repeat;
$game-lobby-search-transfer-bg: assetPath('ui/btn_transferNow.png') left center no-repeat;

.game-lobby-search {
  @include game-lobby-search;
  &__form {
    box-sizing: border-box;
    width: 350px;
    height: 59px;
  }
  input {
    box-sizing: border-box;
    height: 53px;
  }
  button[type='submit'] {
    top: 21px;
    height: 59px;
  }

  &__button--transfer-now {
    margin-top: 18px;
  }
}

$game-transfer-dialog-button-bg-submit: $btn-bg-red;

$game-transfer-dialog-bg: #1c6080;
$game-transfer-dialog-border: 2px solid #c1ae71;

$game-transfer-dialog-switch-left: assetPath('ui/lnk-trans.png') transparent left no-repeat;
$game-transfer-dialog-switch-left-on: assetPath('ui/lnk-trans-on.png') transparent left no-repeat;
$game-transfer-dialog-switch-right: assetPath('ui/lnk-trans2.png') transparent right no-repeat;
$game-transfer-dialog-switch-right-on: assetPath('ui/lnk-trans2-on.png') transparent right no-repeat;

.game-transfer-dialog {
  @include game-transfer-dialog;
}

$live-game-enter-dialog-bg: #1c6080;
$live-game-enter-dialog-border: 2px solid #c1ae71;

.live-game-enter-dialog {
  @include live-game-enter-dialog;
}

.ui-li-supply-1180 {
  background-image: assetPath('ui/supply-1180.png');
}
.ui-li-supply-1150 {
  background-image: assetPath('ui/supply-1150.png');
}
.ui-li-supply-1140 {
  background-image: assetPath('ui/supply-1140.png');
}
.ui-li-supply-1120 {
  background-image: assetPath('ui/supply-1120.png');
}
.ui-li-supply-1130 {
  background-image: assetPath('ui/supply-1130.png');
}
.ui-li-supply-1030 {
  background-image: assetPath('ui/supply-1030.png');
}
.ui-li-supply-1190 {
  background-image: assetPath('ui/supply-1190.png');
}
.ui-li-supply-1010 {
  background-image: assetPath('ui/supply-1010.png');
}
.ui-li-supply-1170 {
  background-image: assetPath('ui/supply-1170.png');
}
.ui-li-supply-1160 {
  background-image: assetPath('ui/supply-1160.png');
}
.ui-li-supply-1200 {
  background-image: assetPath('ui/supply-1200.png');
}
.ui-li-supply-1190-02 {
  background-image: assetPath('ui/supply-1190-02.png');
}
.ui-li-supply-1180.game-lobby__supply__ul__li--active {
  background-image: assetPath('ui/supply-1180-active.png');
}
.ui-li-supply-1150.game-lobby__supply__ul__li--active {
  background-image: assetPath('ui/supply-1150-active.png');
}
.ui-li-supply-1140.game-lobby__supply__ul__li--active {
  background-image: assetPath('ui/supply-1140-active.png');
}
.ui-li-supply-1120.game-lobby__supply__ul__li--active {
  background-image: assetPath('ui/supply-1120-active.png');
}
.ui-li-supply-1130.game-lobby__supply__ul__li--active {
  background-image: assetPath('ui/supply-1130-active.png');
}
.ui-li-supply-1030.game-lobby__supply__ul__li--active {
  background-image: assetPath('ui/supply-1030-active.png');
}
.ui-li-supply-1190.game-lobby__supply__ul__li--active {
  background-image: assetPath('ui/supply-1190-active.png');
}
.ui-li-supply-1190-02.game-lobby__supply__ul__li--active {
  background-image: assetPath('ui/supply-1190-02-active.png');
}
.ui-li-supply-1010.game-lobby__supply__ul__li--active {
  background-image: assetPath('ui/supply-1010-active.png');
}
.ui-li-supply-1170.game-lobby__supply__ul__li--active {
  background-image: assetPath('ui/supply-1170-active.png');
}
.ui-li-supply-1160.game-lobby__supply__ul__li--active {
  background-image: assetPath('ui/supply-1160-active.png');
}
.ui-li-supply-1200.game-lobby__supply__ul__li--active {
  background-image: assetPath('ui/supply-1200-active.png');
}
