@import '@/styles/global/abstracts';
@import './abstracts';

//* AppHeader
$header-bg: assetPath('header/headerBg.jpg') no-repeat top center;
$header-link-bg-home: assetPath('header/btn_home.png') no-repeat;
$header-link-bg-back: assetPath('header/btn_back.png') no-repeat;

.header {
  background: $header-bg;

  &__link--home {
    background: $header-link-bg-home;
  }

  &__link--back {
    background: $header-link-bg-back;
  }
}

//* AppHeaderMenu
$header-menu-lang-dropdown-bg: #1b607f;

.header-menu__lang-dropdown {
  background: $header-menu-lang-dropdown-bg;
}


//* AppHeaderMenuAuth
$header-menu-auth-member-bg: rgba(black, 0.6);
$header-menu-auth-button-bg-open: assetPath('header/btn_menuOpen.png') no-repeat;
$header-menu-auth-button-bg-close: assetPath('header/btn_menuClose.png') no-repeat center;
$header-menu-auth-menu-bg: rgba(black, 0.9);
$header-menu-auth-menu-logout-bg: $btn-bg-yellow-light repeat-x;

.header-menu-auth {
  &__member {
    background: $header-menu-auth-member-bg;
  }

  &__button {
    &--open {
      background: $header-menu-auth-button-bg-open;
    }

    &--close {
      background: $header-menu-auth-button-bg-close;
    }
  }

  &__menu {
    background: $header-menu-auth-menu-bg;

    &__logout {
      background: $header-menu-auth-menu-logout-bg;
    }
  }
}
