$type: 'Y/02';

.home-game__ul__li__link {
  color: #2a2a2a;
}
/*
  ! 圖片路徑
*/

// .are-game {
//   background: url(~@/assets/#{$type}/imgs/layout/bg_index2.jpg) no-repeat;
// }

.ul-prize {
  background: url(~@/assets/#{$type}/imgs/main/prizeBg.png) left center no-repeat;
}
.i-luckyDraw {
  background: url(~@/assets/#{$type}/imgs/main/luckyDrawIcn.png) left center no-repeat;
}
.ul-luckyDraw {
  background: url(~@/assets/#{$type}/imgs/main/prizeBg.png) left center no-repeat;
}

.noneLoginPopup {
  background: rgba(0, 0, 0, 0.8) url(~@/assets/#{$type}/imgs/main/Bg-noneLoginPopup.jpg) center center no-repeat;
}
