@import './abstracts';
/*===================================================================================================================*/
/*                                                      UI                                                           */
/*===================================================================================================================*/

body {
  background: assetPath('layout/bg.jpg') #fff no-repeat center top;
  background-attachment: fixed;
}

.ui-ddl {
  border: 1px solid #8b8b8b;
}

/*===================================================================================================================*/
/*                                                      Theme                                                        */
/*===================================================================================================================*/

.theme-content-box {
  background: #206083;
}

/*
  ! 圖片路徑
*/

.ui-ddl {
  background: #2e2e2e assetPath('ui/ddl_arrow.jpg') no-repeat right top;
}
.ui-table01 {
  background: assetPath('ui/table01Bg.png') repeat;
}
.ui-table01 .ui-lnk-detail {
  background-image: assetPath('ui/lnk_detail1.png');
}
.ui-table03 .ui-lnk-detail {
  background-image: assetPath('ui/lnk_detail2.png');
}
.ui-table04 {
  background: assetPath('ui/table01Bg.png') repeat;
}
