@import '@/styles/global/abstracts';
@import './abstracts';
@import '@/styles/Y/_default/login';

$login-title-color:white;

$login-field-bg-account: assetPath('main/authBg_account.png') 8px center no-repeat;
$login-field-bg-password: assetPath('main/authBg_password.png') 8px center no-repeat;
$login-field-bg-code: assetPath('main/authBg_code.png') 8px center no-repeat;
$login-field-input-color: black;
$login-field-border: 3px solid #2b7d9c;

$login-link-text-color: black;
$login-link-bg-register: assetPath('main/registerBg.png') no-repeat;
$login-link-bg-forget: assetPath('main/forgetBg.png') no-repeat;
$login-link-bg-open: assetPath('main/open.png') no-repeat;
$login-link-bg-download: assetPath('main/download.png') no-repeat;

$login-button-bg-submit: $btn-bg-yellow-dark;

.login {
  @include login;
}
/*
  ! 圖片路徑
*/

.login__form__field--account {
  background: #fff assetPath('main/authBg_account.png') 8px center no-repeat;
}
.login__form__field--password {
  background: #fff assetPath('main/authBg_password.png') 8px center no-repeat;
}
.login__form__field--code {
  background: #fff assetPath('main/authBg_code.png') 8px center no-repeat;
}
.login__form__link--regist {
  background-image: assetPath('main/registerBg.png');
}
.login__form__link--forget {
  background-image: assetPath('main/forgetBg.png');
}
.login__form__link--open {
  background-image: assetPath('main/open.png');
}
.login__form__link--download {
  background-image: assetPath('main/download.png');
}
