@import './abstracts';

.login__form__field {
  outline: 3px solid #2b7d9c;
}
.login__form__link {
  color: #1b607f;
}

.login__form__field__input {
  color: #000;
}

.login__form__submit {
  background-image: url(~@/assets/common/ui/btn--yellow-dark.jpg);
}

/*
  ! 圖片路徑
*/

.login__form__field--account {
  background: #fff assetPath('main/authBg_account.png') 8px center no-repeat;
}
.login__form__field--password {
  background: #fff assetPath('main/authBg_password.png') 8px center no-repeat;
}
.login__form__field--code {
  background: #fff assetPath('main/authBg_code.png') 8px center no-repeat;
}
.login__form__link--regist {
  background-image: assetPath('main/registerBg.png');
}
.login__form__link--forget {
  background-image: assetPath('main/forgetBg.png');
}
.login__form__link--open {
  background-image: assetPath('main/open.png');
}
.login__form__link--download {
  background-image: assetPath('main/download.png');
}
