$type: 'Y/02';

.promotion__list__img {
  outline: 2px solid #fff;
}

.promotion__bonus__link__text {
  color: #fff;
}

/*
  ! 圖片路徑
*/
.promotion__bonus__link {
  background: url(~@/assets/#{$type}/imgs/main/freeGo-bg.jpg) left top repeat-x;
}
.promotion__bonus__link__icon {
  background: url(~@/assets/#{$type}/imgs/main/bonusVIP.png) left top no-repeat;
}
.promotion__bonus__link__text {
  background: url(~@/assets/#{$type}/imgs/main/freeGo-arrow.png) right center no-repeat;
}
