@import '@/styles/Y/_default/_abstracts';
@import './abstracts';
@import '@/styles/Y/_default/register';

$register-bg: #04354c;
$register-placeholder-color: #959595;
$register-hint-color: white;
$register-notice-color: white;

$register-input-block-border: 3px solid #2b7d9c;

$register-field-bg-recommend: #1c6080 assetPath('main/authBg_recommend.png') 8px center no-repeat;
$register-field-bg-account: #1c6080 assetPath('main/authBg_account.png') 8px center no-repeat;
$register-field-bg-password: #1c6080 assetPath('main/authBg_password.png') 8px center no-repeat;
$register-field-bg-callphone: #1c6080 assetPath('main/authBg_callphone.png') 8px center no-repeat;
$register-field-bg-name: #1c6080 assetPath('main/authBg_name.png') 8px center no-repeat;
$register-field-bg-code: #1c6080 assetPath('main/authBg_code.png') 8px center no-repeat;

$register-button-bg-submit: $btn-bg-yellow-dark;
$register-button-bg-reset: $btn-bg-red;

.register {
  @include register;
}
