@import './abstracts';

.register {
  background-color: #04354c;
}

.register__form__field__input-div {
  outline: 3px solid #2b7d9c;
}

.register__form__field__input::placeholder {
  color: #fff;
}

.register__form__field__hint {
  color: #fff;
}
.register__notice__ol {
  color: #fff;
}

/*
  ! 圖片路徑
*/

.register__button-div__send {
  background-image: url(~@/assets/common/ui/btn--yellow-dark.jpg);
}
.register__button-div__reset {
  background-image: url(~@/assets/common/ui/btn--red.jpg);
}

.register__form__field--recommend {
  background: #1c6080 assetPath('main/authBg_recommend.png') 8px center no-repeat;
}
.register__form__field--account {
  background: #1c6080 assetPath('main/authBg_account.png') 8px center no-repeat;
}
.register__form__field--password {
  background: #1c6080 assetPath('main/authBg_password.png') 8px center no-repeat;
}
.register__form__field--callphone {
  background: #1c6080 assetPath('main/authBg_callphone.png') 8px center no-repeat;
}
.register__form__field--name {
  background: #1c6080 assetPath('main/authBg_name.png') 8px center no-repeat;
}
.register__form__field--code {
  background: #1c6080 assetPath('main/authBg_code.png') 8px center no-repeat;
}

.register__form__reset {
  background-image: assetPath('ui/btn03.jpg');
}
