@import '@/styles/global/abstracts';
@import './abstracts';
@import '@/styles/Y/_default/transaction-withdrawal';

$withdrawal-height-light-color: #a0a0a0;
$withdrawal-button-bg-transfer: $btn-bg-red;
$withdrawal-button-bg-submit: $btn-bg-red;

.withdrawal {
  @include withdrawal;
}