@import '@/styles/Y/_default/_abstracts';
@import './abstracts';
@import '@/styles/Y/_default/transaction-transfer';

$transfer-wallet-border-bottom: 1px solid #307da1;
$transfer-amount-border-bottom: 1px solid #307da1;

$transfer-input-bg: white;
$transfer-input-color: black;
$transfer-input-border: 1px solid #8b8b8b;

$transfer-table-bg: #1c6080;
$transfer-table-border: 1px solid #307da1;
$transfer-table-tr-border-bottom: 1px solid #307da1;
$transfer-table-th-color: white;
$transfer-table-td-color: white;

$transfer-button-bg-submit: $btn-bg-red;
$transfer-button-bg-transfer-all: $btn-bg-red;
$transfer-button-bg-refresh: $btn-bg-yellow-light;

.transfer {
  @include transfer;
}
