@import '@/styles/global/abstracts';

// function
@function assetPath($path) {
  @return url('~@/assets/Z/04/#{$path}');
}

$base-bg: #2c413a;
$base-text-color: white;
$base-font-size: 16px;
$base-font-family: 'Microsoft YaHei', Arial, Helvetica, 'Zawgyi-One', sans-serif;

$header-height: 130px;
$header-sub-height: 90px;
$header-sub-height-auth: 58px;

$footer-height: 106px;

$btn-height: 89px;

$btn-bg-green: linear-gradient(to bottom, #397b67 0%, #023929 100%);
$btn-bg-red: linear-gradient(to bottom, #941719 0%, #4f0708 100%);
$btn-bg-silver: linear-gradient(to bottom, #9c9c9c 0%, #565656 100%);

$field-font-size: 2rem;
$field-bg: #13231e;
$field-input-color: white;
$field-input-color-placeholder: #ffffff82;
$field-select-bg: assetPath('ui/ui-arrow-select.png') #13231e 97% center no-repeat;
$field-select-color: #f6ac19;
$field-label-color: #f6ac19;
$field-label-color-checkbox: white;
$field-error-bg: #2b6a57;
$field-error-color: white;
$field-star-color: #c8aa73;
$field-textarea-label-color: #959595;
$field-textarea-bg: white;
$field-textarea-color: black;
$field-textarea-shadow: none;
$field-textarea-border-radius: 5px;

$notice-color: #e5e4e4;
$notice-font-size: 1.8rem;
$notice-line-height: 2.5rem;
$notice-height-light-color: #f6ac19;

$step-color: #59a48c;
$step-border: 4px solid #59a48c;

$point-list-bg: #13231e;
$point-list-label-color: white;
$point-list-content-color: white;
$point-list-border-bg: #1d5343;
$point-list-border-shadow: 0px -2px #0e3427;

$table-bg: none;
$table-th-bg: #0c1b16;
$table-th-color: white;
$table-tr-border-bottom: 1px solid black;
$table-tr-shadow: 0px -2px #8b8b8b;
$table-td-color: white;
$table-td-border: 2px solid #555;

$nav-tab-text-color: white;
$nav-tab-text-color-active: #f9a91c;
$nav-tab-border-bottom: 5px solid #e5e4e4;
$nav-tab-border-bottom-active: 5px solid #f9a91c;
$nav-tab-arrow-width: 50px;
$nav-tab-arrow-bg-left-home: assetPath('ui/ui-arrow-maskLeft.png') left no-repeat,
  linear-gradient(to right, rgb(44, 65, 58, 1) 0%, rgb(44, 65, 58, 1) 50%, rgba(44, 65, 58, 0));
$nav-tab-arrow-bg-right-home: assetPath('ui/ui-arrow-maskRight.png') right no-repeat,
  linear-gradient(to left, rgb(44, 65, 58, 1) 0%, rgb(44, 65, 58, 1) 50%, rgba(44, 65, 58, 0));

$nav-tab-arrow-bg-left-promotion: assetPath('ui/ui-arrow-maskLeft.png') left no-repeat,
  linear-gradient(to right, rgb(44, 65, 58, 1) 0%, rgb(44, 65, 58, 1) 50%, rgba(44, 65, 58, 0));
$nav-tab-arrow-bg-right-promotion: assetPath('ui/ui-arrow-maskRight.png') right no-repeat,
  linear-gradient(to left, rgb(44, 65, 58, 1) 0%, rgb(44, 65, 58, 1) 50%, rgba(44, 65, 58, 0));

$nav-tab-arrow-bg-left-game-product: assetPath('ui/ui-arrow-maskLeft.png') left no-repeat,
  linear-gradient(to right, rgb(33, 57, 49, 1) 0%, rgb(33, 57, 49, 1) 50%, rgba(33, 57, 49, 0));
$nav-tab-arrow-bg-right-game-product: assetPath('ui/ui-arrow-maskRight.png') right no-repeat,
  linear-gradient(to left, rgb(33, 57, 49, 1) 0%, rgb(33, 57, 49, 1) 50%, rgba(33, 57, 49, 0));

$nav-tab-arrow-bg-left-game-category: assetPath('ui/ui-arrow-maskLeft.png') left no-repeat,
  assetPath('ui/ui-lobbyLeftSmall.png') left no-repeat;
$nav-tab-arrow-bg-right-game-category: assetPath('ui/ui-arrow-maskRight.png') right no-repeat,
  assetPath('ui/ui-lobbyRightSmall.png') right no-repeat;

$box-close-bg: gray;
$box-close-size: 48px;
$box-close-top: 24px;
$box-close-right: 24px;
$box-close-line-color: white;
$box-close-line-width: 2px;

$go-top-btn-bg: assetPath('ui/goTOP.png') center no-repeat;
$go-top-btn-width: 58px;
$go-top-btn-height: 58px;
$go-top-btn-bottom: $footer-height + 30;
$go-top-btn-right: 30px;

$lottery-btn-block-bottom: $footer-height + 30;
$lottery-btn-block-left: 0px;
// $lottery-btn-block-win-wheel-bg: assetPath('lottery/rotaryTable.png') center no-repeat;
$lottery-btn-block-win-wheel-width: 144px;
$lottery-btn-block-win-wheel-height: 138px;
$lottery-btn-block-win-wheel-text-top: 42px;
$lottery-btn-block-win-wheel-text-color: white;
// $lottery-btn-block-red-envelope-bg: assetPath('lottery/luckyDraw.png') center no-repeat;
$lottery-btn-block-red-envelope-width: 124px;
$lottery-btn-block-red-envelope-height: 126px;
$lottery-btn-block-red-envelope-text-top: 75px;
$lottery-btn-block-red-envelope-text-color: white;

//* 尚無資料的部分
$no-data-bg: none;
$no-data-color: white;
$no-data-font-size: 2rem;

//* 服務規章視窗
$service-term-bg: white;
$service-term-color: black;
$service-term-item-title-color: white;
$service-term-item-title-bg: #503725;
$service-term-item-title-icon: assetPath('ui/ui-arrow-select.png');
$service-term-item-content-color: black;
$service-term-btn-bg: #462b16;
$service-term-btn-color: white;
$service-term-btn-shadow: none;
