@import './_abstracts';
@import '@/styles/Z/_default/forget-password';

$forget-password-bg: none;

$forget-password-icon-bg: assetPath('forget-password/forgetDescBg.png') center no-repeat;
$forget-password-icon-width: 216px;
$forget-password-icon-height: 252px;
$forget-password-desc-color: #e5e4e4;

.forget-password {
  @include forget-password;
}
