@import './_abstracts';
@import '@/styles/Z/_default/register';

$register-btn-bg-submit: $btn-bg-green;
$register-btn-text-color-submit: white;
$register-btn-shadow-submit: 0 2px 2px 0px rgba(0, 0, 0, 0.8);

$register-btn-bg-reset: linear-gradient(to bottom, #9c9c9c 0%, #565656 100%);
$register-btn-text-color-reset: white;
$register-btn-shadow-reset: 0 2px 2px 0px rgba(0, 0, 0, 0.8);

$register-link-color: #75a2ff;

.register {
  @include register;
}
