$type: 'Y/01/02';
.notification-chat-detail__ul__li {
  background-color: #0f445d;
}
.notification-chat-detail__ul__li:nth-child(2),
.notification-chat-detail__ul__li:nth-child(3) {
  background-color: #1c6080;
}
/*
  ! 圖片路徑
*/
.notification-chat-detail__button--submit {
  background-image: url(~@/assets/common/imgs/ui/btn--yellow-dark.jpg);
}

.notification-chat-detail__button--cancel {
  background-image: url(~@/assets/common/imgs/ui/btn--black.jpg);
}