$type: 'Y/02';

.promotion-detail__image__img {
  outline: 2px solid #fff;
}

.promotion-detail__main__content__desc {
  color: #000;
}

.promotion-detail__main__content__desc ul > li > a {
  background-color: #1c6080;
  color: #fff;
}

.promotion-detail__main__button--back {
  background-image: url(~@/assets/common/imgs/ui/btn--yellow-dark.jpg);
}
/*
  ! 圖片路徑
*/

.promotion-detail__main__content__title {
  background: url(~@/assets/#{$type}/imgs/promotion/descTitle.png) no-repeat;
}
// .img-event-poster { background: url(~@/assets/#{$type}/imgs/promotion/event-poster.jpg) no-repeat; }
