@import './abstracts';

.contact__content__ul__li__link {
  color: #fff;
}

.contact__content__ul__li__block__link {
  color: #fff;
}

/*
  ! 圖片路徑
*/
.contact__content__ul__li__block--tel {
  background: assetPath('imgs/main/telBg.png') no-repeat;
}
