@import './abstracts';
/*
  ! 圖片路徑
*/

.footer {
  background: assetPath('imgs/footer/footerBg.png') no-repeat center top;
}
.footer__ul {
  background: assetPath('imgs/footer/toolbarBg.jpg') repeat-x;
}
.footer__ul__li {
  background: assetPath('imgs/footer/toolbarBg.jpg') repeat-x;
}
.footer__ul__li--active {
  background-image: assetPath('imgs/footer/toolbarBgActive.jpg');
}
.footer__ul__li__link {
  background: assetPath('imgs/footer/lnk_toolbar.png') 0px 6px no-repeat;
}
.footer__ul__li:after {
  background: assetPath('imgs/footer/lnk_line.png') right top no-repeat;
}
