$type: 'Y/01';

.are-header-langMenu {
  background: rgba(0, 0, 0, 0.9);
}

/*
  ! 圖片路徑
*/

.header {
  background: url(~@/assets/#{$type}/imgs/header/headerBg.jpg) no-repeat top center;
}

.header__link--home {
  background: url(~@/assets/#{$type}/imgs/header/btn_home.png) no-repeat;
}

.header-menu__lang-menu {
  background: url(~@/assets/#{$type}/imgs/header/menuBg.png) repeat;
}

/* 
 * 登入後的 menu
*/

.header-menu-auth__member {
  background: url(~@/assets/#{$type}/imgs/header/memberInfoBg.png) repeat;
}

.header-menu-auth__button--open {
  background: url(~@/assets/#{$type}/imgs/header/btn_menuOpen.png) no-repeat;
}
.header-menu-auth__button--close {
  background: url(~@/assets/#{$type}/imgs/header/btn_menuClose.png) no-repeat center;
}

.header-menu-auth__menu {
  background: url(~@/assets/#{$type}/imgs/header/menuBg.png) repeat;
}

.header-menu-auth__logout {
  background: url(~@/assets/#{$type}/imgs/header/btn_logout.jpg) repeat-x;
}

// .lnk-header-login {
//   background: url(~@/assets/#{$type}/imgs/header/btn_login.png) no-repeat;
// }
// .lnk-header-back {
//   background: url(~@/assets/#{$type}/imgs/header/btn_back.png) no-repeat;
// }
