@import './abstracts';

.home-game__ul__li__link {
  color: #fff;
}

.home-game__ul__li__link--maintain {
  background: assetPath('game/btn_maintain.png') no-repeat;
}

/*
  ! 圖片路徑
*/

.home-game {
  background: assetPath('layout/bg_index2.jpg') no-repeat;
}

.game-1080 {
  background-image: assetPath('game/game-1080.png');
}
.game-1230 {
  background-image: assetPath('game/game-1230.png');
}
.game-1240 {
  background-image: assetPath('game/game-1240.png');
}
.game-1250 {
  background-image: assetPath('game/game-1250.png');
}
.game-1260 {
  background-image: assetPath('game/game-1260.png');
}
.game-1270 {
  background-image: assetPath('game/game-1270.png');
}
.game-1280 {
  background-image: assetPath('game/game-1280.png');
}
.game-1290 {
  background-image: assetPath('game/game-1290.png');
}
.game-1300 {
  background-image: assetPath('game/game-1300.png');
}
.game-1310 {
  background-image: assetPath('game/game-1310.png');
}
.game-1330 {
  background-image: assetPath('game/game-1330.png');
}
.game-1340 {
  background-image: assetPath('game/game-1340.png');
}
.game-1350 {
  background-image: assetPath('game/game-1350.png');
}
.game-12203100-03 {
  background-image: assetPath('game/game-12203100-03.png');
}

// .prize__icon {
//   background: assetPath('main/prizeIcn.png') left center no-repeat;
// }
// .prize__ul {
//   background: assetPath('main/prizeBg.png') left center no-repeat;
// }
// .i-luckyDraw {
//   background: assetPath('main/luckyDrawIcn.png') left center no-repeat;
// }
// .ul-luckyDraw {
//   background: assetPath('main/prizeBg.png') left center no-repeat;
// }

// .noneLoginPopup {
//   background: rgba(0, 0, 0, 0.8) assetPath('main/Bg-noneLoginPopup.jpg') center center no-repeat;
// }
