$type: 'Y/01';

.home-game__ul__li__link {
  color: #fff;
}

.home-game__ul__li__link--maintain {
  background: url(~@/assets/#{$type}/imgs/game/btn_maintain.png) no-repeat;
}

/*
  ! 圖片路徑
*/

.home-game {
  background: url(~@/assets/#{$type}/imgs/layout/bg_index2.jpg) no-repeat;
}

.game-1080 {
  background-image: url(~@/assets/#{$type}/imgs/game/game-1080.png);
}
.game-1230 {
  background-image: url(~@/assets/#{$type}/imgs/game/game-1230.png);
}
.game-1240 {
  background-image: url(~@/assets/#{$type}/imgs/game/game-1240.png);
}
.game-1250 {
  background-image: url(~@/assets/#{$type}/imgs/game/game-1250.png);
}
.game-1260 {
  background-image: url(~@/assets/#{$type}/imgs/game/game-1260.png);
}
.game-1270 {
  background-image: url(~@/assets/#{$type}/imgs/game/game-1270.png);
}
.game-1280 {
  background-image: url(~@/assets/#{$type}/imgs/game/game-1280.png);
}
.game-1290 {
  background-image: url(~@/assets/#{$type}/imgs/game/game-1290.png);
}
.game-1300 {
  background-image: url(~@/assets/#{$type}/imgs/game/game-1300.png);
}
.game-1310 {
  background-image: url(~@/assets/#{$type}/imgs/game/game-1310.png);
}
.game-12203100-03 {
  background-image: url(~@/assets/#{$type}/imgs/game/game-12203100-03.png);
}

// .prize__icon {
//   background: url(~@/assets/#{$type}/imgs/main/prizeIcn.png) left center no-repeat;
// }
// .prize__ul {
//   background: url(~@/assets/#{$type}/imgs/main/prizeBg.png) left center no-repeat;
// }
// .i-luckyDraw {
//   background: url(~@/assets/#{$type}/imgs/main/luckyDrawIcn.png) left center no-repeat;
// }
// .ul-luckyDraw {
//   background: url(~@/assets/#{$type}/imgs/main/prizeBg.png) left center no-repeat;
// }

// .noneLoginPopup {
//   background: rgba(0, 0, 0, 0.8) url(~@/assets/#{$type}/imgs/main/Bg-noneLoginPopup.jpg) center center no-repeat;
// }
