@import './abstracts';

/*===================================================================================================================*/
/*                                                      UI                                                           */
/*===================================================================================================================*/

body {
  background: assetPath('layout/bg.jpg') #000 no-repeat center top;
}
.ui-ddl {
  border: 1px solid #8b8b8b;
}

/*===================================================================================================================*/
/*                                                      Theme                                                        */
/*===================================================================================================================*/

.theme-content-box {
  border: 1px solid #d6c388;
}

/*
  ! 圖片路徑
*/

body {
  background: assetPath('layout/bg.jpg') #000 no-repeat center top;
}

.ui-ddl {
  background: assetPath('ui/ddl_arrow.jpg') #2e2e2e no-repeat right top;
}
.ui-table01 {
  background: assetPath('ui/table01Bg.png') repeat;
}
.ui-table01 .ui-lnk-detail {
  background-image: assetPath('ui/lnk_detail1.png');
}
.ui-table03 .ui-lnk-detail {
  background-image: assetPath('ui/lnk_detail2.png');
}
.ui-table04 {
  background: assetPath('ui/table01Bg.png') repeat;
}

//* nav-tab

.ui-li-tabs-news {
  background: assetPath('ui/tabs_news.png') center top no-repeat;
}
.ui-li-tabs-mail {
  background: assetPath('ui/tabs_mail.png') center top no-repeat;
}
.ui-li-tabs-sendmail {
  background: assetPath('ui/tabs_sendmail.png') center top no-repeat;
}
.ui-li-tabs-news.active {
  background: assetPath('ui/tabs_newsActive.png') center top no-repeat;
}
.ui-li-tabs-mail.active {
  background: assetPath('ui/tabs_mailActive.png') center top no-repeat;
}
.ui-li-tabs-sendmail.active {
  background: assetPath('ui/tabs_sendmailActive.png') center top no-repeat;
}
.ui-li-tabs-sendmail.active {
  background: assetPath('ui/tabs_sendmailActive.png') center top no-repeat;
}
.ui-li-tabs-history {
  background: assetPath('ui/tabs_pointrecord.png') center top no-repeat;
}
.ui-li-tabs-history.active {
  background: assetPath('ui/tabs_pointrecordActive.png') center top no-repeat;
}
