@import './abstracts';

.login__form__link {
  color: #fff;
}

.login__form__submit {
  background-image: url(~@/assets/common/imgs/ui/btn--red.jpg);
}

/*
  ! 圖片路徑
*/

.login__form__field--account {
  background-image: assetPath('imgs/main/authBg_account.png');
}
.login__form__field--password {
  background-image: assetPath('imgs/main/authBg_password.png');
}
.login__form__field--code {
  background-image: assetPath('imgs/main/authBg_code.png');
}
.login__form__link--regist {
  background-image: assetPath('imgs/main/registerBg.png');
}
.login__form__link--forget {
  background-image: assetPath('imgs/main/forgetBg.png');
}
.login__form__link--open {
  background-image: assetPath('imgs/main/open.png');
}
.login__form__link--download {
  background-image: assetPath('imgs/main/download.png');
}
