@import '@/styles/Y/_default/_abstracts';
@import './abstracts';
@import '@/styles/Y/_default/register';

$register-bg: none;
$register-placeholder-color: #959595;
$register-hint-color: #959595;
$register-notice-color: #959595;

$register-input-block-border:none;

$register-field-bg-recommend: assetPath('main/authBg_recommend.png') no-repeat;
$register-field-bg-account: assetPath('main/authBg_account.png') no-repeat;
$register-field-bg-password: assetPath('main/authBg_password.png') no-repeat;
$register-field-bg-callphone: assetPath('main/authBg_callphone.png') no-repeat;
$register-field-bg-name: assetPath('main/authBg_name.png') no-repeat;
$register-field-bg-code: assetPath('main/authBg_code.png') no-repeat;

$register-button-bg-submit: $btn-bg-red;
$register-button-bg-reset: $btn-bg-black;

.register {
  @include register;
}
