$type: 'Y/01/01';

.li-paytype {
  border-bottom: 1px solid #d6c388;
  color: #959595;
}
.li-bank {
  border-bottom: 1px solid #d6c388;
  color: #959595;
}
.txt-notice,
.txt-UploadName {
  color: #707070;
}
.txt-notice-ps {
  color: #f00;
}
/*
  ! 圖片路徑
*/

.deposit__button-div--submit {
  background-image: url(~@/assets/common/imgs/ui/btn--red.jpg);
}

.deposit__button-div--cancel {
  background-image: url(~@/assets/common/imgs/ui/btn--black.jpg);
}