@import '../abstracts';

.deposit__field__hint {
  color: #a0a0a0;
}
.deposit__field__hint--ps {
  color: #a0a0a0;
}

.deposit-dialog {
  background-color: #206083;
}

/*
  ! 圖片路徑
*/
.deposit__field__receipt-upload__label {
  background-image: url(~@/assets/common/ui/btn--red.jpg);
}

.deposit__button-div--submit {
  background-image: url(~@/assets/common/ui/btn--yellow-dark.jpg);
}

.deposit__button-div--cancel {
  background-image: url(~@/assets/common/ui/btn--black.jpg);
}
