@import '@/styles/global/abstracts';
@import '../abstracts';

//* DepositModeNav
.deposit-mode-nav {
  button {
    color: black;
    background-image: $btn-bg-yellow-light;
  }

  button.active {
    color: white;
    background-image: $btn-bg-yellow;
  }
}

//* DepositForm
.deposit-form__field__hint {
  color: #a0a0a0;
}
.deposit-form__field__hint--ps {
  color: #a0a0a0;
}

.deposit-form-dialog {
  background-color: #206083;
}

.deposit-form__field__receipt-upload__label {
  background-image: $btn-bg-red;
}

.deposit-form__button-div--submit {
  background-image: $btn-bg-yellow-dark;
}

.deposit-form__button-div--cancel {
  background-image: $btn-bg-black;
}
