@import '../abstracts';

.deposit-base__field__hint {
  color: #707070;
}
.deposit-base__field__hint--ps {
  color: #ffa800;
}

/*
  ! 圖片路徑
*/

.deposit-base__field__receipt-upload__label {
  background-image: url(~@/assets/common/ui/btn--yellow.jpg);
}

.deposit-base__button-div--submit {
  background-image: url(~@/assets/common/ui/btn--yellow.jpg);
}

.deposit-base__button-div--cancel {
  background-image: url(~@/assets/common/ui/btn--black.jpg);
}
