@import '@/styles/global/abstracts';
@import '../abstracts';

//* DepositModeNav
.deposit-mode-nav {
  button {
    color: black;
    background: $btn-bg-yellow-light;
  }

  button.active {
    color: white;
    background: $btn-bg-red;
  }
}

//* DepositForm
.deposit-form__field__hint {
  color: #707070;
}
.deposit-form__field__hint--ps {
  color: #ffa800;
}

.deposit-form-dialog {
  border: 1px solid #d6c388;
}

.deposit-form__field__receipt-upload__label {
  background-image: $btn-bg-yellow;
}

.deposit-form__button-div--submit {
  background-image: $btn-bg-yellow;
}

.deposit-form__button-div--cancel {
  background-image: $btn-bg-black;
}
