@import '@/styles/global/abstracts';
@import '../abstracts';

.withdrawal__light-message {
  color: #ffff00;
}

/*
  ! 圖片路徑
*/
.withdrawal__li__button {
  background-image: $btn-bg-yellow;
}
.withdrawal__button--submit {
  background-image: $btn-bg-yellow;
}
