$type: 'Y/01/01';

.contact__content__ul__li__link {
  color: #fff;
}

.contact__content__ul__li__link--qq2,
.contact__content__ul__li__link--skype2 {
  color: #fff;
}
.contact__content__ul__li__link--tel {
  color: #fff;
}

/*
  ! 圖片路徑
*/
.contact__content__ul__li__block--tel {
  background: url(~@/assets/#{$type}/imgs/main/telBg.png) no-repeat;
}
