$type: 'Y/01/01';
/*===================================================================================================================*/
/*                                                      UI                                                           */
/*===================================================================================================================*/

body {
  background: #000 url(~@/assets/#{$type}/imgs/layout/bg.jpg) no-repeat center top;
}
.ui-ddl {
  border: 1px solid #8b8b8b;
}


/*===================================================================================================================*/
/*                                                      Theme                                                        */
/*===================================================================================================================*/

.theme-content-box {
  border: 1px solid #d6c388;
}

// .game-lobby__supply {
//   background: #000 url(~@/assets/#{$type}/imgs/ui/bg_category.png) bottom center no-repeat;
// }
// .game-lobby__inquire {
//   background-color: #000;
// }
// .game-lobby__table {
//   background-color: #181b23;
// }

/*
  ! 圖片路徑
*/

body {
  background: #000 url(~@/assets/#{$type}/imgs/layout/bg.jpg) no-repeat center top;
}
.ui-btn01 {
  background-image: url(~@/assets/#{$type}/imgs/ui/btn01.jpg);
}
.ui-btn02 {
  background-image: url(~@/assets/#{$type}/imgs/ui/btn02.jpg);
}
.ui-ddl {
  background: #2e2e2e url(~@/assets/#{$type}/imgs/ui/ddl_arrow.jpg) no-repeat right top;
}
.ui-table01 {
  background: url(~@/assets/#{$type}/imgs/ui/table01Bg.png) repeat;
}
.ui-table01 .ui-lnk-detail {
  background-image: url(~@/assets/#{$type}/imgs/ui/lnk_detail1.png);
}
.ui-table03 .ui-lnk-detail {
  background-image: url(~@/assets/#{$type}/imgs/ui/lnk_detail2.png);
}
.ui-table04 {
  background: url(~@/assets/#{$type}/imgs/ui/table01Bg.png) repeat;
}
.ui-li-tabs-account {
  background-image: url(~@/assets/#{$type}/imgs/ui/tabs_account.png);
}
.ui-li-tabs-password {
  background-image: url(~@/assets/#{$type}/imgs/ui/tabs_password.png);
}
.ui-li-tabs-deposit {
  background-image: url(~@/assets/#{$type}/imgs/ui/tabs_deposit.png);
}
.ui-li-tabs-withdrawal {
  background-image: url(~@/assets/#{$type}/imgs/ui/tabs_withdrawal.png);
}
.ui-li-tabs-wallet {
  background-image: url(~@/assets/#{$type}/imgs/ui/tabs_wallet.png);
}
.ui-li-tabs-pointrecord {
  background-image: url(~@/assets/#{$type}/imgs/ui/tabs_pointrecord.png);
}
.ui-li-tabs-uns {
  background-image: url(~@/assets/#{$type}/imgs/ui/tabs_uns.png);
}
.ui-li-tabs-bethistory {
  background-image: url(~@/assets/#{$type}/imgs/ui/tabs_bethistory.png);
}
.ui-li-tabs-news {
  background-image: url(~@/assets/#{$type}/imgs/ui/tabs_news.png);
}
.ui-li-tabs-mail {
  background-image: url(~@/assets/#{$type}/imgs/ui/tabs_mail.png);
}
.ui-li-tabs-sendmail {
  background-image: url(~@/assets/#{$type}/imgs/ui/tabs_sendmail.png);
}
.ui-li-tabs-partner1 {
  background-image: url(~@/assets/#{$type}/imgs/ui/tabs_partner1.png);
}
.ui-li-tabs-partner2 {
  background-image: url(~@/assets/#{$type}/imgs/ui/tabs_partner2.png);
}
.ui-li-tabs-partner3 {
  background-image: url(~@/assets/#{$type}/imgs/ui/tabs_partner3.png);
}
.ui-li-tabs-partner4 {
  background-image: url(~@/assets/#{$type}/imgs/ui/tabs_partner4.png);
}
.ui-li-tabs-account.active {
  background-image: url(~@/assets/#{$type}/imgs/ui/tabs_accountActive.png);
}
.ui-li-tabs-password.active {
  background-image: url(~@/assets/#{$type}/imgs/ui/tabs_passwordActive.png);
}
.ui-li-tabs-deposit.active {
  background-image: url(~@/assets/#{$type}/imgs/ui/tabs_depositActive.png);
}
.ui-li-tabs-withdrawal.active {
  background-image: url(~@/assets/#{$type}/imgs/ui/tabs_withdrawalActive.png);
}
.ui-li-tabs-wallet.active {
  background-image: url(~@/assets/#{$type}/imgs/ui/tabs_walletActive.png);
}
.ui-li-tabs-pointrecord.active {
  background-image: url(~@/assets/#{$type}/imgs/ui/tabs_pointrecordActive.png);
}
.ui-li-tabs-uns.active {
  background-image: url(~@/assets/#{$type}/imgs/ui/tabs_unsActive.png);
}
.ui-li-tabs-bethistory.active {
  background-image: url(~@/assets/#{$type}/imgs/ui/tabs_bethistoryActive.png);
}
.ui-li-tabs-news.active {
  background-image: url(~@/assets/#{$type}/imgs/ui/tabs_newsActive.png);
}
.ui-li-tabs-mail.active {
  background-image: url(~@/assets/#{$type}/imgs/ui/tabs_mailActive.png);
}
.ui-li-tabs-sendmail.active {
  background-image: url(~@/assets/#{$type}/imgs/ui/tabs_sendmailActive.png);
}
.ui-li-tabs-sendmail.active {
  background-image: url(~@/assets/#{$type}/imgs/ui/tabs_sendmailActive.png);
}
.ui-li-tabs-partner1.active {
  background-image: url(~@/assets/#{$type}/imgs/ui/tabs_partner1Active.png);
}
.ui-li-tabs-partner2.active {
  background-image: url(~@/assets/#{$type}/imgs/ui/tabs_partner2Active.png);
}
.ui-li-tabs-partner3.active {
  background-image: url(~@/assets/#{$type}/imgs/ui/tabs_partner3Active.png);
}
.ui-li-tabs-partner4.active {
  background-image: url(~@/assets/#{$type}/imgs/ui/tabs_partner4Active.png);
}
.ui-li-tabs-action {
  background-image: url(~@/assets/#{$type}/imgs/ui/tabs_action.png);
}
.ui-li-tabs-action2 {
  background-image: url(~@/assets/#{$type}/imgs/ui/tabs_action2.png);
}
.ui-li-tabs-history {
  background-image: url(~@/assets/#{$type}/imgs/ui/tabs_pointrecord.png);
}
.ui-li-tabs-action.active {
  background-image: url(~@/assets/#{$type}/imgs/ui/tabs_actionActive.png);
}
.ui-li-tabs-action2.active {
  background-image: url(~@/assets/#{$type}/imgs/ui/tabs_action2Active.png);
}
.ui-li-tabs-history.active {
  background-image: url(~@/assets/#{$type}/imgs/ui/tabs_pointrecordActive.png);
}
// .ui-lnk-pagerPreviousMore {
//   background-image: url(~@/assets/#{$type}/imgs/ui/lnk_previousMore.png);
// }
// .ui-lnk-pagerPrevious {
//   background-image: url(~@/assets/#{$type}/imgs/ui/lnk_previous.png);
// }
// .ui-lnk-pagerNext {
//   background-image: url(~@/assets/#{$type}/imgs/ui/lnk_next.png);
// }
// .ui-lnk-pagerNextMore {
//   background-image: url(~@/assets/#{$type}/imgs/ui/lnk_nextMore.png);
// }
// .ui-ddl-pager {
//   background: url(~@/assets/#{$type}/imgs/ui/ddl_pager.jpg) no-repeat;
// }
// .ui-li-supply-1180 {
//   background-image: url(~@/assets/#{$type}/imgs/ui/supply-1180.png);
// }
// .ui-li-supply-1150 {
//   background-image: url(~@/assets/#{$type}/imgs/ui/supply-1150.png);
// }
// .ui-li-supply-1140 {
//   background-image: url(~@/assets/#{$type}/imgs/ui/supply-1140.png);
// }
// .ui-li-supply-1120 {
//   background-image: url(~@/assets/#{$type}/imgs/ui/supply-1120.png);
// }
// .ui-li-supply-1130 {
//   background-image: url(~@/assets/#{$type}/imgs/ui/supply-1130.png);
// }
// .ui-li-supply-1030 {
//   background-image: url(~@/assets/#{$type}/imgs/ui/supply-1030.png);
// }
// .ui-li-supply-1190 {
//   background-image: url(~@/assets/#{$type}/imgs/ui/supply-1190.png);
// }
// .ui-li-supply-1010 {
//   background-image: url(~@/assets/#{$type}/imgs/ui/supply-1010.png);
// }
// .ui-li-supply-1170 {
//   background-image: url(~@/assets/#{$type}/imgs/ui/supply-1170.png);
// }
// .ui-li-supply-1160 {
//   background-image: url(~@/assets/#{$type}/imgs/ui/supply-1160.png);
// }
// .ui-li-supply-1200 {
//   background-image: url(~@/assets/#{$type}/imgs/ui/supply-1200.png);
// }
// .ui-li-supply-1190-02 {
//   background-image: url(~@/assets/#{$type}/imgs/ui/supply-1190-02.png);
// }
// .ui-li-supply-1180.ui-li-supply-active {
//   background-image: url(~@/assets/#{$type}/imgs/ui/supply-1180-active.png);
// }
// .ui-li-supply-1150.ui-li-supply-active {
//   background-image: url(~@/assets/#{$type}/imgs/ui/supply-1150-active.png);
// }
// .ui-li-supply-1140.ui-li-supply-active {
//   background-image: url(~@/assets/#{$type}/imgs/ui/supply-1140-active.png);
// }
// .ui-li-supply-1120.ui-li-supply-active {
//   background-image: url(~@/assets/#{$type}/imgs/ui/supply-1120-active.png);
// }
// .ui-li-supply-1130.ui-li-supply-active {
//   background-image: url(~@/assets/#{$type}/imgs/ui/supply-1130-active.png);
// }
// .ui-li-supply-1030.ui-li-supply-active {
//   background-image: url(~@/assets/#{$type}/imgs/ui/supply-1030-active.png);
// }
// .ui-li-supply-1190.ui-li-supply-active {
//   background-image: url(~@/assets/#{$type}/imgs/ui/supply-1190-active.png);
// }
// .ui-li-supply-1190-02.ui-li-supply-active {
//   background-image: url(~@/assets/#{$type}/imgs/ui/supply-1190-02-active.png);
// }
// .ui-li-supply-1010.ui-li-supply-active {
//   background-image: url(~@/assets/#{$type}/imgs/ui/supply-1010-active.png);
// }
// .ui-li-supply-1170.ui-li-supply-active {
//   background-image: url(~@/assets/#{$type}/imgs/ui/supply-1170-active.png);
// }
// .ui-li-supply-1160.ui-li-supply-active {
//   background-image: url(~@/assets/#{$type}/imgs/ui/supply-1160-active.png);
// }
// .ui-li-supply-1200.ui-li-supply-active {
//   background-image: url(~@/assets/#{$type}/imgs/ui/supply-1200-active.png);
// }
// .ui-ipt-inquire {
//   background: url(~@/assets/#{$type}/imgs/ui/bg_ipt_inquire-2.png) no-repeat;
// }
// .ui-lnk-inquire {
//   background: url(~@/assets/#{$type}/imgs/ui/bg_lnk_inquire.png) center no-repeat;
// }
// .ui-ipt-favorites {
//   background: url(~@/assets/#{$type}/imgs/ui/ipt_favorites.png) center no-repeat;
// }
// .ui-lnk-transferNow {
//   background: url(~@/assets/#{$type}/imgs/ui/btn_transferNow.png) left center no-repeat;
// }
// .theme-content-box {
//   background: url(~@/assets/#{$type}/imgs/theme/boxBg.png);
// }

// .theme-jackpot {
//   background: url(~@/assets/#{$type}/imgs/theme/bg_jackpot.png) center top no-repeat;
// }

// .theme-slotgame-jackpot,
// .theme-livegame-jackpot {
//   background: url(~@/assets/#{$type}/imgs/theme/bg_jackpot.png) center top no-repeat;
// }
// .theme-slotgame-supply,
// .theme-livegame-supply {
//   background: #000 url(~@/assets/#{$type}/imgs/ui/bg_category.png) bottom center no-repeat;
// }

.i-prize {
  background: url(~@/assets/#{$type}/imgs/main/prizeIcn.png) left center no-repeat;
}
.ul-prize {
  background: url(~@/assets/#{$type}/imgs/main/prizeBg.png) left center no-repeat;
}
.i-luckyDraw {
  background: url(~@/assets/#{$type}/imgs/main/luckyDrawIcn.png) left center no-repeat;
}
.ul-luckyDraw {
  background: url(~@/assets/#{$type}/imgs/main/prizeBg.png) left center no-repeat;
}
