$type: 'Y/01/01';

.lnk-regist,
.lnk-forget,
.lnk-open,
.lnk-download {
  color: #fff;
}

/*
  ! 圖片路徑
*/

.blk-account {
  background-image: url(~@/assets/#{$type}/imgs/main/authBg_account.png);
}
.blk-password {
  background-image: url(~@/assets/#{$type}/imgs/main/authBg_password.png);
}
.blk-code {
  background-image: url(~@/assets/#{$type}/imgs/main/authBg_code.png);
}
.lnk-regist {
  background-image: url(~@/assets/#{$type}/imgs/main/registerBg.png);
}
.lnk-forget {
  background-image: url(~@/assets/#{$type}/imgs/main/forgetBg.png);
}
// .lnk-open {
//   background-image: url(~@/assets/#{$type}/imgs/main/open.png);
// }
// .lnk-download {
//   background-image: url(~@/assets/#{$type}/imgs/main/download.png);
// }
