$type: 'Y/01/01';

.register {
  padding-bottom: 20px;
}

.register--form--input-group--notice {
  color: #959595;
}
.register--notice--ol {
  color: #959595;
}
/*
  ! 圖片路徑
*/

.register--form--input-group--div__recommend {
  background-image: url(~@/assets/#{$type}/imgs/main/authBg_recommend.png);
}
.register--form--input-group--div__account {
  background-image: url(~@/assets/#{$type}/imgs/main/authBg_account.png);
}
.register--form--input-group--div__password {
  background-image: url(~@/assets/#{$type}/imgs/main/authBg_password.png);
}
.register--form--input-group--div__callphone {
  background-image: url(~@/assets/#{$type}/imgs/main/authBg_callphone.png);
}
.register--form--input-group--div__name {
  background-image: url(~@/assets/#{$type}/imgs/main/authBg_name.png);
}
.register--form--input-group--div__code {
  background-image: url(~@/assets/#{$type}/imgs/main/authBg_code.png);
}
