@mixin ui-btn {
  display: inline-block;
  height: $btn-height;
  font-size: 2rem;
  border-radius: 5px;
  text-align: center;
  border: none;

  &--block {
    display: block;
    width: 100%;
  }
}

@mixin ui-field {
  background: $field-bg;
  font-size: $field-font-size;
  // width: 593px;
  width: 100%;
  min-height: 89px;
  // padding: 30px;
  border-radius: 5px;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 20px;

  input[type='date']::-webkit-calendar-picker-indicator {
    filter: invert(1);
  }

  // input:read-only,
  // input:disabled {
  //   color: gray;
  // }

  &__group {
    width: 100%;
    padding: 30px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;

    &__label {
      color: $field-label-color;
      // flex-basis: 150px;
      margin-right: 15px;
    }
    &__input {
      background: transparent;
      color: $field-input-color;
      border: none;
      &::placeholder {
        color: $field-input-color-placeholder;
      }
    }
    &__text {
      color: $field-input-color;
      margin-left: 15px;
    }
  }

  &__group--checkbox {
    input[type='checkbox'] {
      flex-basis: 70px;
      width: 35px;
      height: 35px;
      margin-right: 10px;
    }

    label {
      word-break: break-word;
      // width: calc(100% - 45px);
      color: $field-label-color-checkbox;
    }
  }

  &__group--textarea {
    width: 100%;
    border-radius: 5px;
    padding: 15px 30px 30px 30px;
    display: flex;
    flex-direction: column;
    label {
      width: 100%;
      justify-self: flex-start;
      color: $field-textarea-label-color;
      margin-bottom: 10px;
    }
    textarea {
      width: 100%;
      padding: 15px;
      background: $field-textarea-bg;
      color: $field-textarea-color;
      box-shadow: $field-textarea-shadow;
    }
  }

  &__group--btn {
    flex-wrap: wrap;
    position: relative;
    label {
      width: 100%;
    }
    span {
      margin: 0;
    }
    button {
      position: absolute;
      right: 15px;
    }
  }

  &__select {
    background: $field-select-bg;
    color: $field-select-color;
    width: 100%;
    padding: 30px;
    border: none;
    appearance: none;

    option {
      color: $field-select-color;
    }
  }

  &__error {
    background: $field-error-bg;
    color: $field-error-color;
    display: block;
    width: 100%;
    text-align: center;
    position: relative;
    padding: 5px;
  }

  &__captcha {
    position: absolute;
    right: 30px;
    top: 20px;
  }

  &__star {
    font-size: 3rem;
    color: $field-star-color;
    position: absolute;
    left: -30px;
    top: 25px;
    flex-shrink: 0;
  }
}

@mixin ui-notice {
  color: $notice-color;
  font-size: $notice-font-size;
  line-height: $notice-line-height;

  &--height-light {
    color: $notice-height-light-color;
  }
}

@mixin ui-step {
  width: 100%;
  color: $step-color;
  border-bottom: $step-border;
  font-size: 1.8rem;
  padding-bottom: 5px;
  margin: 30px 0px;
}

@mixin ui-point-list {
  width: 100%;
  margin-top: 20px;
  background: $point-list-bg;
  padding: 30px 20px;
  border-radius: 5px;
  &__item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    &__label {
      color: $point-list-label-color;
    }
    &__content {
      color: $point-list-content-color;
    }

    &:not(:last-child):after {
      content: '';
      background: $point-list-border-bg;
      box-shadow: $point-list-border-shadow;
      width: 100%;
      height: 1px;
      margin: 30px 0;
    }
  }
}

@mixin ui-table {
  background: $table-bg;
  width: 100%;
  text-align: center;
  border-radius: 5px;
  margin: 30px 0;

  tr {
    border-bottom: $table-tr-border-bottom;
    box-shadow: $table-tr-shadow;
  }

  // tr:not(:first-child) {
  //   border-bottom: $table-tr-border-bottom;
  //   box-shadow: $table-tr-shadow;
  // }

  th,
  td {
    padding: 10px 5px;
    border: $table-td-border;
  }

  th {
    background: $table-th-bg;
    color: $table-th-color;
  }

  td {
    color: $table-td-color;
  }
}

@mixin nav-tab {
  width: 100%;
  margin: 30px 0;
  display: flex;
  position: relative;
  white-space: nowrap;
  overflow-x: scroll;

  &:before,
  &:after {
    content: '';
    flex-grow: 1;
  }

  &__container {
    width: 100%;
    display: flex;
    white-space: nowrap;
    overflow-x: scroll;

    &:before,
    &:after {
      content: '';
      flex-grow: 1;
    }
  }

  &__item {
    flex-basis: 20%;
    font-size: 1.8rem;
    line-height: 2.5rem;
    margin-right: 15px;
    padding: 0 15px;
    color: $nav-tab-text-color;
    border-bottom: $nav-tab-border-bottom;
    text-align: center;

    > a {
      color: $nav-tab-text-color;
    }

    &.active {
      color: $nav-tab-text-color-active;
      border-bottom: $nav-tab-border-bottom-active;

      > a {
        color: $nav-tab-text-color-active;
      }
    }
  }

  &__left,
  &__right {
    width: $nav-tab-arrow-width;
    height: 100%;
    position: absolute;
    animation-name: arrow-opacity;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }

  &__left {
    left: -1px;
    &--home {
      background: $nav-tab-arrow-bg-left-home;
    }
    &--promotion {
      background: $nav-tab-arrow-bg-left-promotion;
    }
    &--game-product {
      background: $nav-tab-arrow-bg-left-game-product;
    }
    &--game-category {
      background: $nav-tab-arrow-bg-left-game-category;
    }
  }

  &__right {
    right: -2px;
    &--home {
      background: $nav-tab-arrow-bg-right-home;
    }
    &--promotion {
      background: $nav-tab-arrow-bg-right-promotion;
    }
    &--game-product {
      background: $nav-tab-arrow-bg-right-game-product;
    }
    &--game-category {
      background: $nav-tab-arrow-bg-right-game-category;
    }
  }

  &__intersect {
    &--right {
      opacity: 0;
      padding-right: 1px;
    }
  }
}

@mixin ui-box-close {
  background: $box-close-bg;
  position: absolute;
  right: $box-close-top;
  top: $box-close-right;
  width: $box-close-size;
  height: $box-close-size;

  &:before,
  &:after {
    background: $box-close-line-color;
    position: absolute;
    left: $box-close-size / 2;
    content: ' ';
    height: $box-close-size;
    width: $box-close-line-width;
  }

  &:before {
    transform: rotate(45deg);
  }
  &:after {
    transform: rotate(-45deg);
  }
}

@mixin go-top-btn {
  background: $go-top-btn-bg;
  width: $go-top-btn-width;
  height: $go-top-btn-height;
  position: fixed;
  bottom: $go-top-btn-bottom;
  right: $go-top-btn-right;
  border: none;
}

@mixin lottery-btn-block {
  position: fixed;
  bottom: $lottery-btn-block-bottom;
  left: $lottery-btn-block-left;

  display: flex;
  flex-direction: column;
  align-items: center;

  font-size: 1.2rem;

  &__win-wheel {
    // background: $lottery-btn-block-win-wheel-bg;
    width: $lottery-btn-block-win-wheel-width;
    height: $lottery-btn-block-win-wheel-height;
    position: relative;
    display: flex;
    justify-content: center;
    &__text {
      position: absolute;
      top: $lottery-btn-block-win-wheel-text-top;
      color: $lottery-btn-block-win-wheel-text-color;
    }
  }
  &__red-envelope {
    // background: $lottery-btn-block-red-envelope-bg;
    width: $lottery-btn-block-red-envelope-width;
    height: $lottery-btn-block-red-envelope-height;
    position: relative;
    display: flex;
    justify-content: center;
    &__text {
      position: absolute;
      top: $lottery-btn-block-red-envelope-text-top;
      color: $lottery-btn-block-red-envelope-text-color;
    }
  }
}

@mixin ui-no-data {
  background: $no-data-bg;
  color: $no-data-color;
  font-size: $no-data-font-size;
  text-align: center;
  padding: 30px 0;
}

@mixin service-term {
  background: $service-term-bg;
  color: $service-term-color;
  width: 95%;
  height: 90vh;
  padding: 15px 30px;
  border: 1px solid #c1ae71;
  border-radius: 5px;
  position: relative;

  &__container {
    height: 80%;
    // height: calc(90vh - #{$btn-height} - 160px);
    overflow-y: scroll;
    margin-bottom: 30px;
  }

  &__title {
    font-size: 3rem;
    text-align: center;
    padding-bottom: 30px;
  }

  &__sub-title {
    font-size: 2rem;
  }

  &__body {
    font-size: 2rem;
    &__item {
      &__title {
        background: $service-term-item-title-bg;
        color: $service-term-item-title-color;
        padding: 15px;
        margin: 15px 0;
        position: relative;

        &__icon {
          display: inline-block;
          width: 35px;
          height: 23px;
          background: $service-term-item-title-icon;
          position: absolute;
          right: 15px;
          // top: 50%;
          // transform: translateY(-50%);
          top: 30%;
          transform: translateY(-50%);
          transition: all 0.3s linear;
          transform: rotate(-90deg);
          &.open {
            transform: rotate(0deg);
          }
        }
      }

      &__content {
        color: $service-term-item-content-color;
        box-sizing: content-box;
        transform-origin: top;
        ul {
          list-style-type: decimal-leading-zero;
          margin: 30px;

          li {
            color: $service-term-item-content-color;
          }
        }
      }
    }
  }
  &__footer {
    button {
      background: $service-term-btn-bg;
      color: $service-term-btn-color;
      box-shadow: $service-term-btn-shadow;
    }
  }
}
