@mixin footer {
  background: $footer-bg;
  width: 100%;
  padding-top: 3px;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 4;
}

@mixin footer-nav {
  background: $footer-nav-bg;
  display: flex;
  height: $footer-height;
  &__item {
    background: $footer-nav-item-bg;
    width: 25%;

    &.active {
      background: $footer-nav-item-bg-active;
    }

    &__link {
      color: $footer-nav-link-color;
      // background: $footer-nav-link-bg;
      display: block;
      text-align: center;

      &:lang(en-us) {
        font-size: 1.5rem;
        line-height: 170px;
      }

      &:lang(th-th) {
        font-size: 1.6rem;
        line-height: 170px;
      }

      &:lang(zh-cn) {
        font-size: 1.8rem;
        line-height: 170px;
      }
    }

    &:after {
      background: $footer-nav-item-border-bg;
      content: '';
      display: inline-block;
      width: 5px;
      height: 119px;
      position: absolute;
      top: 0;
    }
    &:first-child:after {
      background: none;
    }

    &.footer-nav__item--home {
      > a {
        background: $footer-nav-item-icon-home-bg;
        color: $footer-nav-link-color;
      }

      &.active {
        > a {
          background: $footer-nav-item-icon-home-bg-active;
          color: $footer-nav-link-color-active;
        }
      }
    }
    &.footer-nav__item--login {
      > a {
        background: $footer-nav-item-icon-login-bg;
        color: $footer-nav-link-color;
      }

      &.active {
        > a {
          background: $footer-nav-item-icon-login-bg-active;
          color: $footer-nav-link-color-active;
        }
      }
    }
    &.footer-nav__item--promotion {
      > a {
        background: $footer-nav-item-icon-promotion-bg;
        color: $footer-nav-link-color;
      }

      &.active {
        > a {
          background: $footer-nav-item-icon-promotion-bg-active;
          color: $footer-nav-link-color-active;
        }
      }
    }
    &.footer-nav__item--contact {
      > a {
        background: $footer-nav-item-icon-contact-bg;
        color: $footer-nav-link-color;
      }

      &.active {
        > a {
          background: $footer-nav-item-icon-contact-bg-active;
          color: $footer-nav-link-color-active;
        }
      }
    }
    &.footer-nav__item--transaction {
      > a {
        background: $footer-nav-item-icon-transaction-bg;
        color: $footer-nav-link-color;
      }

      &.active {
        > a {
          background: $footer-nav-item-icon-transaction-bg-active;
          color: $footer-nav-link-color-active;
        }
      }
    }
  }
}
