@mixin game-lobby-list-icon {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 15px;

  &__item {
    flex-basis: calc(33% - 10px);
    position: relative;
    margin: 0 5px 60px 5px;

    &__icon {
      display: block;
      margin: 0 auto;
    }

    &__text {
      color: $game-lobby-list-icon-item-text-color;
      font-size: 2rem;
      font-weight: bold;
      text-align: center;
    }

    &__new {
      background: red;
      color: white;
      position: absolute;
      top: -20px;
      right: 0;
      font-size: 1.5rem;
      font-weight: bold;
      padding: 1px 3px;
    }
  }
}
