@mixin game {
  background: $game-bg;
  padding-top: $header-sub-height-auth;
  min-height: 65vh;
}

@mixin game-lobby-jackpot {
  position: relative;
  height: 71px;
  margin: 15px 0;

  &__text {
    position: absolute;
    left: 246px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 42px;
    font-family: Arial Black, sans-serif;
    font-weight: bold;
    color: $game-lobby-jackpot-text-color;
    background: $game-lobby-jackpot-text-bg;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &:lang(en-us) {
    background: $game-lobby-jackpot-bg-en-us;
  }
  &:lang(th-th) {
    background: $game-lobby-jackpot-bg-th-th;
  }
  &:lang(zh-cn) {
    background: $game-lobby-jackpot-bg-zh-cn;
  }
}

@mixin game-lobby-product {
  background: $game-lobby-product-bg;
  height: 110px;
  // overflow: hidden;
  position: relative;

  width: 100%;
  display: flex;
  align-items: center;
  white-space: nowrap;
  overflow-x: scroll;

  &__container {
    width: 100%;
    height: 100%;
    display: flex;
    overflow-x: scroll;
  }

  &:before,
  &:after {
    content: '';
    flex-grow: 1;
  }

  &__item {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
    flex-basis: 33%;
    position: relative;

    // &.active {
    //   background: $game-lobby-product-item-bg-active;
    // }

    > img {
      width: $game-lobby-product-icon-width;
      height: $game-lobby-product-icon-height;
    }
    &__text {
      font-size: 1.5rem;
      color: white;
    }

    &.active {
      background: $game-lobby-product-item-bg-active;

      &:before {
        content: '';
        position: absolute;
        bottom: -1px;
        border-style: solid;
        border-width: 0 15px 10px 15px;
        border-color: transparent transparent $game-lobby-product-border-arrow-color transparent;
      }
    }
  }
}

@mixin game-lobby-category {
  background: $game-lobby-category-bg;
  position: relative;
  height: 74px;
  display: flex;
  white-space: nowrap;
  overflow-x: scroll;

  &__container {
    width: 100%;
    height: 100%;
    display: flex;
    overflow-x: scroll;
  }

  &__item {
    display: flex;
    align-items: center;
    padding: 0 15px;
    position: relative;

    &__text {
      color: $game-lobby-category-text-color;
      font-size: 1.5rem;
    }

    &__text.active {
      color: $game-lobby-category-text-color-active;
    }
  }
}

@mixin game-lobby-search {
  background: $game-lobby-search-bg;
  padding: 30px 15px;
  font-size: 1.5rem;

  &__form {
    display: flex;
  }

  &__right {
    margin-left: auto;
    display: flex;
  }

  &__input {
    background: $game-lobby-search-input-bg;
    color: $game-lobby-search-input-color;
    width: $game-lobby-search-input-width;
    height: $game-lobby-search-input-height;
    border: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 5px 15px;
    box-sizing: border-box !important;
  }

  button {
    border: none;
  }

  &__btn {
    &--submit {
      background: $game-lobby-search-icon-bg;
      width: $game-lobby-search-icon-width;
      height: $game-lobby-search-icon-height;
      margin-left: -1px;
    }
    &--fav {
      background: $game-lobby-search-fav-bg;
      width: $game-lobby-search-fav-width; // 56px
      height: $game-lobby-search-fav-height;
      margin-right: 15px;
    }
    &--transfer {
      padding-right: 20px;
      padding-left: $game-lobby-search-transfer-icon-width;
      background: $game-lobby-search-transfer-bg;
      color: $game-lobby-search-transfer-color;
      width: $game-lobby-search-transfer-width;
      height: $game-lobby-search-transfer-height;
      text-align: center;
    }
  }
}

@mixin game-lobby-list {
  &__table {
    background: $game-lobby-list-table-bg;
    width: 100%;
    letter-spacing: -1px;

    &__tr {
      background: $game-lobby-list-table-tr-bg;
      border-bottom: $game-lobby-list-table-tr-border-bottom;

      &__td {
        &__link {
          &--start {
            background: $game-lobby-list-link-bg-start;
          }
          &--free {
            background: $game-lobby-list-link-bg-free;
          }
          &--favorites {
            background: $game-lobby-list-link-bg-fav;
          }
          &--favorites.active {
            background: $game-lobby-list-link-bg-fav-active;
          }
        }
      }

      &__td-1st {
        max-width: 152px;
        padding: 5px 10px;
        overflow: hidden;

        &__img {
          width: 100%;
        }
      }
      &__td-2nd {
        color: $game-lobby-list-table-title-color;
        width: auto;
        min-width: 208px;
        padding: 0 5px;
        font-size: 24px;
        // color: #92a0c0;
        font-weight: bold;
        vertical-align: middle;
        word-break: break-word;
      }
      &__td-3rd {
        width: auto;
        padding: 10px 0;
        white-space: nowrap;
        text-align: center;

        & > a {
          display: inline-block;
          width: 90px;
          height: 83px;
          color: $game-lobby-list-table-content-color;
          font-size: 21px;
          line-height: 205px;
          margin: 0 10px;
          background-repeat: no-repeat;
        }
      }
    }
  }
}

@mixin game-lobby-list-icon {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 15px;

  &__item {
    flex-basis: calc(33% - 10px);
    position: relative;
    margin: 0 5px 60px 5px;

    &__icon {
      height: $game-lobby-list-icon-item-img-height;
      display: block;
      margin: 0 auto;
    }

    &__text {
      color: $game-lobby-list-icon-item-text-color;
      font-size: 2rem;
      font-weight: bold;
      text-align: center;
    }

    &__new {
      background: red;
      color: white;
      position: absolute;
      top: -20px;
      right: 0;
      font-size: 1.5rem;
      font-weight: bold;
      padding: 1px 3px;
    }
  }
}

@mixin game-transfer-dialog {
  background: $game-transfer-dialog-bg;
  border: $game-transfer-dialog-border;
  width: 85%;
  /* height: 628px; */
  position: absolute;
  top: 25%;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  overflow: auto;
  z-index: 9999;
  font-size: 2.5rem;
  // padding: 15px 30px 40px 30px;

  &__header {
    background: $game-transfer-dialog-header-bg;
    padding: 15px 0px;
  }

  &__body {
    padding: 15px 30px;
  }

  &__title {
    color: $game-transfer-dialog-title-color;
    font-size: 3rem;
    text-align: center;
    font-weight: bold;
  }
  &__form {
    &__content {
      text-align: left;
      padding-left: 15px;
    }
    &__label {
      color: $game-transfer-dialog-label-color;
    }
    &__wallet {
      color: $game-transfer-dialog-wallet-color;
      margin-left: 15px;
    }
    &__amount {
      color: $game-transfer-dialog-amount-color;
    }

    &__switch-div {
      margin-top: 20px;
    }
    &__switch {
      display: inline-block;
      width: $game-transfer-dialog-switch-width;
      height: 100px;
      padding-left: 50px;
      /* padding: 25px 0px 30px 50px; */
      color: $game-transfer-dialog-switch-color;
      border: 0;
      vertical-align: middle;
      line-height: 2.5rem;
    }
    &__switch.on {
      color: $game-transfer-dialog-switch-color-active;
    }
    &__switch.left {
      background: $game-transfer-dialog-switch-left;
    }
    &__switch.left.on {
      background: $game-transfer-dialog-switch-left-on;
    }
    &__switch.right {
      background: $game-transfer-dialog-switch-right;
    }
    &__switch.right.on {
      background: $game-transfer-dialog-switch-right-on;
    }

    &__input {
      background: $game-transfer-dialog-input-bg;
      color: $game-transfer-dialog-input-color;
      width: 98%;
      padding: 16px 0 16px 20px;
      font-size: 34px;
      border-radius: 6px;
      border: 1px solid #7e7e7e;
      margin-top: 20px;
      box-sizing: border-box;
    }
    &__button {
      margin-top: 30px;
      width: 98%;
      background: $game-transfer-dialog-btn-bg-submit;
      color: $game-transfer-dialog-btn-color-submit;
    }
  }
}

@mixin live-game-enter-dialog {
  background: $live-game-enter-dialog-bg;
  border: $live-game-enter-dialog-border;
  width: 70%;
  /* height: 628px; */
  position: absolute;
  top: 25%;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  overflow: auto;
  z-index: 9999;
  font-size: 2rem;
  padding: 60px 30px 60px 30px;

  button {
    margin-top: 30px;
    padding: 15px;
    width: 100%;
    background: $live-game-enter-dialog-btn-bg;
    color: $live-game-enter-dialog-btn-color;
  }
}
