@import './_abstracts';
@import '@/styles/Z/_default/footer';

$footer-bg: none;

.footer {
  @include footer;
}

$footer-nav-bg: linear-gradient(to bottom, #278bb9 4%, #1c6080 19%);
$footer-nav-item-bg: transparent;
$footer-nav-item-bg-active: $btn-bg-blue;
$footer-nav-link-color: white;
$footer-nav-link-color-active: white;
$footer-nav-item-border-bg: none;
$footer-nav-item-icon-home-bg: assetPath('footer/ui-footer-toolbar-home.png') center -145px no-repeat;
$footer-nav-item-icon-home-bg-active: assetPath('footer/ui-footer-toolbar-home.png') center -145px no-repeat;
$footer-nav-item-icon-login-bg: assetPath('footer/ui-footer-toolbar-registOrlogin.png') center -145px no-repeat;
$footer-nav-item-icon-login-bg-active: assetPath('footer/ui-footer-toolbar-registOrlogin.png') center -145px no-repeat;
$footer-nav-item-icon-promotion-bg: assetPath('footer/ui-footer-toolbar-event.png') center -145px no-repeat;
$footer-nav-item-icon-promotion-bg-active: assetPath('footer/ui-footer-toolbar-event.png') center -145px no-repeat;
$footer-nav-item-icon-contact-bg: assetPath('footer/ui-footer-toolbar-contact.png') center -145px no-repeat;
$footer-nav-item-icon-contact-bg-active: assetPath('footer/ui-footer-toolbar-contact.png') center -145px no-repeat;
$footer-nav-item-icon-transaction-bg: assetPath('footer/ui-footer-toolbar-trading.png') center -145px no-repeat;
$footer-nav-item-icon-transaction-bg-active: assetPath('footer/ui-footer-toolbar-trading.png') center -145px no-repeat;

.footer-nav {
  @include footer-nav;
  &__item {
    border-right: 2px solid #1c393fd9;
    border-left: 2px solid #ffffff5c;
  }
}
