@import './_abstracts';
@import '@/styles/Z/_default/forget-password';

$forget-password-bg: $base-inner-bg;
$forget-password-icon-bg: assetPath('forget-password/forgetDescBg.png') center no-repeat;
$forget-password-icon-width: 216px;
$forget-password-icon-height: 252px;
$forget-password-desc-color: $base-text-color;

.forget-password {
  @include forget-password;
}
