@import './_abstracts';
@import '@/styles/Z/_default/game';

$game-bg: #1c6080;

.game {
  @include game;

  padding-top: 0;

  &-lobby {
    &-auth {
      padding-top: $header-sub-height-auth;
    }
  }
}

$game-lobby-jackpot-bg-en-us: assetPath('game-lobby/bg_jackpot-en-us.png') center no-repeat;
$game-lobby-jackpot-bg-th-th: assetPath('game-lobby/bg_jackpot-th-th.png') center no-repeat;
$game-lobby-jackpot-bg-zh-cn: assetPath('game-lobby/bg_jackpot-zh-cn.png') center no-repeat;
$game-lobby-jackpot-text-color: white;
$game-lobby-jackpot-text-bg: white;

.game-lobby-jackpot {
  @include game-lobby-jackpot;
}

$game-lobby-product-bg: #11516f;
$game-lobby-product-item-bg-active: #11516f;
$game-lobby-product-icon-width: 90px;
$game-lobby-product-icon-height: 50px;

.game-lobby-product {
  @include game-lobby-product;
}

$game-lobby-category-bg: linear-gradient(to bottom, #56c1ee 0%, #185977 100%, #185977 101%);
$game-lobby-category-text-color: #0b4152;
$game-lobby-category-text-color-active: #fff100;

.game-lobby-category {
  @include game-lobby-category;
}

$game-lobby-search-bg: #11516f;

$game-lobby-search-input-width: 255px;
$game-lobby-search-input-color: white;
$game-lobby-search-input-bg: #0b4152;
$game-lobby-search-input-height: 53px;

$game-lobby-search-icon-bg: assetPath('game-lobby/bg_lnk_inquire.png') #0b4152 center no-repeat;
$game-lobby-search-icon-width: 53px;
$game-lobby-search-icon-height: 53px;

$game-lobby-search-fav-bg: assetPath('game-lobby/ipt_favorites.png') center no-repeat;
$game-lobby-search-fav-width: 59px;
$game-lobby-search-fav-height: 59px;

$game-lobby-search-transfer-bg: assetPath('game-lobby/btnTrans.png') left center no-repeat,
  linear-gradient(to bottom, #b6e3f8 0%, #f4fcff 5%, #b1d5e1 92%, #4e9fc5 100%);
$game-lobby-search-transfer-icon-width: 59px;
$game-lobby-search-transfer-icon-height: 59px;
$game-lobby-search-transfer-color: black;
$game-lobby-search-transfer-width: auto;
$game-lobby-search-transfer-height: 59px;

.game-lobby-search {
  @include game-lobby-search;

  input::placeholder {
    color: #92a0c0;
  }

  &__btn {
    &--transfer {
      border-radius: 10px;
    }

    &--submit {
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
    }
  }
}

$game-lobby-list-table-bg: none;
$game-lobby-list-table-tr-bg: none;
$game-lobby-list-table-tr-border-bottom: 2px solid #e0e0e0;

$game-lobby-list-table-title-color: #92a0c0;
$game-lobby-list-table-content-color: white;

$game-lobby-list-link-bg-start: assetPath('game-lobby/btn_start.png') no-repeat;
$game-lobby-list-link-bg-free: assetPath('game-lobby/btn_freeplay.png') no-repeat;
$game-lobby-list-link-bg-fav: assetPath('game-lobby/btn_favorites.png') no-repeat;
$game-lobby-list-link-bg-fav-active: assetPath('game-lobby/btn_favorites_active.png') no-repeat;

.game-lobby-list {
  @include game-lobby-list;
}
$game-lobby-list-icon-item-img-height: 180px;
$game-lobby-list-icon-item-text-color: white;

.game-lobby-list-icon {
  @include game-lobby-list-icon;
}

$game-transfer-dialog-bg: white;
$game-transfer-dialog-border: 1px solid #c1ae71;

$game-transfer-dialog-header-bg: #6c593a;
$game-transfer-dialog-title-color: white;
$game-transfer-dialog-label-color: #c6a96d;
$game-transfer-dialog-wallet-color: black;
$game-transfer-dialog-amount-color: #8b8b8b;

$game-transfer-dialog-switch-width: 271px;
$game-transfer-dialog-switch-color: white;
$game-transfer-dialog-switch-color-active: white;
$game-transfer-dialog-switch-left: assetPath('ui/lnk-trans.png') transparent left no-repeat;
$game-transfer-dialog-switch-left-on: assetPath('ui/lnk-trans-on.png') transparent left no-repeat;
$game-transfer-dialog-switch-right: assetPath('ui/lnk-trans2.png') transparent right no-repeat;
$game-transfer-dialog-switch-right-on: assetPath('ui/lnk-trans2-on.png') transparent right no-repeat;

$game-transfer-dialog-input-bg: #514126;
$game-transfer-dialog-input-color: white;

$game-transfer-dialog-btn-bg-submit: #4b3120;
$game-transfer-dialog-btn-color-submit: white;

.game-transfer-dialog {
  @include game-transfer-dialog;
}

// $live-game-enter-dialog-bg: white;
// $live-game-enter-dialog-border: 1px solid #c1ae71;
// $live-game-enter-dialog-btn-bg: #462b16;
// $live-game-enter-dialog-btn-color: white;

// .live-game-enter-dialog {
//   @include live-game-enter-dialog;
// }
