@import './_abstracts';
@import '@/styles/Z/_default/promotion';

$promotion-img-border: 3px solid #ffffff;

.promotion {
  @include promotion;
  background: $base-inner-bg;

  .nav-tab {
    &__item {
      color: white;
      border-bottom-color: white;

      &.active {
        color: #1c6080;
        border-bottom-color: #1c6080;
      }
    }
  }
}

$promotion-detail-img-border: 3px solid #ffffff;
$promotion-detail-title-bg: assetPath('ui/ui-event.png') #1c6080 no-repeat;
$promotion-detail-title-color: white;
$promotion-detail-content-text-color: $base-text-color;
$promotion-detail-button-bg-back: $btn-bg-blue;
$promotion-detail-button-text-color-back: white;
$promotion-detail-button-shadow-back: 0 2px 2px 0px rgba(0, 0, 0, 0.8);

.promotion-detail {
  @include promotion-detail;
  background: $base-inner-bg;
}
