@import './_abstracts';
@import '@/styles/Z/_default/transaction-deposit';

$deposit-nav-btn-height: 65px;

$deposit-nav-btn-bg: white;
$deposit-nav-btn-color: #2e6b87;
$deposit-nav-btn-shadow: none;
$deposit-nav-btn-border: 1px solid #2e6b87;

$deposit-nav-btn-bg-active: $btn-bg-blue;
$deposit-nav-btn-color-active: white;
$deposit-nav-btn-shadow-active: none;
$deposit-nav-btn-border-active: none;

.deposit {
  @include deposit;
}

$deposit-base-btn-bg-copy: linear-gradient(to bottom, #9f6623 39%, #8a581f 40%, #976021 100%, #976021 100%);
$deposit-base-btn-color-copy: white;
$deposit-base-btn-shadow-copy: 0 2px 2px 0px rgba(0, 0, 0, 0.8);

$deposit-base-btn-bg-receipt: $btn-bg-red;
$deposit-base-btn-color-receipt: white;
$deposit-base-btn-shadow-receipt: 0 2px 2px 0px rgba(0, 0, 0, 0.8);

$deposit-base-bnt-bg-submit: $btn-bg-yellow;
$deposit-base-bnt-color-submit: white;
$deposit-base-bnt-shadow-submit: 0 2px 2px 0px rgba(0, 0, 0, 0.8);

$deposit-base-color-currency: #f88d80;

.deposit-base {
  @include deposit-base;
}

$deposit-third-party-field-btn-height: 65px;

$deposit-third-party-field-btn-bg: white;
$deposit-third-party-field-btn-color: #2e6b87;
$deposit-third-party-field-btn-shadow: none;
$deposit-third-party-field-btn-border: 1px solid #2e6b87;

$deposit-third-party-field-btn-bg-active: #0e7cb9;
$deposit-third-party-field-btn-color-active: white;
$deposit-third-party-field-btn-shadow-active: none;
$deposit-third-party-field-btn-border-active: none;

$deposit-third-party-btn-bg-submit: $btn-bg-yellow;
$deposit-third-party-btn-color-submit: white;
$deposit-third-party-btn-shadow-submit: 0 2px 2px 0px rgba(0, 0, 0, 0.8);

$deposit-third-party-btn-bg-reset: $btn-bg-blue;
$deposit-third-party-btn-color-reset: white;
$deposit-third-party-btn-shadow-reset: 0 2px 2px 0px rgba(0, 0, 0, 0.8);

.deposit-third-party {
  @include deposit-third-party;
}
