// 版號變數, function, mixin, extend 等不會產生實際 class 的屬性

// function
@function assetPath($path) {
  @return url('~@/assets/Y/03/#{$path}');
}
$base-text-color: white;
$base-font-size: 16px;

$header-height: 144px;
$header-sub-height: 80px;
$header-sub-height-auth: 80px;
$footer-height: 119px;
