@import './abstracts';
@import '@/styles/Y/_default/contact';

$contact-content-bg: none;
$contact-content-border: 1px solid #d6c388;
$contact-content-text-color: white;

$contact-detail-bg: linear-gradient(to bottom, #fd1b1b 0%, #a71313 100%);
$contact-detail-border: none;
$contact-detail-shadow: none;
$contact-detail-text-color: white;

.contact {
  @include contact;
}
