@import './_abstracts';
@import '@/styles/Y/_default/footer';

$footer-bg: assetPath('footer/footerBg.png') no-repeat center top;

.footer {
  @include footer;
}

$footer-nav-bg: assetPath('footer/toolbarBg.jpg') repeat-x;
$footer-nav-item-bg: transparent;
$footer-nav-item-bg-active: assetPath('footer/toolbarBgActive.jpg') repeat-x;
$footer-nav-link-bg: assetPath('footer/lnk_toolbar.png') no-repeat;
$footer-nav-link-color: white;
$footer-nav-item-border-bg: assetPath('footer/lnk_line.png') no-repeat;

.footer-nav {
  @include footer-nav;

  &__item {
    &.active {
      background: $footer-nav-item-bg-active;
    }

    &.footer-nav__item--member {
      > a {
        background-position: 0px 6px;
      }
    }
    &.footer-nav__item--login {
      > a {
        background-position: 25% 6px;
      }
    }
    &.footer-nav__item--promotion {
      > a {
        background-position: 50% 6px;
      }
    }
    &.footer-nav__item--contact {
      > a {
        background-position: 75% 6px;
      }
    }
    &.footer-nav__item--transaction {
      > a {
        background-position: 97% 6px;
      }
    }
  }
}
