@import './_abstracts';
@import '@/styles/Y/_default/forget-password';

$forget-password-bg: none;
$forget-password-title-color: white;
$forget-password-icon-bg: assetPath('main/forgetDescBg.png') center no-repeat;
$forget-password-icon-width: 227px;
$forget-password-icon-height: 316px;
$forget-password-desc-color: white;
.forget-password {
  @include forget-password;
}
