@import './abstracts';

.are-header-langMenu {
  background: rgba(0, 0, 0, 0.9);
}

/*
  ! 圖片路徑
*/

.header {
  background: assetPath('header/headerBg.jpg') no-repeat top center;
}
.header__link--home {
  background: assetPath('header/btn_home.png') no-repeat;
}

.header__link--back {
  background: assetPath('header/btn_back.png') no-repeat;
}

.header-menu__lang-menu {
  background: assetPath('header/menuBg.png') repeat;
}

/* 
 * 登入後的 menu
*/

.header-menu-auth__member {
  background: assetPath('header/memberInfoBg.png') repeat;
}

.header-menu-auth__button--open {
  background: assetPath('header/btn_menuOpen.png') no-repeat;
}
.header-menu-auth__button--close {
  background: assetPath('header/btn_menuClose.png') no-repeat center;
}

.header-menu-auth__menu {
  background: assetPath('header/menuBg.png') repeat;
}
.header-menu-auth__logout {
  background: assetPath('header/btn_logout.jpg') repeat-x;
}

// .lnk-header-login {
//   background: assetPath('header/btn_login.png') no-repeat;
// }
// .lnk-header-back {
//   background: assetPath('header/btn_back.png') no-repeat;
// }
