@import '@/styles/Y/_default/_abstracts';
@import './abstracts';
@import '@/styles/Y/_default/header';

//* AppHeader
$header-bg: assetPath('header/headerBg.jpg') no-repeat top center;
$header-link-home-bg: assetPath('header/btn_home.png') no-repeat;
$header-link-home-width: 77px;
$header-link-home-height: 65px;
$header-link-home-left: 20px;

$header-link-back-bg: assetPath('header/btn_back.png') no-repeat;
$header-link-back-width: 48px;
$header-link-back-height: 80px;
$header-link-back-left: 30px;

.header {
  @include header;
}

//* AppHeaderMenu
$header-menu-lang-dropdown-bg: black;

.header-menu {
  @include header-menu;
}

//* AppHeaderMenuAuth
$header-menu-auth-button-bg-open: assetPath('header/btn_menuOpen.png') no-repeat;
$header-menu-auth-button-bg-close: assetPath('header/btn_menuClose.png') no-repeat center;
$header-menu-auth-menu-bg: rgba(black, 0.9);
$header-menu-auth-menu-logout-bg: $btn-bg-yellow;

.header-menu-auth {
  @include header-menu-auth;
}

$header-sub-bg: rgba(black, 0.6);

.header-sub {
  @include header-sub;
}
