/* 原專案是 index2.css */
$type: 'Y/03';

.home-game__ul__li__link {
  color: #fff;
}
/*
  ! 圖片路徑
*/

.home-game {
  background: url(~@/assets/#{$type}/imgs/layout/bg_index2.jpg) no-repeat;
}

.noneLoginPopup {
  background: rgba(0, 0, 0, 0.8) url(~@/assets/#{$type}/imgs/main/Bg-noneLoginPopup.jpg) center center no-repeat;
}
