@import '@/styles/Y/_default/_abstracts';
@import './_abstracts';
@import '@/styles/Y/_default/login';

$login-title-color: white;

$login-field-bg-account: assetPath('main/authBg_account.png') no-repeat;
$login-field-bg-password: assetPath('main/authBg_password.png') no-repeat;
$login-field-bg-code: assetPath('main/authBg_code.png') no-repeat;
$login-field-input-color: white;
$login-field-border: none;

$login-link-text-color: white;
$login-link-bg-register: assetPath('main/registerBg.png') center top no-repeat;
$login-link-bg-forget: assetPath('main/forgetBg.png') center top no-repeat;
$login-link-bg-open: assetPath('main/open.png') center top no-repeat;
$login-link-bg-download: assetPath('main/download.png') center top no-repeat;

$login-button-bg-submit: $btn-bg-yellow;

.login {
  @include login;
}
