@import '@/styles/global/abstracts';
@import './abstracts';
@import '@/styles/Y/_default/pagination';

$pagination-select-bg: assetPath('ui/ddl_pager.jpg') #fca901 no-repeat;
$pagination-select-color: black;
$pagination-prev-bg: assetPath('ui/lnk_previous.png') no-repeat;
$pagination-prev-more-bg: assetPath('ui/lnk_previousMore.png') no-repeat;
$pagination-next-bg: assetPath('ui/lnk_next.png') no-repeat;
$pagination-next-more-bg: assetPath('ui/lnk_nextMore.png') no-repeat;

.ui-pagination {
  @include pagination;
}
