$type: 'Y/03';

.ui-lnk-pagerPreviousMore {
  background-image: url(~@/assets/#{$type}/imgs/ui/lnk_previousMore.png);
}
.ui-lnk-pagerPrevious {
  background-image: url(~@/assets/#{$type}/imgs/ui/lnk_previous.png);
}
.ui-lnk-pagerNext {
  background-image: url(~@/assets/#{$type}/imgs/ui/lnk_next.png);
}
.ui-lnk-pagerNextMore {
  background-image: url(~@/assets/#{$type}/imgs/ui/lnk_nextMore.png);
}
.ui-ddl-pager {
  background: url(~@/assets/#{$type}/imgs/ui/ddl_pager.jpg) no-repeat !important;
}
