@import './abstracts';

.ui-lnk-pagerPreviousMore {
  background-image: assetPath('ui/lnk_previousMore.png');
}
.ui-lnk-pagerPrevious {
  background-image: assetPath('ui/lnk_previous.png');
}
.ui-lnk-pagerNext {
  background-image: assetPath('ui/lnk_next.png');
}
.ui-lnk-pagerNextMore {
  background-image: assetPath('ui/lnk_nextMore.png');
}
.ui-ddl-pager {
  background: assetPath('ui/ddl_pager.jpg') no-repeat !important;
}
