@import '@/styles/global/abstracts';
@import './abstracts';
@import '@/styles/Y/_default/report';

.report {
  @include report;
}

.report-unsettle-bet {
  @include report-unsettle-bet;
}

.report-bet-record {
  @include report-bet-record;
}

$report-bet-record-detail-button-bg-return: $btn-bg-yellow;

.report-bet-record-detail {
  @include report-bet-record-detail;
}

$report-bet-record-content-table-border: 1px black solid;
// $report-bet-record-content-table-tr-border-top: ;

.report-bet-record-content {
  @include report-bet-record-content;
}

//* nav-tab
.ui-li-tabs-uns {
  background: assetPath('ui/tabs_uns.png') center top no-repeat;
}
.ui-li-tabs-bethistory {
  background: assetPath('ui/tabs_bethistory.png') center top no-repeat;
}

.ui-li-tabs-uns.active {
  background: assetPath('ui/tabs_unsActive.png') center top no-repeat;
}
.ui-li-tabs-bethistory.active {
  background: assetPath('ui/tabs_bethistoryActive.png') center top no-repeat;
}
