@import '@/styles/Y/_default/_abstracts';
@import './_abstracts';
@import '@/styles/Y/_default/transaction-withdrawal';

$withdrawal-height-light-color: #ffff00;
$withdrawal-button-bg-transfer: $btn-bg-yellow;
$withdrawal-button-bg-submit: $btn-bg-yellow;

.withdrawal {
  @include withdrawal;
}