@import '@/styles/global/abstracts';
@import './abstracts';
@import '@/styles/Y/_default/user';

.user {
  @include user;
}

$user-profile-button-bg: $btn-bg-yellow;

.user-profile {
  @include user-profile;
}

$user-profile-access-button-bg: $btn-bg-yellow;

.user-profile-access {
  @include user-profile-access;
}

$user-change-password-button-bg: $btn-bg-yellow;

.user-change-password {
  @include user-change-password;
}
