@import '@/styles/global/abstracts';
@import './abstracts';
@import '@/styles/Y/_default/user';

.user {
  @include user;
}

$user-profile-button-bg: $btn-bg-yellow;

.user-profile {
  @include user-profile;
}

$user-profile-access-button-bg: $btn-bg-yellow;

.user-profile-access {
  @include user-profile-access;
}

$user-change-password-button-bg: $btn-bg-yellow;

.user-change-password {
  @include user-change-password;
}

//* nav-tab
.ui-li-tabs-account {
  background: assetPath('ui/tabs_account.png') center top no-repeat;
}
.ui-li-tabs-account.active {
  background: assetPath('ui/tabs_accountActive.png') center top no-repeat;
}
.ui-li-tabs-password {
  background: assetPath('ui/tabs_password.png') center top no-repeat;
}
.ui-li-tabs-password.active {
  background: assetPath('ui/tabs_passwordActive.png') center top no-repeat;
}
