@import '@/styles/global/abstracts';
@import '../abstracts';

.withdrawal__light-message {
  color: #ffff00;
}

.withdrawal__li__button {
  background-image: $btn-bg-red;
}
.withdrawal__button--submit {
  background-image: $btn-bg-red;
}
