$type: 'Y/03';

.promotion-detail__main__content__desc ul > li > a {
  color: #ffffff;
  background-color: #044403;
}

.promotion-detail__main__content__title {
  color: #000;
}

.promotion-detail__main__button--back {
  background-image: url(~@/assets/common/imgs/ui/btn--yellow.jpg);
}

/*
  ! 圖片路徑
*/

.promotion-detail__main__content__title {
  background: url(~@/assets/#{$type}/imgs/promotion/descTitle.png) no-repeat;
}
// .img-event-poster { background: url(~@/assets/#{$type}/imgs/promotion/event-poster.jpg) no-repeat; }
