/* #notice@common */

/*===================================================================================================================*/
/*                                                      Layout                                                       */
/*===================================================================================================================*/
.lay-container { padding-bottom: 104px;}

/*===================================================================================================================*/
/*                                                       Main                                                        */
/*===================================================================================================================*/
/* .reg-main {} */
/* .reg-main */
.are-agree { margin:0 0 50px 0; text-align: center;}
/* .are-tabs {} */
/* .are-contents {} */
.lnk-notice-top { display: block; width: 104px; height: 104px; background: url(imgs/main/topBg.jpg) no-repeat; position: absolute; bottom: -154px; left: 0;}
/* .reg-main > .are-agree > */
.lnk-notice-agree,
.lnk-notice-disagree { margin: 0 5px;}
/* .reg-main > are-tabs > */
.ul-notice-tabs { text-align: center;}
.li-notice-tabs { height: 62px; background: url(imgs/main/noticeTabs.jpg) repeat-x; margin: 10px; padding: 0 40px; line-height: 62px; border-radius: 10px; -moz-border-radius: 10px; -ms-border-radius: 10px;}
.li-notice-tabs.li-active { background-image: url(imgs/main/noticeTabsHover.jpg);}
.lnk-notice-tabs { color: #000; font-size: 2.307em;}
.li-notice-tabs.li-active > .lnk-notice-tabs { color: #fff;}
/* .reg-main > are-contents */
/* .blk-notice {} */
.blk-notice > ul > li { margin-bottom: 30px; color: #fff; font-size: 2.153em; list-style: decimal;}
/* .blk-notice-content1 {} */
/* .blk-notice-content2 {} */
/* .blk-notice-content3 {} */
/* .blk-notice-content4 {} */
/* .blk-notice-content5 {} */