.reg-footer {
  width: 100%;
  background: url(~@/assets/Y/01/01/imgs/footer/footerBg.png) no-repeat center top;
  padding-top: 3px;
  position: fixed;
  left: 0;
  bottom: 0;
}
/*? .reg-footer > */
.ul-footer-toolbar {
  background: url(~@/assets/Y/01/01/imgs/footer/toolbarBg.jpg) repeat-x;
}
.li-footer-toolbar {
  width: 25%;
  background: url(~@/assets/Y/01/01/imgs/footer/toolbarBg.jpg) repeat-x;
}
.li-toolbar-active {
  background-image: url(~@/assets/Y/01/01/imgs/footer/toolbarBgActive.jpg);
}
.lnk-footer-toolbar {
  display: table-cell;
  width: 25%;
  height: 119px;
  padding: 27% 0 0 0;
  color: #fff;
  font-size: 32px;
  line-height: 38px;
  word-wrap: break-word;
  word-break: keep-all;
  text-align: center;
  vertical-align: middle;
  box-sizing: border-box;
}
.lnk-footer-toolbar {
  background: url(~@/assets/Y/01/01/imgs/footer/lnk_toolbar.png) 0px 6px no-repeat;
}
.li-footer-toolbar:after {
  display: inline-block;
  content: '';
  width: 4px;
  height: 119px;
  background: url(~@/assets/Y/01/01/imgs/footer/lnk_line.png) right top no-repeat;
  position: absolute;
  top: 0;
}
.li-footer-toolbar:first-child:after {
  background: none;
}
/* .li-toolbar-member > .lnk-footer-toolbar {} */
.li-toolbar-regist > .lnk-footer-toolbar {
  background-position: 24% 6px;
  text-indent: 12px;
}
.li-toolbar-event > .lnk-footer-toolbar {
  background-position: 50% 6px;
}
.li-toolbar-service > .lnk-footer-toolbar {
  background-position: 75% 6px;
}
.li-toolbar-transaction > .lnk-footer-toolbar {
  background-position: 97% 6px;
}
