/* .reg-main {
  min-height: 73vh;
  background: #04354c;
} */

/* *.reg-main > */

/* .are-desc {
  padding-top: 316px;
  background: url(imgs/main/forgetDescBg.png) no-repeat center top;
  font-size: 2.769em;
  text-align: center;
} */
