/* #index2@common */


/*

  已將此檔案合併至 layout 與 header 中了

*/







/*===================================================================================================================*/
/*                                                      Header                                                       */
/*===================================================================================================================*/
/* .lnk-header-langOpen, .lnk-header-langClose { width: 73px; height: 60px; background: url(~@/assets/Y/01/01/imgs/header/lang_tw_s.png) center center no-repeat; position: absolute; top: 30%; right: 20px; }
.lnk-header-langClose { display: none; }
.are-header-langMenu { display: none; width: 90px; background: rgba(0, 0, 0, 0.9); overflow: hidden; position: absolute; top: 141px; right: 12px; z-index: 2; }
.ul-ilang { margin-bottom: 0; }
.li-ilang { margin: 10px auto; }
.lnk-ilang { width: 60px;  padding-top: 65px;}
.lnk-ilang.tw { background-image: url(~@/assets/Y/01/01/imgs/header/lang_tw_s.png);}
.lnk-ilang.cn { background-image: url(~@/assets/Y/01/01/imgs/header/lang_cn_s.png);}
.lnk-ilang.en { background-image: url(~@/assets/Y/01/01/imgs/header/lang_en_s.png);}
.lnk-ilang.th { background-image: url(~@/assets/Y/01/01/imgs/header/lang_th_s.png);} */
/*===================================================================================================================*/
/*                                                       Main                                                        */
/*===================================================================================================================*/
.reg-main { padding-top: 0;}

/* ?.reg-main > */
/* .are-banner {} */
.are-game { background: url(~@/assets/Y/01/01/imgs/layout/bg_index2.jpg) no-repeat;}

/* ?.reg-main > .are-banner > */
.ul-banner { height: 431px; overflow: hidden; position: relative;}
.li-banner { width: 100%;background-repeat:no-repeat;background-position: bottom;}

.lnk-banner { display: block; width: 100%; height: 431px; background: no-repeat center;}
.lnk-banner-prev,
.lnk-banner-next { display: block; position: absolute; top: 16%; width: 100px; height: 100px;}
.lnk-banner-prev { background:url(~@/assets/Y/01/01/imgs/banner/prev.png) no-repeat center center;  left: 0; }
.lnk-banner-next { background:url(~@/assets/Y/01/01/imgs/banner/next.png) no-repeat center center;  right: 0; }

/* .reg-main > .are-game */
.ul-game { margin:0 32px; padding-top: 20px;}
.li-game { background: no-repeat center top; margin: 0 2px 30px;}
.li-game-1010 { background-image: url(~@/assets/Y/01/01/imgs/game/game1010.png);}
.li-game-1040 { background-image: url(~@/assets/Y/01/01/imgs/game/game1040.png);}
.li-game-1080 { background-image: url(~@/assets/Y/01/01/imgs/game/game1080.png);}
.li-game-1020 { background-image: url(~@/assets/Y/01/01/imgs/game/game1020.png);}
.li-game-1120 { background-image: url(~@/assets/Y/01/01/imgs/game/game1120.png);}
.li-game-1130 { background-image: url(~@/assets/Y/01/01/imgs/game/game1130.png);}
.li-game-1140 { background-image: url(~@/assets/Y/01/01/imgs/game/game1140.png);}
.li-game-1150 { background-image: url(~@/assets/Y/01/01/imgs/game/game1150.png);}
.li-game-1170 { background-image: url(~@/assets/Y/01/01/imgs/game/game1170.png);}
.li-game-1160 { background-image: url(~@/assets/Y/01/01/imgs/game/game1160.png);}
.li-game-12203100-03 { background-image: url(~@/assets/Y/01/01/imgs/game/game12203100.png);}
.li-game-12203110-03 { background-image: url(~@/assets/Y/01/01/imgs/game/game12203110.png);}
.li-game-1150-01 { background-image: url(~@/assets/Y/01/01/imgs/game/game1150-01.png);}
.li-game-1150-02,
.li-game-11902602-02 { background-image: url(~@/assets/Y/01/01/imgs/game/game1150-02.png);}
.li-game-1180 { background-image: url(~@/assets/Y/01/01/imgs/game/game1180.png);}
.li-game-11901030-01 { background-image: url(~@/assets/Y/01/01/imgs/game/game11901030-01.png);}
.li-game-1190-02,
.li-game-11901031-02 { background-image: url(~@/assets/Y/01/01/imgs/game/game1190-02.png);}
.li-game-11901032-01 { background-image: url(~@/assets/Y/01/01/imgs/game/game11901032-01.png);}
.li-game-1200 { background-image: url(~@/assets/Y/01/01/imgs/game/game1200.png);}
.li-game-1190-04 { background-image: url(~@/assets/Y/01/01/imgs/game/game1190-04.png);}
.li-game-11902100-02 { background-image: url(~@/assets/Y/01/01/imgs/game/game11902100-02.png);}

.li-game-app { background-image: url(~@/assets/Y/01/01/imgs/game/gameApp.png);}
.li-game-download { background-image: url(~@/assets/Y/01/01/imgs/game/gameDownload.png);}
.lnk-game { display: block; width: 213px; padding-top: 111px; color: #fff; font-size: 2.461em; text-align: center; line-height: 54px;}
/* .reg-main > .are-game > .blk-freeGo */
.lnk-freeGo { display: block; width: 100%; height: 109px; background: url(~@/assets/Y/01/01/imgs/main/freeGo-bg.jpg) left top repeat-x; padding: 20px 0 0 35px; box-sizing: border-box; margin-bottom: 8px; }
.icn-freeGo { display: inline-block; width: 70px; height: 64px; background: url(~@/assets/Y/01/01/imgs/main/freeGo-icn.png) left top no-repeat; text-indent: -999em; vertical-align: top; }
.txt-freeGo { display: inline-block; width: 82%; color: #fcf0ca; font-size: 32px; line-height: 72px; background: url(~@/assets/Y/01/01/imgs/main/freeGo-arrow.png) right center no-repeat; padding-left: 20px;/* vertical-align: top; */ }