/* #layout@en-us */

.en-us {
  /*===================================================================================================================*/
  /*                                                        UI                                                         */
  /*===================================================================================================================*/
  .li-tabs2-active,
  .lnk-tabs2 {
    font-size: 2.75em;
  }
  .li-tabs3-active,
  .lnk-tabs3 {
    font-size: 2.75em;
  }
  .ui-lnk-tabs {
    width: 145px;
    margin: 0 8px;
  }

  .li-prizeNum,
  .li-prizeDsc {
    font-size: 36px;
    font-weight: bold;
  }
}
