/* #layout@th-th */

.th-th {
  /*===================================================================================================================*/
  /*                                                        UI                                                         */
  /*===================================================================================================================*/
  .li-tabs2-active,
  .lnk-tabs2 {
    font-size: 2.895em;
  }
  .li-tabs3-active,
  .lnk-tabs3 {
    font-size: 2.895em;
  }
  .ui-lnk-tabs {
    font-size: 22px;
  }

  .li-prizeNum,
  .li-prizeDsc {
    font-size: 26px;
    font-weight: normal;
  }
}
