
/*
 * 用 Y/01/01 的 layout 當基礎
*/

/* #layout@common */
/*===================================================================================================================*/
/*                                                    Component                                                      */
/*===================================================================================================================*/
a { text-decoration: none; outline: none; /*behavior:expression(this.onFocus=this.blur());*/}
.cpn-boxzero { margin: 0; padding: 0;}
ul.cpn-boxzero > li { list-style: none;}
.cpn-inBlock { display: inline-block; *display: inline; zoom: 1;}
.cpn-inBlock-row { letter-spacing: -0.31em; *letter-spacing: normal;}
.cpn-inBlock-row > .cpn-inBlock-cell,
ul.cpn-inBlock-row > li { display: inline-block; *display: inline; zoom: 1; letter-spacing: normal; word-spacing: normal; vertical-align: top;}
/* .cpn-ul-decimal {} */
.cpn-ul-decimal > li { list-style-type: decimal;}
.cpn-clear-left { clear: left;}
.cpn-clear-right { clear: right;}
.cpn-clear-both { clear: both;}

/*===================================================================================================================*/
/*                                                        UI                                                         */
/*===================================================================================================================*/
/* tag */
body { /*background: #000 url(~@/assets/Y/01/01/imgs/layout/bg.jpg) no-repeat center top;*/ color: #fff; font: 13px "Microsoft JhengHei", Arial, Helvetica, sans-serif;}

/* input */
.ui-ipt { background-color: #2e2e2e; padding: 0 10px; border: 1px solid #8b8b8b; outline: none; font-size: 2.769em; line-height: 77px;}
.ui-ipt-date { height: 79px; line-height: 79px; -webkit-appearance: none; -moz-appearance: none;}

/* button(/a) */
.ui-btn01,
.ui-btn02 { width: 300px; background: repeat-x; border: none; color: #fff; font-size: 3.23em; text-align: center; line-height: 97px; border-radius: 10px; -moz-border-radius: 10px; -ms-border-radius: 10px;}
.ui-btn-long { width: 500px;}
/* .ui-btn01 { background-image: url(~@/assets/Y/01/01/imgs/ui/btn01.jpg);} */
/* .ui-btn02 { background-image: url(~@/assets/Y/01/01/imgs/ui/btn02.jpg);} */
.ui-btn01,
.ui-btn02 { display: inline-block; *display: inline; zoom: 1; color: #fff; text-align: center;}

/* dropDownList(select) */
.ui-ddl { min-width: 250px; height: 71px; /*background: #2e2e2e url(~@/assets/Y/01/01/imgs/ui/ddl_arrow.jpg) no-repeat right top;*/padding-right: 22px;border: 1px solid #8b8b8b; border-right: none; outline: none; color: #fff; font-size: 2.769em; appearance: none; -webkit-appearance: none; -moz-appearance: none;}
.ui-ddl > option,
.ui-ddl2 > option { background-color: #979797; border-bottom: 1px solid #4b4b4b; color: #000;}
.ui-ddl2 > option { background-color: #b2bbcc;}
.ui-ddl2 { min-width: 250px; height: 71px; background:none; padding-right: 22px; border: 1px solid #8b8b8b; border-right: none; outline: none; color: #fff; font-size: 2.769em; appearance: none; -webkit-appearance: none; -moz-appearance: none;}

/* textarea */
.ui-tar { min-width: 94%;/*寫給IOS寬度*/ width: 97%; padding: 0 1%;/*寫給ad長寬度用*/ background-color: #2e2e2e; font-size: 2.68em;}

/* table */
.ui-table01 { width: 100%; /*background: url(~@/assets/Y/01/01/imgs/ui/table01Bg.png) repeat;*/ color: #959595; font-size: 2.153em; letter-spacing: 2px; line-height: 2em;}
.ui-table01 th,
.ui-table01 td { padding: 10px 10px; border: 1px solid #d6c388; word-break: keep-all;}
.ui-table02 { width: 100%; font-size: 2.307em; letter-spacing: 2px; line-height: 2em;}
.ui-table02 tr { border-bottom: 1px solid #d6c388;}
.ui-table02 tr:last-child { border-bottom: none;}
.ui-table02 th,
.ui-table02 td { padding: 10px 10px; word-break: break-word;}
.ui-table02 th { color: #959595; font-weight: normal; text-align: left;}
.ui-table02 td { font-weight: bolder; text-align: right;}
.ui-table03 { width: 100%; font-size: 2.307em; letter-spacing: 2px; line-height: 2em;}
.ui-table03 tr { border: 1px solid #000;}
.ui-table03 tr:last-child { border: none;}
.ui-table03 th,
.ui-table03 td { padding: 10px 10px; border-right: 1px solid #000; word-break: keep-all;}
.ui-table03 th:last-child,
.ui-table03 td:last-child { border-right: none;}
.ui-table03 th { color: #fff;}
.ui-table03 tr:nth-child(odd) th { background-color: #736844;}
.ui-table03 tr:nth-child(even) th { background-color: #574e33;}
.ui-table03 td { color: #000;}
.ui-table03 tr:nth-child(odd) td { background-color: #d2bd7c;}
.ui-table03 tr:nth-child(even) td { background-color: #a89763;}
.ui-table01 .ui-lnk-detail, .ui-table03 .ui-lnk-detail { display: block; width: 100%; height: 77px; background: no-repeat 96% center; margin-top: -19px; position: absolute; top: 18px; right: 0px; }
/* .ui-table01 .ui-lnk-detail { background-image:  url(~@/assets/Y/01/01/imgs/ui/lnk_detail1.png);} */
/* .ui-table03 .ui-lnk-detail { background-image:  url(~@/assets/Y/01/01/imgs/ui/lnk_detail2.png);} */
.ui-table04 { width: 100%; /*background: url(~@/assets/Y/01/01/imgs/ui/table01Bg.png) repeat;*/ color: #959595; font-size: 2.307em; letter-spacing: 2px; line-height: 2em;}
.ui-table04 th,
.ui-table04 td { padding: 10px 10px; word-break: break-word;}
.ui-table04 th { text-align: right;}
.ui-table04 td { color: #fff;}
.ui-table05 { width: 100%; margin:10px 0; letter-spacing: 2px; line-height: 2em;}
.ui-table05 th,
.ui-table05 td { text-align: center; border: 1px solid #000; padding: 3px 15px; color: #fff; word-break: break-word;}
.ui-table05 th { font-size:0.65em; background-color: #D19638; font-weight: normal; color: #000; text-align: center; white-space:nowrap;}
.ui-table05 td { font-size:0.65em; background-color: #313131;}
.ui-table05 td.td-align-center { text-align: center;}
.ui-table05 .whiteNowrap { white-space:nowrap;}
/*th在左側，字級加大*/
.ui-table05-1 { width: 100%; margin:10px 0; letter-spacing: 2px; line-height: 2em;}
.ui-table05-1 th,
.ui-table05-1 td {text-align: center;border: 1px solid #000;/* padding: 3px 15px; */color: #fff;/* word-break: normal; */white-space: nowrap;}
.ui-table05-1 th { font-size: 1em; background-color: #D19638; font-weight: normal; color: #000; text-align: center; white-space:nowrap;}
.ui-table05-1 td { font-size: 1em; background-color: #313131;}
.ui-table05-1 td.td-align-right { text-align: center;}

/* tabs */
.ui-ul-tabs { margin: 0; padding: 0; letter-spacing: -0.31em; *letter-spacing: normal; text-align: center;}
.ui-li-tabs { display: inline-block; *display: inline; zoom: 1; background: no-repeat center top; border-right: 1px dotted #fff; list-style: none; letter-spacing: normal; word-spacing: normal; vertical-align: top;}
.ui-li-tabs:last-child { border-right: none;}
/* .ui-li-tabs-account { background-image: url(~@/assets/Y/01/01/imgs/ui/tabs_account.png);} */
/* .ui-li-tabs-password { background-image: url(~@/assets/Y/01/01/imgs/ui/tabs_password.png);} */
/* .ui-li-tabs-deposit { background-image: url(~@/assets/Y/01/01/imgs/ui/tabs_deposit.png);} */
/* .ui-li-tabs-withdrawal { background-image: url(~@/assets/Y/01/01/imgs/ui/tabs_withdrawal.png);} */
/* .ui-li-tabs-wallet { background-image: url(~@/assets/Y/01/01/imgs/ui/tabs_wallet.png);} */
/* .ui-li-tabs-pointrecord { background-image: url(~@/assets/Y/01/01/imgs/ui/tabs_pointrecord.png);} */
/* .ui-li-tabs-uns { background-image: url(~@/assets/Y/01/01/imgs/ui/tabs_uns.png);} */
/* .ui-li-tabs-bethistory { background-image: url(~@/assets/Y/01/01/imgs/ui/tabs_bethistory.png);} */
/* .ui-li-tabs-news { background-image: url(~@/assets/Y/01/01/imgs/ui/tabs_news.png);} */
/* .ui-li-tabs-mail { background-image: url(~@/assets/Y/01/01/imgs/ui/tabs_mail.png);} */
/* .ui-li-tabs-sendmail { background-image: url(~@/assets/Y/01/01/imgs/ui/tabs_sendmail.png);} */
/* .ui-li-tabs-partner1 { background-image: url(~@/assets/Y/01/01/imgs/ui/tabs_partner1.png);} */
/* .ui-li-tabs-partner2 { background-image: url(~@/assets/Y/01/01/imgs/ui/tabs_partner2.png);} */
/* .ui-li-tabs-partner3 { background-image: url(~@/assets/Y/01/01/imgs/ui/tabs_partner3.png);} */
/* .ui-li-tabs-partner4 { background-image: url(~@/assets/Y/01/01/imgs/ui/tabs_partner4.png);} */
/* .ui-li-tabs-account.ui-li-tabsActive { background-image: url(~@/assets/Y/01/01/imgs/ui/tabs_accountActive.png);} */
/* .ui-li-tabs-password.ui-li-tabsActive { background-image: url(~@/assets/Y/01/01/imgs/ui/tabs_passwordActive.png);} */
/* .ui-li-tabs-deposit.ui-li-tabsActive { background-image: url(~@/assets/Y/01/01/imgs/ui/tabs_depositActive.png);} */
/* .ui-li-tabs-withdrawal.ui-li-tabsActive { background-image: url(~@/assets/Y/01/01/imgs/ui/tabs_withdrawalActive.png);} */
/* .ui-li-tabs-wallet.ui-li-tabsActive { background-image: url(~@/assets/Y/01/01/imgs/ui/tabs_walletActive.png);} */
/* .ui-li-tabs-pointrecord.ui-li-tabsActive { background-image: url(~@/assets/Y/01/01/imgs/ui/tabs_pointrecordActive.png);} */
/* .ui-li-tabs-uns.ui-li-tabsActive { background-image: url(~@/assets/Y/01/01/imgs/ui/tabs_unsActive.png);} */
/* .ui-li-tabs-bethistory.ui-li-tabsActive { background-image: url(~@/assets/Y/01/01/imgs/ui/tabs_bethistoryActive.png);} */
/* .ui-li-tabs-news.ui-li-tabsActive { background-image: url(~@/assets/Y/01/01/imgs/ui/tabs_newsActive.png);} */
/* .ui-li-tabs-mail.ui-li-tabsActive { background-image: url(~@/assets/Y/01/01/imgs/ui/tabs_mailActive.png);} */
/* .ui-li-tabs-sendmail.ui-li-tabsActive { background-image: url(~@/assets/Y/01/01/imgs/ui/tabs_sendmailActive.png);} */
/* .ui-li-tabs-sendmail.ui-li-tabsActive { background-image: url(~@/assets/Y/01/01/imgs/ui/tabs_sendmailActive.png);} */
/* .ui-li-tabs-partner1.ui-li-tabsActive { background-image: url(~@/assets/Y/01/01/imgs/ui/tabs_partner1Active.png);} */
/* .ui-li-tabs-partner2.ui-li-tabsActive { background-image: url(~@/assets/Y/01/01/imgs/ui/tabs_partner2Active.png);} */
/* .ui-li-tabs-partner3.ui-li-tabsActive { background-image: url(~@/assets/Y/01/01/imgs/ui/tabs_partner3Active.png);} */
/* .ui-li-tabs-partner4.ui-li-tabsActive { background-image: url(~@/assets/Y/01/01/imgs/ui/tabs_partner4Active.png);} */

.ui-lnk-tabs { display: block; width: 116px; margin: 0 25px; padding-top: 102px; color: #fff; font-size: 2.153em; text-align: center;}

/*PermanentIncome tab icon 金管家*/
/* .ui-li-tabs-action { background-image: url(~@/assets/Y/01/01/imgs/ui/tabs_action.png); } */
/* .ui-li-tabs-action2 { background-image: url(~@/assets/Y/01/01/imgs/ui/tabs_action2.png); } */
/* .ui-li-tabs-history { background-image: url(~@/assets/Y/01/01/imgs/ui/tabs_pointrecord.png); } */
/* .ui-li-tabs-action.ui-li-tabsActive { background-image: url(~@/assets/Y/01/01/imgs/ui/tabs_actionActive.png);} */
/* .ui-li-tabs-action2.ui-li-tabsActive { background-image: url(~@/assets/Y/01/01/imgs/ui/tabs_action2Active.png);} */
/* .ui-li-tabs-history.ui-li-tabsActive { background-image: url(~@/assets/Y/01/01/imgs/ui/tabs_pointrecordActive.png);} */


/* pageTitle */
.ui-h1-pageTitle { color: #fff; font-size: 3.584em; font-weight: normal; text-align: center;}

/* memberNotice */
.ui-ol-memberNotice { padding-left: 24px; color: #959595; font-size: 2.153em; letter-spacing: 2px; line-height: 1.5em;}
.ui-ol-memberNotice > li { list-style: disc;}

/* pager */
.ui-lnk-pagerPreviousMore, .ui-lnk-pagerPreviousMore2,
.ui-lnk-pagerPrevious, .ui-lnk-pagerPrevious2,
.ui-lnk-pagerNext, .ui-lnk-pagerNext2,
.ui-lnk-pagerNextMore, .ui-lnk-pagerNextMore2 { display: inline-block; *display: inline; zoom: 1; height: 65px; background: no-repeat; letter-spacing: normal; word-spacing: normal; vertical-align: top;}
.ui-lnk-pagerPreviousMore { width: 134px; /*background-image: url(~@/assets/Y/01/01/imgs/ui/lnk_previousMore.png);*/}
.ui-lnk-pagerPrevious { width: 135px; /*background-image: url(~@/assets/Y/01/01/imgs/ui/lnk_previous.png);*/}
.ui-lnk-pagerNext { width: 135px; /*background-image: url(~@/assets/Y/01/01/imgs/ui/lnk_next.png);*/}
.ui-lnk-pagerNextMore { width: 134px; /*background-image: url(~@/assets/Y/01/01/imgs/ui/lnk_nextMore.png);*/ margin-right: 0;}
.ui-ddl-pager { width: 134px; min-width: 0; height: 65px; /*background: url(~@/assets/Y/01/01/imgs/ui/ddl_pager.jpg) no-repeat;*/ border: none; padding: 0 67px 0 20px;line-height: 65px;}

/* text */
.ui-txt-star { color: #cfa972;}
.ui-txt-mask { color: #f00;}
.ui-txt-negative { color: #ff0000;}
.ui-txt-positive { color: #32b16c;}

/* slotgame-jackpot */
.ui-txt-jackpot-count {font-size: 42px;font-family: Arial Black,sans-serif;font-weight: bold;color: #fffefe;background: linear-gradient(to bottom, #989898 0%,#ffffff 100%);background: -webkit-linear-gradient(top, #989898 0%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */background: linear-gradient(to bottom, #989898 0%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */background-clip: text;-webkit-text-fill-color: transparent;position: absolute;left: 246px;top: 3px;}

/* ul-supply */
.ui-ul-supply { width: 100%; padding: 11px 0; text-align: center; white-space: nowrap; overflow: auto; position: absolute; top: 0; left: 0;}
.ui-li-supply, 
.ui-li-supply-active { margin: 0 21px; background-position: center top; background-repeat: no-repeat;}
/* .ui-li-supply-1180 { background-image: url(~@/assets/Y/01/01/imgs/ui/supply-1180.png);} */
/* .ui-li-supply-1150 { background-image: url(~@/assets/Y/01/01/imgs/ui/supply-1150.png);} */
/* .ui-li-supply-1140 { background-image: url(~@/assets/Y/01/01/imgs/ui/supply-1140.png);} */
/* .ui-li-supply-1120 { background-image: url(~@/assets/Y/01/01/imgs/ui/supply-1120.png);} */
/* .ui-li-supply-1130 { background-image: url(~@/assets/Y/01/01/imgs/ui/supply-1130.png);} */
/* .ui-li-supply-1030 { background-image: url(~@/assets/Y/01/01/imgs/ui/supply-1030.png);} */
/* .ui-li-supply-1190 { background-image: url(~@/assets/Y/01/01/imgs/ui/supply-1190.png);} */
/* .ui-li-supply-1010 { background-image: url(~@/assets/Y/01/01/imgs/ui/supply-1010.png);} */
/* .ui-li-supply-1170 { background-image: url(~@/assets/Y/01/01/imgs/ui/supply-1170.png);} */
/* .ui-li-supply-1160 { background-image: url(~@/assets/Y/01/01/imgs/ui/supply-1160.png);} */
/* .ui-li-supply-1200 { background-image: url(~@/assets/Y/01/01/imgs/ui/supply-1200.png);} */
/* .ui-li-supply-1190-02 { background-image: url(~@/assets/Y/01/01/imgs/ui/supply-1190-02.png);} */
/* .ui-li-supply-1180.ui-li-supply-active { background-image: url(~@/assets/Y/01/01/imgs/ui/supply-1180-active.png);} */
/* .ui-li-supply-1150.ui-li-supply-active { background-image: url(~@/assets/Y/01/01/imgs/ui/supply-1150-active.png);} */
/* .ui-li-supply-1140.ui-li-supply-active { background-image: url(~@/assets/Y/01/01/imgs/ui/supply-1140-active.png);} */
/* .ui-li-supply-1120.ui-li-supply-active { background-image: url(~@/assets/Y/01/01/imgs/ui/supply-1120-active.png);} */
/* .ui-li-supply-1130.ui-li-supply-active { background-image: url(~@/assets/Y/01/01/imgs/ui/supply-1130-active.png);} */
/* .ui-li-supply-1030.ui-li-supply-active { background-image: url(~@/assets/Y/01/01/imgs/ui/supply-1030-active.png);} */
/* .ui-li-supply-1190.ui-li-supply-active { background-image: url(~@/assets/Y/01/01/imgs/ui/supply-1190-active.png);} */
/* .ui-li-supply-1190-02.ui-li-supply-active { background-image: url(~@/assets/Y/01/01/imgs/ui/supply-1190-02-active.png);} */
/* .ui-li-supply-1010.ui-li-supply-active { background-image: url(~@/assets/Y/01/01/imgs/ui/supply-1010-active.png);} */
/* .ui-li-supply-1170.ui-li-supply-active { background-image: url(~@/assets/Y/01/01/imgs/ui/supply-1170-active.png);} */
/* .ui-li-supply-1160.ui-li-supply-active { background-image: url(~@/assets/Y/01/01/imgs/ui/supply-1160-active.png);} */
/* .ui-li-supply-1200.ui-li-supply-active { background-image: url(~@/assets/Y/01/01/imgs/ui/supply-1200-active.png);} */
.ui-lnk-supply { min-width: 74px; display: block; padding: 56px 0 0 0; font-size:22px; color:#92a0c0; text-align: center;}
.ui-li-supply-active > .ui-lnk-supply { color:#ffbebc; text-shadow: 0px 0px 8px #FF1C59;}

/* ul-category */
.ui-ul-category { width: 100%; padding: 0 15px; white-space: nowrap; position: absolute; bottom: 0; left: 0; overflow: auto; }
.ui-li-category { font-size: 24px; white-space: nowrap;}
.ui-ul-category li:last-child { padding-right: 20px; }
.ui-li-category-active > .ui-lnk-category { color: #ff5962;}
.ui-lnk-category { display: block; padding: 0 15px; color: #657aa6; line-height: 74px;}
.ui-ipt-inquire { width: 302px; background-size:cover; -webkit-background-size:cover;background-attachment: fixed; height: 59px; margin: 25px 0 31px 34px; font-size: 24px; background: url(~@/assets/Y/01/01/imgs/ui/bg_ipt_inquire-2.png) no-repeat; border: 0; text-indent: 20px; outline: none;/* position: relative;*/ }
.ui-lnk-inquire { top:19px; left: 280px; position:absolute; width: 53px; height: 71px;/*background: url(~@/assets/Y/01/01/imgs/ui/bg_lnk_inquire.png) center no-repeat;*/ border: 0; text-indent: -9999px; outline: none;}
.ui-ipt-favorites { width: 85px;height: 65px; margin: 0 0 0 85px; font-size: 24px; /*background: url(~@/assets/Y/01/01/imgs/ui/ipt_favorites.png) center no-repeat;*/ text-indent: -9999px; border: 0; outline:none;}
.ui-ipt-favorites-txt { display: none; color: #a6312e; font-size: 24px; font-weight: bold; position: absolute; right: 45px; top: 36px; letter-spacing: -0.5px; cursor: pointer;}
.ui-lnk-transferNow { float: right; vertical-align: top; width: 133px; height: 65px; color: #fedebe; /*background: url(~@/assets/Y/01/01/imgs/ui/btn_transferNow.png) left center no-repeat;*/ margin: 13px 10px 0 0; font-size: 30px; letter-spacing: 1px; padding: 22px 0 0 50px; }
/*==================================================================================================================*/
/*                                                      Theme                                                        */
/*===================================================================================================================*/
/* content box */
.theme-content-box { /*background: url(~@/assets/Y/01/01/imgs/theme/boxBg.png);*/ padding: 0 3%; border: 1px solid #d6c388;}
.theme-content-box > .theme-h3-boxTitle { width: 106%; margin: 0 0 0 -3%; padding: 20px 0; border-bottom: 1px solid #d6c388; color: #d6c388; font-size: 2.923em; font-weight: normal; text-align: center;}

/* input box */
/* .theme-input-box {} */
.theme-input-box > .theme-input-header { display: block; margin-bottom: 5px; color: #959595; font-size: 2.307em;}
.theme-input-box > .ui-ddl { width: 100%;}
.theme-input-box > .ui-ipt { width: 97%; padding: 0 1.5%;}

/* .theme-ul-listView {} */
.theme-li-listView { margin: 20px 0;}
/* .theme-ul-dataView {} */
.theme-li-dataView { padding: 20px 0; border-bottom: 1px solid #d6c388;}
.theme-li-dataView:last-child { border-bottom: none;}
.theme-dataView-header { display: block; margin: 10px 0; color: #959595; font-size: 2.307em;}
.theme-dataView-data { margin: 5px 0; padding-left: 1em; color: #fff; font-size: 2.769em; font-weight: bolder;}
.theme-li-dataView > .ui-ipt { width: 92%; margin-left: 5%; padding: 0 1.5%;}

/* Error Message */
.theme-errorMsg { background-color: #be0707; margin: 20px 0; padding: 10px; border-radius: 20px; -moz-border-radius: 20px; -ms-border-radius: 20px;}
.theme-txt-errorMsg { color: #fff; font-size: 2em;}
.txt-errorMsg { font-size: 1.5em; line-height: 36px; }

/* theme-slotgame + theme-livegame */
.theme-slotgame-jackpot, .theme-livegame-jackpot { height: 71px; margin-bottom: 28px; /*background: url(~@/assets/Y/01/01/imgs/theme/bg_jackpot.png) center top no-repeat;*/}
.theme-slotgame-supply, .theme-livegame-supply { height: 182px; /*background:#000 url(~@/assets/Y/01/01/imgs/ui/bg_category.png) bottom center no-repeat;*/ overflow: hidden; position: relative;}
.theme-slotgame-inquire, .theme-livegame-inquire { background-color: #000; position: relative;}
.theme-slotgame-list, .theme-livegame-list { width:720px; background-color: #181b23; }
.theme-livegame { margin-top: 25px;}
/*===================================================================================================================*/
/*                                                      Layout                                                       */
/*===================================================================================================================*/
.lay-container { padding-bottom: 147px;}
.lay-screen { width: 720px; margin: 0 auto; position: relative; clear: both;}
.lay-are-pageTitle { width: 680px; margin-bottom: 20px; padding: 20px;}
.lay-are-pageContent { width: 680px; padding: 0 20px;}
.lay-are-pager { margin: 20px 0; padding: 25px 0; letter-spacing: -0.31em; *letter-spacing: normal; text-align: center;}

/*===================================================================================================================*/
/*                                                      Header                                                       */
/*===================================================================================================================*/
/* .reg-header { background: url(~@/assets/Y/01/01/imgs/header/headerBg.jpg) no-repeat top center;} */
/*? .reg-header > */
/* .reg-header > .lay-screen {} */
/* .are-header-logo { height: 144px; background: url(~@/assets/Y/01/01/imgs/header/logo.png) no-repeat center; padding: 0 117px;} */
/* .lnk-header-home { width: 77px; height: 65px; background: url(~@/assets/Y/01/01/imgs/header/btn_home.png) no-repeat; margin-top: -32.5px; position: absolute; top: 50%; left: 20px;} */
/* .lnk-header-login { width: 61px; height: 87px; background: url(~@/assets/Y/01/01/imgs/header/btn_login.png) no-repeat; margin-top: -30.5px; position: absolute; top: 45%; right: 20px;} */
/* .lnk-header-back { width: 48px; height: 80px; background: url(~@/assets/Y/01/01/imgs/header/btn_back.png) no-repeat; margin-top: -40px; position: absolute; top: 50%; left: 20px;} */
/* .lnk-header-menuOpen { width: 70px; height: 58px; background: url(~@/assets/Y/01/01/imgs/header/btn_menuOpen.png) no-repeat; margin-top: -29px; position: absolute; top: 50%; right: 20px;} */
/* .lnk-header-menuClose { display: none; width: 70px; height: 58px; background: url(~@/assets/Y/01/01/imgs/header/btn_menuClose.png) no-repeat center; margin-top: -29px; position: absolute; top: 50%; right: 20px;} */
/* .are-header-memberInfo { width: 96%; min-height: 50px; padding: 0 15px; background: url(~@/assets/Y/01/01/imgs/header/memberInfoBg.png) repeat; margin-bottom: 30px; font-size: 1.846em; line-height: 40px; position: absolute; top: 144px; left: 0;} */
/* .are-header-menu { display: none; width: 100%; height: 85vh; background: url(~@/assets/Y/01/01/imgs/header/menuBg.png) repeat; overflow: hidden; position: absolute; top: 144px; left: 0;} */
/*? .reg-header > .are-header-memberInfo > */
/* .blk-memberInfo-left {float: left;max-width: 55%;white-space: nowrap; overflow: hidden;text-overflow: ellipsis;} */
/* .blk-memberInfo-right { float: right; } */
/* .txt-vip { color: #d2ac3e; } */
/*? .reg-header > .are-header-menu > */
/* .ul-menu { padding: 20px 0;} */
/* .li-menu { margin: 35px 0;} */
/* .lnk-menu { display: block; color: #d2bd7c; font-size: 2.923em; text-align: center; line-height: 48px;} */
/* .lnk-menu:active { color:#fff;} */
/* .ul-lang { margin-bottom: 60px; text-align: center;} */
/* .li-lang { margin: 0 30px;} */
/* .lnk-lang { display: block; width: 116px; background: no-repeat center top; padding-top: 71px; color: #fff; font-size: 2.153em;} */
/* .lnk-lang-tw { background-image: url(~@/assets/Y/01/01/imgs/header/lang_tw.png);} */
/* .lnk-lang-cn { background-image: url(~@/assets/Y/01/01/imgs/header/lang_cn.png);} */
/* .lnk-lang-en { background-image: url(~@/assets/Y/01/01/imgs/header/lang_en.png);} */
/* .lnk-lang-th { background-image: url(~@/assets/Y/01/01/imgs/header/lang_th.png);} */
/* .lnk-lang-mm { background-image: url(~@/assets/Y/01/01/imgs/header/lang_mm.png);} */
/* .btn-header-logout { display: block; width: 80%; background: url(~@/assets/Y/01/01/imgs/header/btn_logout.jpg) repeat-x; margin: 0 10%; color: #000; font-size: 2.923em; line-height: 87px; } */

/*===================================================================================================================*/
/*                                                       main                                                        */
/*===================================================================================================================*/
/* .reg-main > */
/* .reg-main { padding: 88px 0 20px 0;} */
/* .reg-main > .are-prize > */
.blk-prize { width: 427px; height: 75px; line-height: 75px; margin: 0 auto; text-align: center; cursor: pointer; position: relative;}
.i-prize { display: inline-block; /*float: left;*/ width: 71px; height: 73px; padding-top: 22px; /*background: url(~@/assets/Y/01/01/imgs/main/prizeIcn.png) left center no-repeat;*/ position: absolute; left: -18px;}
.ul-prize { display: inline-block; width: 409px; height: 71px; padding: 23px 0 0 20px;  /*background: url(~@/assets/Y/01/01/imgs/main/prizeBg.png) left center no-repeat;*/}
.li-prizeNum, .li-prizeDsc { font-size: 36px;  font-weight: bold;  line-height: 52px; text-indent: 8px; /* background: -webkit-linear-gradient(top, #f1c579 0, #c47b00 100%); -webkit-background-clip: text;  -webkit-text-fill-color: transparent; *//*漸層字*/
-webkit-filter: drop-shadow(5px 1px 1px #272727); filter: drop-shadow(0px 1px 1px #272727); color: #fff; animation: colorchange 1s infinite alternate; -webkit-animation: colorchange 1s infinite alternate; -moz-animation: colorchange 1s infinite alternate; -o-animation: colorchange 1s infinite alternate; -ms-animation: colorchange 1s infinite alternate; /*文字閃動*/}
/* .li-prizeNum {} */
/* .li-prizeDsc {} */
/* .reg-main > .are-luckyDraw > */
.blk-luckyDraw { width: 427px; height: 75px; line-height: 75px; margin: 0 auto; text-align: center; cursor: pointer; position: relative;}
.i-luckyDraw { display: inline-block; /*float: left;*/ width: 71px; height: 73px; padding-top: 22px; /*background: url(~@/assets/Y/01/01/imgs/main/luckyDrawIcn.png) left center no-repeat;*/ position: absolute; left: -18px;}
.ul-luckyDraw { display: inline-block; width: 409px; height: 71px; padding: 23px 0 0 20px;  /*background: url(~@/assets/Y/01/01/imgs/main/prizeBg.png) left center no-repeat;*/}
.li-luckyDrawNum, .li-luckyDrawDsc { font-size: 36px;  font-weight: bold;  line-height: 52px; text-indent: 8px; /* background: -webkit-linear-gradient(top, #f1c579 0, #c47b00 100%); -webkit-background-clip: text;  -webkit-text-fill-color: transparent; *//*漸層字*/
-webkit-filter: drop-shadow(5px 1px 1px #272727); filter: drop-shadow(0px 1px 1px #272727); color: #fff; animation: colorchange 1s infinite alternate; -webkit-animation: colorchange 1s infinite alternate; -moz-animation: colorchange 1s infinite alternate; -o-animation: colorchange 1s infinite alternate; -ms-animation: colorchange 1s infinite alternate; /*文字閃動*/}
/* .li-luckyDrawNum {} */
/* .li-luckyDrawDsc {} */
@keyframes colorchange { 0% { color:#FFF; } 20% { color:#Fc0;} 40% { color:#FFF;} 60% { color:#Fc0;} 80% { color:#FFF;} 100% { color:#Fc0;} }
@-webkit-keyframes colorchange { 0% { color:#FFF; } 20% { color:#Fc0;} 40% { color:#FFF;} 60% { color:#Fc0;} 80% { color:#FFF;} 100% { color:#Fc0;} }
@-moz-keyframes colorchange { 0% { color:#FFF; } 20% { color:#Fc0;} 40% { color:#FFF;} 60% { color:#Fc0;} 80% { color:#FFF;} 100% { color:#Fc0;} }
@-o-keyframes  colorchange { 0% { color:#FFF; } 20% { color:#Fc0;} 40% { color:#FFF;} 60% { color:#Fc0;} 80% { color:#FFF;} 100% { color:#Fc0;} }
@-ms-keyframes  colorchange { 0% { color:#FFF; } 20% { color:#Fc0;} 40% { color:#FFF;} 60% { color:#Fc0;} 80% { color:#FFF;} 100% { color:#Fc0;} }

/*partner*/
.are-partner {color: #fff; margin: 40px 0 20px;}

/*===================================================================================================================*/
/*                                                      Footer                                                       */
/*===================================================================================================================*/
/* .reg-footer { width: 100%; background: url(~@/assets/Y/01/01/imgs/footer/footerBg.png) no-repeat center top; padding-top: 3px; position: fixed; left: 0; bottom: 0;} */
/*? .reg-footer > */
/* .ul-footer-toolbar { background: url(~@/assets/Y/01/01/imgs/footer/toolbarBg.jpg) repeat-x; } */
/* .li-footer-toolbar { width: 25%; background: url(~@/assets/Y/01/01/imgs/footer/toolbarBg.jpg) repeat-x;} */
/* .li-toolbar-active { background-image: url(~@/assets/Y/01/01/imgs/footer/toolbarBgActive.jpg);} */
/* .lnk-footer-toolbar { display: table-cell; width: 25%; height: 119px; padding: 27% 0 0 0; color: #fff; font-size: 32px; line-height: 38px; word-wrap: break-word; word-break: keep-all; text-align: center; vertical-align: middle; box-sizing: border-box; } */
/* .lnk-footer-toolbar { background: url(~@/assets/Y/01/01/imgs/footer/lnk_toolbar.png) 0px 6px no-repeat; } */
/* .li-footer-toolbar:after { display: inline-block; content: ""; width: 4px;  height: 119px; background: url(~@/assets/Y/01/01/imgs/footer/lnk_line.png) right top no-repeat; position: absolute; top: 0;} */
/* .li-footer-toolbar:first-child:after { background: none; } */
/* .li-toolbar-member > .lnk-footer-toolbar { } */
/* .li-toolbar-regist > .lnk-footer-toolbar { background-position: 24% 6px; text-indent: 12px;} */
/* .li-toolbar-event > .lnk-footer-toolbar { background-position: 50% 6px;} */
/* .li-toolbar-service > .lnk-footer-toolbar { background-position: 75% 6px;} */
/* .li-toolbar-transaction > .lnk-footer-toolbar { background-position: 97% 6px;} */
/*===================================================================================================================*/
/*                                                        AD                                                       */
/*===================================================================================================================*/
/*.noneLoginPopup { width: 100%; height: 100%; background: rgba(0, 0, 0, 0.8) url(~@/assets/Y/01/01/imgs/main/Bg-noneLoginPopup.jpg) center center no-repeat; position: fixed; top: 0; z-index: 5;}*/
/*===================================================================================================================*/
/*                                                      Box                                                          */
/*===================================================================================================================*/
.Box { visibility: hidden; opacity: 0; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; filter: alpha(opacity=0); width: 100%; height: 100%; padding-top: 35vh; margin: 0 auto; position: absolute; top: 0; z-index: -1; -o-transition: all 0.3s ease; transition: all 0.3s ease; -ms-transition: all 0.3s ease; -webkit-transition: all 0.3s ease; }
.Box .lnk-boxSubmit { display: block; margin: 35px 0 0 auto; padding: 10px 20px; font-size: 20px; color: #000;  border: none; -webkit-box-sizing: content-box; box-sizing: content-box; }
.Box .boxOverlay { display: block; width: 100%; height: 100%; background: #000; position: fixed; top: 0; left: 0; overflow: hidden; opacity: 0.8; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)"; filter: alpha(opacity=80); z-index: -1; }
.Box.on { visibility: visible; opacity: 1; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; filter: alpha(opacity=100); padding-top: 35vh; cursor: pointer; z-index: 5; }
.Boxinner { width: 50%; padding: 25px; margin: 0 auto 10%; position: relative; background-color: #fff; -o-transition: all 0.3s ease; transition: all 0.3s ease; -ms-transition: all 0.3s ease; -webkit-transition: all 0.3s ease; }
.Boxinner .h1-tit { text-align: center; color: #636363; font-size: 20px; font-weight: normal; margin: 15px 0 30px; }

@media screen and (max-width: 1000px) { .Boxinner { width: 80%; min-width: auto; } }
/*===================================================================================================================*/
/*                                                     Z-index                                                       */
/*===================================================================================================================*/
.are-header-memberInfo { z-index: 2;}
.are-header-menu { z-index: 3;}
.reg-footer { z-index: 4;}
.blk-tel { z-index: 1;}

/*===================================================================================================================*/
/*                                                       Hack                                                        */
/*===================================================================================================================*/
/* Safari 7.1+ */
/*_::-webkit-full-page-media, _:future, :root .lnk-footer-toolbar{ padding: 0 10px 0px 93px;} */
_::-webkit-full-page-media, _:future, :root .ui-ipt-inquire { width: 224px; top: -2px;}
_::-webkit-full-page-media, _:future, :root .ui-lnk-category { padding: 0 12px; }
_::-webkit-full-page-media, _:future, :root .ui-ipt-favorites-txt { right:53px; }

.tooltipster-base { display: none; visibility: hidden; }






/*
  ! index2.css
*/

/*===================================================================================================================*/
/*                                                      Header                                                       */
/*===================================================================================================================*/
/* .lnk-header-langOpen, .lnk-header-langClose { width: 73px; height: 60px; background: url(~@/assets/Y/01/01/imgs/header/lang_tw_s.png) center center no-repeat; position: absolute; top: 30%; right: 20px; }
.lnk-header-langClose { display: none; }
.are-header-langMenu { display: none; width: 90px; background: rgba(0, 0, 0, 0.9); overflow: hidden; position: absolute; top: 141px; right: 12px; z-index: 2; }
.ul-ilang { margin-bottom: 0; }
.li-ilang { margin: 10px auto; }
.lnk-ilang { width: 60px;  padding-top: 65px;}
.lnk-ilang.tw { background-image: url(~@/assets/Y/01/01/imgs/header/lang_tw_s.png);}
.lnk-ilang.cn { background-image: url(~@/assets/Y/01/01/imgs/header/lang_cn_s.png);}
.lnk-ilang.en { background-image: url(~@/assets/Y/01/01/imgs/header/lang_en_s.png);}
.lnk-ilang.th { background-image: url(~@/assets/Y/01/01/imgs/header/lang_th_s.png);} */

/*===================================================================================================================*/
/*                                                       Main                                                        */
/*===================================================================================================================*/
.reg-main { padding-top: 0;}
/* .reg-main > */
/* .are-banner {} */
/* .are-game { background: url(~@/assets/Y/01/01/imgs/layout/bg_index2.jpg) no-repeat;} */
/* .reg-main > .are-banner > */
/* .ul-banner { height: 431px; overflow: hidden; position: relative;} */
/* .li-banner { width: 100%;background-repeat:no-repeat;background-position: bottom;} */

/* .lnk-banner { display: block; width: 100%; height: 431px; background: no-repeat center;} */
/* .lnk-banner-prev,
.lnk-banner-next { display: block; position: absolute; top: 16%; width: 100px; height: 100px;}
.lnk-banner-prev { background:url(~@/assets/Y/01/01/imgs/banner/prev.png) no-repeat center center;  left: 0; }
.lnk-banner-next { background:url(~@/assets/Y/01/01/imgs/banner/next.png) no-repeat center center;  right: 0; } */

/* .reg-main > .are-game */
/* .ul-game { margin:0 32px; padding-top: 20px;} */
/* .li-game { background: no-repeat center top; margin: 0 2px 30px;} */
/* .li-game-1010 { background-image: url(~@/assets/Y/01/01/imgs/game/game1010.png);} */
/* .li-game-1040 { background-image: url(~@/assets/Y/01/01/imgs/game/game1040.png);} */
/* .li-game-1080 { background-image: url(~@/assets/Y/01/01/imgs/game/game1080.png);} */
/* .li-game-1020 { background-image: url(~@/assets/Y/01/01/imgs/game/game1020.png);} */
/* .li-game-1120 { background-image: url(~@/assets/Y/01/01/imgs/game/game1120.png);} */
/* .li-game-1130 { background-image: url(~@/assets/Y/01/01/imgs/game/game1130.png);} */
/* .li-game-1140 { background-image: url(~@/assets/Y/01/01/imgs/game/game1140.png);} */
/* .li-game-1150 { background-image: url(~@/assets/Y/01/01/imgs/game/game1150.png);} */
/* .li-game-1170 { background-image: url(~@/assets/Y/01/01/imgs/game/game1170.png);} */
/* .li-game-1160 { background-image: url(~@/assets/Y/01/01/imgs/game/game1160.png);} */
/* .li-game-12203100-03 { background-image: url(~@/assets/Y/01/01/imgs/game/game12203100.png);} */
/* .li-game-12203110-03 { background-image: url(~@/assets/Y/01/01/imgs/game/game12203110.png);} */
/* .li-game-1150-01 { background-image: url(~@/assets/Y/01/01/imgs/game/game1150-01.png);} */
/* .li-game-1150-02,
.li-game-11902602-02 { background-image: url(~@/assets/Y/01/01/imgs/game/game1150-02.png);} */
/* .li-game-1180 { background-image: url(~@/assets/Y/01/01/imgs/game/game1180.png);} */
/* .li-game-11901030-01 { background-image: url(~@/assets/Y/01/01/imgs/game/game11901030-01.png);} */
/* .li-game-1190-02,
.li-game-11901031-02 { background-image: url(~@/assets/Y/01/01/imgs/game/game1190-02.png);} */
/* .li-game-11901032-01 { background-image: url(~@/assets/Y/01/01/imgs/game/game11901032-01.png);} */
/* .li-game-1200 { background-image: url(~@/assets/Y/01/01/imgs/game/game1200.png);} */
/* .li-game-1190-04 { background-image: url(~@/assets/Y/01/01/imgs/game/game1190-04.png);} */
/* .li-game-11902100-02 { background-image: url(~@/assets/Y/01/01/imgs/game/game11902100-02.png);} */

/* .li-game-app { background-image: url(~@/assets/Y/01/01/imgs/game/gameApp.png);} */
/* .li-game-download { background-image: url(~@/assets/Y/01/01/imgs/game/gameDownload.png);} */
/* .lnk-game { display: block; width: 213px; padding-top: 111px; color: #fff; font-size: 2.461em; text-align: center; line-height: 54px;} */
/* .reg-main > .are-game > .blk-freeGo */
/* .lnk-freeGo { display: block; width: 100%; height: 109px; background: url(~@/assets/Y/01/01/imgs/main/freeGo-bg.jpg) left top repeat-x; padding: 20px 0 0 35px; box-sizing: border-box; margin-bottom: 8px; } */
/* .icn-freeGo { display: inline-block; width: 70px; height: 64px; background: url(~@/assets/Y/01/01/imgs/main/freeGo-icn.png) left top no-repeat; text-indent: -999em; vertical-align: top; } */
/* .txt-freeGo { display: inline-block; width: 82%; color: #fcf0ca; font-size: 32px; line-height: 72px; background: url(~@/assets/Y/01/01/imgs/main/freeGo-arrow.png) right center no-repeat; padding-left: 20px;vertical-align: top; } */