/* #layout@th-th */

.th-th {
  /*===================================================================================================================*/
  /*                                                        UI                                                         */
  /*===================================================================================================================*/
  .li-tabs2-active,
  .lnk-tabs2 {
    font-size: 2.895em;
  }
  .li-tabs3-active,
  .lnk-tabs3 {
    font-size: 2.895em;
  }
  .ui-lnk-tabs {
    font-size: 22px;
  }

  .li-prizeNum,
  .li-prizeDsc {
    font-size: 26px;
    font-weight: normal;
  }

  /*===================================================================================================================*/
  /*                                                      Header                                                       */
  /*===================================================================================================================*/
  .lnk-header-langOpen,
  .lnk-header-langClose {
    background: url(~@/assets/common/imgs/header/lang_th_s.png) center center no-repeat;
  }
  .h1-header-title {
    font-size: 2.454em;
  }
  // .lnk-header-login {
  //   background: url(~@/assets/Y/01/01/imgs/header/btn_login_th.png) no-repeat;
  // }
  /*===================================================================================================================*/
  /*                                                      Footer                                                       */
  /*===================================================================================================================*/
  .lnk-footer-toolbar {
    padding: 24% 0 0 0;
    font-size: 30px;
    line-height: 28px;
  }

  /*===================================================================================================================*/
  /*                                                      Hacks                                                      */
  /*===================================================================================================================*/
  /* Safari 9+ (iOS Only!) */
  @supports (-webkit-text-size-adjust: none) and (not (-ms-accelerator: true)) {
    /*.lnk-footer-toolbar{  width:33.2%;  } */
  }

  /*===================================================================================================================*/
  /*                                                      Header                                                       */
  /*===================================================================================================================*/
  // .lnk-ilang.th {display: none;}
}
