/* #layout@zh-cn */

.zh-cn {
  /*===================================================================================================================*/
  /*                                                        UI                                                         */
  /*===================================================================================================================*/
  
  .ui-lnk-tabs {
    width: 116px;
    margin: 0 25px;
  }

  .li-prizeNum,
  .li-prizeDsc {
    font-size: 36px;
    font-weight: bold;
  }
}
