/* #login@common */

/*===================================================================================================================*/
/*                                                       Main                                                        */
/*===================================================================================================================*/
.reg-main {}
/* .reg-main > */
.are-auth { width: 563px; margin: 0 auto; text-align: center;}
/* .reg-main > .are-auth > */
.blk-auth { height: 81px; background: no-repeat; margin-bottom: 30px; padding-left: 80px;}
/* .blk-account { background-image: url(imgs/main/authBg_account.png);} */
/* .blk-password { background-image: url(imgs/main/authBg_password.png);} */
.blk-code { /*background-image: url(imgs/main/authBg_code.png);*/ position: relative;}
.lnk-regist,
.lnk-forget,
.lnk-open,
.lnk-download { width: 150px; background: no-repeat top center; padding: 134px 15px 0; margin-top: 35px; color: #fff; font-size: 2.46em;}
/* .lnk-regist { background-image: url(imgs/main/registerBg.png);} */
/* .lnk-forget { background-image: url(imgs/main/forgetBg.png);} */
/* .lnk-open { background-image: url(imgs/main/open.png);} */
/* .lnk-download { background-image: url(imgs/main/download.png);} */
.btn-login { display: block; margin: 20px auto;}
/* .reg-main > .are-auth > .blk-auth */
.ipt-auth { width: 465px; height: 64px; background: transparent; margin: 8px 0 9px; padding: 0 3px; border: none; outline: none; font-size: 2.5em;}
.ipt-auth-code { width: 315px; padding-right: 153px;}
.blk-code > a { position: absolute; top: 11px; right: 15px;}

.blk-rememberme { height: 70px; padding: 0; }
input#RememberMe { width: 35px; height: 27px; margin-left: 0; float: none; }

.are-auth.closeRegist .lnk-regist { display: none; }
.are-auth.closeRegist .lnk-forget { margin-left: 25%; }
/*===================================================================================================================*/
/*                                                       Hack                                                        */
/*===================================================================================================================*/