
.reg-main {}
/* .reg-main > */
.ul-tabs-account {}
.are-account { margin: 40px 0;}
.are-accountOpen { margin: 40px 0;}
.are-accountOpen-input { margin: 20px 0; padding: 3%;}
.are-account2 { margin: 40px 0;}
.are-accountChg { margin: 40px 0;}
.are-control { margin: 40px 0; text-align: center;}
/* .reg-main > .are-account > */
.table-account {}
.table-account .th-1st {}
.table-account .th-2nd {}
/* .reg-main > .are-accountOpen > */
.table-accountOpen {}
.table-accountOpen .th-1st { width: 130px;}
.table-accountOpen .td-2nd {}
/* .reg-main > .are-accountOpen-input > */
.blk-accountOpen-input { margin: 20px 0;}
.ipt-accountOpen {}
.ipt-accountOpen-open {}
.theme-content-box .ddl-year,
.theme-content-box .ddl-month,
.theme-content-box .ddl-day { min-width: auto; width: 200px; margin-right: 10px;}
.ddl-bank {}
/* .reg-main > .are-accountChg > */
.blk-accountChg-input { margin: 20px 0;}