/*! 原專案是 event.css */
/* .lay-are-pageContent {
  width: 100%;
  padding: 0;
} */
/* .lnk-bonus {
  display: block;
  width: 100%;
  height: 109px;
  padding: 20px 0 0 35px;
  box-sizing: border-box;
  margin-bottom: 8px;
}
.icn-bonus {
  display: inline-block;
  width: 70px;
  height: 64px;
  text-indent: -999em;
  vertical-align: top;
}
.txt-bonus {
  display: inline-block;
  width: 82%;
  font-size: 32px;
  line-height: 72px;
  padding-left: 20px;
} */

/*===================================================================================================================*/

/*                                                       Main                                                        */

/*===================================================================================================================*/
/*? 這些註解掉的，是改用我的，css 部分在 /views/Promotion.vue 中 */
/* .ul-event { width: 634px; margin: 20px auto; text-align: center; } */
/* .li-event { background: center center no-repeat; } */
/* .li-event a {color: #fff;font-size: 26px;} */
/* .li-event h3 { margin: 0;padding: 0; } */
/* h3.theme-event-title { display:none; text-align: left;} */
/* .lnk-event { display: block; height: 224px; } */
/* .are-eventImg { width: 600px; height: 190px; background: no-repeat; margin: 20px auto 20px; } */
/* .are-eventContents { } */
/* .are-control { text-align: center; } */

/* .reg-main > .are-eventContents */
/* .blk-eventContents-desc {
  margin-bottom: 40px;
  width: 95%;
  margin: 0 auto;
}
.blk-eventContents-desc .ui-table04 {
  font-size: 1em;
}
.blk-eventContents-desc ul > li {
  margin-bottom: 20px;
}
.blk-eventContents-desc ul > li > a {
  color: #ffffff;
  background-color: #d40505;
  border-radius: 6px;
  padding: 5px 10px;
  margin: 5px;
  display: inline-block;
}
.h3-desc-title {
  height: 68px;
  margin: 20px 0;
  padding: 30px 0 0 95px;
  font-size: 2.461em;
  font-weight: normal;
}
.panel-eventContents-desc {
  font-size: 2.307em;
}
.img-event-poster {
  width: 100%;
  height: 545px; 
} */
