/* #wallet@common */

/*===================================================================================================================*/
/*                                                       Main                                                        */
/*===================================================================================================================*/
.reg-main {}
/* .reg-main > */
.are-transfer { margin-top: 30px; font-size: 2.461em;}
.table-transfer-account { width: 100%; margin: 40px auto; border: 1px solid #d6c388;}
.table-transfer-account tr { border-bottom: 1px solid #d6c388;}
.table-transfer-account th,
.table-transfer-account td { padding: 10px;}
.table-transfer-account .th-1st { color: #959595; font-size: 2.5em; font-weight: normal; text-align: left;}
.table-transfer-account .td-2nd { font-size: 2.769em; text-align: right;}
/* .reg-main > .are-transfer > */
.are-transfer .ui-ddl { font-size: 1.125em;;}
.are-transfer .ui-btn01 { font-size: 1.312em;}
.blk-transfer-select { padding: 20px 0; border-bottom: 1px solid #d6c388;}
.blk-transfer-money {}
.blk-transfer-control { padding: 20px 0; border-top: 1px solid #d6c388;}
/* .reg-main > .are-transfer > .blk-transfer-money > */
.table-transfer-money { width: 100%; margin: 20px 0;}
.table-transfer-money th,
.table-transfer-money td { padding: 3px 15px;}
.table-transfer-money .th-1st { font-weight: normal; vertical-align: middle;}
.table-transfer-money .td-2nd {}
.panel-wallet-range { width: 448px; margin: 0 auto; padding: 20px 0;}
.ipt-wallet-range {}
.panel-wallet-range .range-bar { height: 22px; background: url(imgs/main/sliderBar.png) no-repeat;}
.panel-wallet-range .range-handle { width: 52px; height: 51px; background: url(imgs/main/sliderPoint.png) no-repeat; top: -16px; -webkit-box-shadow: none; box-shadow: none;}
.panel-wallet-range .range-quantity { background-color: transparent;}
.ipt-transfer-money { display: block; width: 446px; height: 77px; background-color: #2e2e2e; margin: 40px auto 20px; border: 1px solid #8b8b8b; outline: none; text-align: center; line-height: 77px;}
/* .reg-main > .are-transfer > .blk-transfer-control > */
.btn-transfer { display: block; margin: 0 auto;}
.btn-refresh { display: block; margin: 0 auto; background-image: url(imgs/header/btn_logout.jpg);background-size: contain; color: #000;}
/*===================================================================================================================*/
/*                                                       Hack                                                        */
/*===================================================================================================================*/