$type: 'Y/01/03';

.lnk-recordlist {
  color: #000;
}

// .theme-colorBox {
//   border: 2px solid #c1ae71;
//   background: #000;
// }

/*
  ! 圖片路徑
*/

.lnk-recordlist {
  background: url(~@/assets/#{$type}/imgs/main/lnk_recordlist.jpg) repeat-x;
}
