@function assetPathGlobal($path) {
  @return url('~@/assets/Y/global/#{$path}');
}

$btn-bg-red: assetPathGlobal('ui/btn--red.jpg') repeat-x;
$btn-bg-yellow: assetPathGlobal('ui/btn--yellow.jpg') repeat-x;
$btn-bg-yellow-light: assetPathGlobal('ui/btn--yellow-light.jpg') repeat-x;
$btn-bg-yellow-light-2: assetPathGlobal('ui/btn--yellow-light-2.jpg');
$btn-bg-yellow-dark: assetPathGlobal('ui/btn--yellow-dark.jpg') repeat-x;
$btn-bg-black: assetPathGlobal('ui/btn--black.jpg') repeat-x;
$btn-bg-gray: assetPathGlobal('ui/btn--gray.jpg') repeat-x;
$btn-bg-silver: assetPathGlobal('ui/btn--silver.jpg') repeat-x;
