* {
  // font: 13px 'Microsoft JhengHei', Arial, Helvetica, sans-serif;
  font-family: 'Microsoft JhengHei', Arial, Helvetica, sans-serif;
}

/*===================================================================================================================*/
/*                                                        UI                                                         */
/*===================================================================================================================*/

.ui-box-close {
  position: absolute;
  display: inline-block;
  top: 20px;
  right: 20px;
  background: url(~@/assets/common/ui/colorbox_close.png) no-repeat center;
  width: 20px;
  height: 20px;
  /* text-indent: -9999px; */
  z-index: 9999;
}

/* input */
.ui-ipt {
  background-color: #2e2e2e;
  padding: 0 10px;
  border: 1px solid #8b8b8b;
  outline: none;
  font-size: 2rem;
  line-height: 77px;
}
.ui-ipt-date {
  height: 79px;
  line-height: 79px;
}

/* button(/a) */
.ui-btn {
  display: inline-block;
  text-align: center;
  width: 300px;
  height: 99px;
  color: #fff;
  font-size: 2rem;
  border-radius: 10px;
  border: none;
  line-height: 99px;
}

.ui-btn:disabled {
  opacity: 0.6;
  pointer-events: none;
}

.ui-btn--long {
  width: 500px;
}

/* dropDownList(select) */
.ui-ddl {
  min-width: 250px;
  height: 71px;
  padding-right: 22px;
  border-right: none;
  outline: none;
  color: #fff;
  font-size: 2rem;
  appearance: none;
}
.ui-ddl > option {
  background-color: #979797;
  border-bottom: 1px solid #4b4b4b;
  color: #000;
}

/* textarea */
.ui-tar {
  min-width: 94%; /*寫給IOS寬度*/
  width: 97%;
  padding: 0 1%; /*寫給ad長寬度用*/
  background-color: #2e2e2e;
  font-size: 2.68rem;
}

/* table */
.ui-table01 {
  width: 100%;
  color: #959595;
  font-size: 1.5rem;
  letter-spacing: 2px;
  line-height: 3rem;
}
.ui-table01 th,
.ui-table01 td {
  padding: 10px 10px;
  border: 1px solid #d6c388;
  word-break: keep-all;
}
.ui-table02 {
  width: 100%;
  font-size: 2rem;
  letter-spacing: 2px;
  line-height: 4rem;
}
.ui-table02 tr {
  border-bottom: 1px solid #d6c388;
}
.ui-table02 tr:last-child {
  border-bottom: none;
}
.ui-table02 th,
.ui-table02 td {
  padding: 10px 10px;
  word-break: break-word;
}
.ui-table02 th {
  color: #959595;
  font-weight: normal;
  text-align: left;
}
.ui-table02 td {
  font-weight: bolder;
  text-align: right;
}
.ui-table03 {
  width: 100%;
  font-size: 2rem;
  letter-spacing: 2px;
  line-height: 3rem;

  border-collapse: separate;
}
.ui-table03 tr {
  border: 1px solid #000;
}
.ui-table03 tr:last-child {
  border: none;
}
.ui-table03 th,
.ui-table03 td {
  padding: 10px 10px;
  border-right: 1px solid #000;
  word-break: keep-all;
}
.ui-table03 th:last-child,
.ui-table03 td:last-child {
  border-right: none;
}
.ui-table03 th {
  color: #fff;
}
.ui-table03 tr:nth-child(odd) th {
  background-color: #736844;
}
.ui-table03 tr:nth-child(even) th {
  background-color: #574e33;
}
.ui-table03 td {
  color: #000;
}
.ui-table03 tr:nth-child(odd) td {
  background-color: #d2bd7c;
}
.ui-table03 tr:nth-child(even) td {
  background-color: #a89763;
}
.ui-table01 .ui-lnk-detail,
.ui-table03 .ui-lnk-detail {
  display: block;
  width: 100%;
  /* height: 77px; */
  height: 100%;
  background: no-repeat 96% center;
  margin-top: -19px;
  position: absolute;
  top: 18px;
  right: 0px;
}

/* memberNotice */
.ui-ol-memberNotice {
  padding-left: 24px;
  color: #959595;
  font-size: 1.5rem;
  letter-spacing: 2px;
  line-height: 3rem;
}
.ui-ol-memberNotice > li {
  list-style: disc;
}

/* text */
.ui-txt-star {
  color: #cfa972;
}
.ui-txt-mask {
  color: #f00 !important;
}
.ui-txt-negative {
  color: #ff0000 !important;
}
.ui-txt-positive {
  color: #0b8140 !important;
}

/*==================================================================================================================*/
/*                                                      Theme                                                        */
/*===================================================================================================================*/
/* content box */
/*! 不同處 .theme-content-box: border*/
.theme-content-box {
  padding: 1% 3%;
}
.theme-content-box > .theme-h3-boxTitle {
  width: 106%;
  margin: 0 0 0 -3%;
  padding: 20px 0;
  border-bottom: 1px solid #d6c388;
  color: #d6c388;
  font-size: 2.5rem;
  font-weight: normal;
  text-align: center;
}

/* input box */
/* .theme-input-box {} */
.theme-input-box .theme-input-header {
  display: block;
  margin-bottom: 5px;
  color: #959595;
  font-size: 2rem;
}
.theme-input-box .ui-ddl {
  width: 100%;
}
.theme-input-box .ui-ipt {
  width: 100%;
  padding: 0 1.5%;
}

.theme-ul-dataView {
  
}

/* .theme-ul-listView {} */
.theme-li-listView {
  margin: 20px 0;
}
/* .theme-ul-dataView {} */
.theme-li-dataView {
  padding: 20px 0;
  border-bottom: 1px solid #d6c388;
}
.theme-li-dataView:last-child {
  border-bottom: none;
}
.theme-dataView-header {
  display: block;
  margin: 10px 0;
  color: #959595;
  font-size: 2rem;
}
.theme-dataView-data {
  margin: 5px 0;
  padding-left: 1rem;
  color: #fff;
  font-size: 2.2rem;
  font-weight: bolder;
}
/* .theme-li-dataView > .ui-ipt { width: 92%; margin-left: 5%; padding: 0 1.5%;} */
.theme-li-dataView .ui-ipt {
  /* width: 92%; */
  width: 95%;
  margin-left: 5%;
  padding: 0 1.5%;
}

/* Error Message */
.theme-errorMsg {
  background-color: #be0707;
  margin: 20px 0;
  padding: 10px;
  border-radius: 20px;
}
.theme-txt-errorMsg {
  color: #fff;
  font-size: 2rem;
}
.txt-errorMsg {
  font-size: 1.5rem;
  line-height: 36px;
}
