@mixin about {
  padding-bottom: 30px;
  color: $about-text-color;
  &-auth {
    padding-top: $header-sub-height-auth;
  }
  &__title {
    font-size: 40px;
    margin: 0;
    padding: 45px 0 10px 0;
    text-align: center;
  }
  &__intro {
    width: 96%;
    margin: 0 auto;
    &__title {
      text-align: left;
      font-size: 40px;
      margin: 20px 0 24px 15px;
    }
    &__content {
      display: block;
      margin: 0 2%;
      text-align: left;
      font-size: 32px;
      line-height: 50px;
      padding-bottom: 80px;
      word-break: break-word;
    }
  }
  &__toolbar {
    position: fixed;
    right: 10px;
    bottom: 145px;
    margin: 0;
    padding: 0;
    list-style: none;
    &__li {
      width: 70px;
      height: 70px;
      background: url(~@/assets/common/ui/gameIntro_sort.png) center top no-repeat;
      &__link {
        display: block;
        height: 70px;
      }
      &-01 {
        background-position: center top;
      }
      &-02 {
        background-position: center center;
      }
      &-03 {
        background-position: center bottom;
      }
    }
  }
}
