@mixin header {
  width: 100%;
  height: $header-height;
  background: $header-bg;
  position: relative;

  display: flex;
  align-items: center;

  &__logo {
    // width: $header-logo-width;
    // height: $header-logo-height;
    max-width: 425px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }

  &__link {
    position: absolute;

    &--home {
      background: $header-link-home-bg;
      width: $header-link-home-width;
      height: $header-link-home-height;
      left: $header-link-home-left;
    }

    &--back {
      background: $header-link-back-bg;
      width: $header-link-back-width;
      height: $header-link-back-height;
      left: $header-link-back-left;
    }
  }
}

@mixin header-menu {
  &__lang-button {
    display: inline-block;
    width: 73px;
    height: 60px;
    position: absolute;
    top: 30%;
    right: 20px;

    &:lang(en-us) {
      background: url(~@/assets/common/lang/lang_en-us_s.png) center center no-repeat;
    }

    &:lang(th-th) {
      background: url(~@/assets/common/lang/lang_th-th_s.png) center center no-repeat;
    }

    &:lang(zh-cn) {
      background: url(~@/assets/common/lang/lang_zh-cn_s.png) center center no-repeat;
    }
  }

  &__lang-dropdown {
    background: $header-menu-lang-dropdown-bg;
    top: $header-height;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90px;
    overflow: hidden;
    position: absolute;
    right: 12px;
    z-index: 2;
    &__item {
      display: block;
      width: 60px;
      height: 65px;
      margin: 10px 0;

      &.zh-tw {
        background: url(~@/assets/common/lang/lang_zh-tw_s.png) no-repeat center top;
      }
      &.zh-cn {
        background: url(~@/assets/common/lang/lang_zh-cn_s.png) no-repeat center top;
      }
      &.en-us {
        background: url(~@/assets/common/lang/lang_en-us_s.png) no-repeat center top;
      }
      &.th-th {
        background: url(~@/assets/common/lang/lang_th-th_s.png) no-repeat center top;
      }
      &.my-mm {
        background: url(~@/assets/common/lang/lang_my-mm_s.png) no-repeat center top;
      }
    }
  }
}

@mixin header-menu-auth {
  &__button {
    display: inline-block;

    &--open {
      background: $header-menu-auth-button-bg-open;
      width: 70px;
      height: 58px;
      margin-top: -29px;
      position: absolute;
      top: 50%;
      right: 20px;
    }

    &--close {
      background: $header-menu-auth-button-bg-close;
      width: 70px;
      height: 58px;
      margin-top: -29px;
      position: absolute;
      top: 50%;
      right: 20px;
    }
  }

  &__menu {
    background: $header-menu-auth-menu-bg;
    width: 100%;
    height: 85vh;
    overflow: hidden;
    position: absolute;
    top: $header-height;
    left: 0;
    z-index: 3;

    &__route {
      margin: 0;
      padding: 20px 0;

      &__item {
        margin: 35px 0;

        &__link {
          display: block;
          color: #d2bd7c;
          font-size: 2rem;
          text-align: center;
          line-height: 48px;
        }

        &__link:active {
          color: #fff;
        }
      }
    }

    &__lang {
      margin: 0 0 60px 0;
      text-align: center;

      &__item {
        display: inline-block;
        width: 116px;
        height: 108px;
        line-height: 170px;
        color: #fff;
        font-size: 1.5rem;
        margin: 0 30px;

        &.zh-tw {
          background: url(~@/assets/common/lang/lang_zh-tw.png) top center no-repeat;
        }
        &.zh-cn {
          background: url(~@/assets/common/lang/lang_zh-cn.png) top center no-repeat;
        }
        &.en-us {
          background: url(~@/assets/common/lang/lang_en-us.png) top center no-repeat;
        }
        &.th-th {
          background: url(~@/assets/common/lang/lang_th-th.png) top center no-repeat;
        }
        &.my-mm {
          background: url(~@/assets/common/lang/lang_my-mm.png) top center no-repeat;
        }
      }
    }
    &__logout {
      background: $header-menu-auth-menu-logout-bg;
      display: block;
      width: 80%;
      margin: 0 10%;
      color: #000;
      font-size: 2rem;
      line-height: 87px;
    }
  }
}

@mixin header-sub {
  background: $header-sub-bg;
  width: 100%;
  position: absolute;
  top: $header-height;
  height: $header-sub-height-auth;
  font-size: 1.5rem;
  z-index: 2;
  &__member {
    display: flex;
    flex-wrap: wrap;

    &__item {
      width: 50%;
      padding: 3px 10px;
    }

    &__item:nth-child(even) {
      text-align: right;
    }
  }
}
