@mixin maintenance {
  background: $maintenance-bg;
  color: $maintenance-text-color;
  padding: 10px 10%;
  p {
    margin-bottom: 30px;
    line-height: 50px;
    font-size: 2rem;
  }

  button {
    background: $maintenance-button-bg;
    margin-top: 35px;
    margin-bottom: 60px;
    width: 100%;
  }

  &__footer {
    // background: $maintenance-footer-bg;
    padding: 0 0 20px 0;

    &__logo {
      padding: 20px 10%;

      ul {
        text-align: center;
        padding: 0;
        margin: 0;
        li {
          display: inline-block;
          vertical-align: top;
          list-style: none;
          // height: 49px;
          height: 73px;
          background-position: left center;
          background-repeat: no-repeat;
          margin: 0 10px;

          transform: scale(1.5); //* 因原網站是用 viewport=480，跟此網站 720 差 1.5 倍
        }
      }
    }
    &__copyright {
      color: #575757;
      font-size: 1.4rem;
      text-align: center;
    }

    &__logo1 {
      // width: 144px;
      width: 216px;
      background-image: $footer-logo-bg-1;
    }
    &__logo2 {
      // width: 59px;
      width: 88px;
      background-image: $footer-logo-bg-2;
    }
    // &__logo3 {
    //   width: 56px;
    // background-image: $footer-logo-bg-3;
    // }
    &__logo4 {
      // width: 41px;
      width: 61px;
      background-image: $footer-logo-bg-4;
    }
    &__logo5 {
      // width: 118px;
      width: 177px;
      // background-image:$footer-logo-bg-5;
    }
    &__logo6 {
      // width: 49px;
      width: 73px;
      background-image: $footer-logo-bg-6;
    }
  }
}
