@mixin nav-tab {
  display: flex;
  justify-content: center;
  &__item {
    width: 25%;
    border-right: 1px dotted #fff;
    text-align: center;
    &__link {
      display: block;
      margin: 0;
      padding-top: 102px;
      color: #fff;
      font-size: 2rem;

      &:lang(en-us) {
        font-size: 1.8rem;
      }
      &:lang(th-th) {
        font-size: 2rem;
      }
      &:lang(zh-cn) {
        font-size: 2rem;
      }
    }
  }
  &__item:last-child {
    border-right: none;
  }
}
