@mixin pagination {
  margin: 20px 0;
  padding: 25px 0;
  font-size: 2rem;
  white-space: nowrap;
  display: flex;
  justify-content: center;

  select {
    flex-shrink: 0;
    background: $pagination-select-bg;
    color: $pagination-select-color;
    appearance: none;
    width: 134px;
    height: 65px;
    border: none;
    padding: 0 67px 0 20px;
    line-height: 65px;
  }

  > a {
    flex-shrink: 0;
    display: inline-block;
    width: 134px;
    zoom: 1;
    height: 65px;
    padding: 0;
    margin: 0;
  }

  &__prev {
    background: $pagination-prev-bg;
    &--more {
      background: $pagination-prev-more-bg;
    }
  }

  &__next {
    background: $pagination-next-bg;
    &--more {
      background: $pagination-next-more-bg;
    }
  }
}
