@mixin promotion {
  padding-bottom: 160px;

  &-auth {
    padding-top: 88px;
  }

  &__list {
    text-align: center;
    margin-top: 20px;

    &__img {
      display: block;
      width: 600px;
      height: 190px;
      margin: 0 auto 20px auto;
    }
  }

  &__bonus {
    &__link {
      background: $promotion-bonus-bg;
      display: block;
      width: 100%;
      height: 109px;
      padding: 20px 0 0 35px;
      box-sizing: border-box;
      margin-bottom: 8px;

      &__icon {
        background: $promotion-bonus-icon-bg;
        display: inline-block;
        width: 70px;
        height: 64px;
        text-indent: -999em;
        vertical-align: top;
      }
      &__text {
        background: $promotion-bonus-text-bg;
        color: $promotion-bonus-text-color;
        display: inline-block;
        width: 82%;
        font-size: 32px;
        line-height: 72px;
        padding-left: 20px;
      }
    }
  }
}

@mixin promotion-detail {
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 160px;

  &-auth {
    padding-top: 88px;
  }

  &__image {
    display: block;
    width: 600px;
    height: 190px;
    margin: 20px auto;
  }

  &__main {
    &__content {
      &__title {
        background: $promotion-detail-title-bg;
        color: $promotion-detail-title-color;
        height: 98px;
        padding: 34px 0 0 95px;
        font-size: 2.4em;
        font-weight: normal;
      }

      &__desc {
        color: $promotion-detail-content-text-color;
        font-size: 2.3em;

        h1 {
          font-size: 4.6em;
        }
        h2 {
          font-size: 3.45em;
        }
        h3 {
          font-size: 2.69em;
        }
        h4 {
          font-size: 2.3em;
        }
        h5 {
          font-size: 1.9em;
        }
        h6 {
          font-size: 1.54em;
        }
      }

      .ui-table04 {
        font-size: 1em;
      }

      ul > li {
        margin-bottom: 20px;
      }

      ul > li > a {
        border-radius: 6px;
        padding: 5px 10px;
        margin: 5px;
        display: inline-block;
      }
    }
    &__button {
      text-align: center;

      button {
        background: $promotion-detail-button-bg-back;
        color: $promotion-detail-button-text-color-back;
      }
    }
  }
}
