@mixin register {
  padding-bottom: $footer-height;
  padding-top: 60px;
  background: $register-bg;

  &__form {
    // width: 563px;
    // margin: 0 auto;

    &__field {
      width: 563px;
      margin: 0 auto;
      position: relative;
      background-repeat: no-repeat;
      margin-top: 30px;

      &__input-block {
        border: $register-input-block-border;
      }

      &__star {
        font-size: 2rem;
        position: absolute;
        top: 20px;
        left: -25px;
        color: #cfa972;
      }
      &__input {
        width: 465px;
        height: 64px;
        background-color: transparent;
        margin: 8px 0 9px 80px;
        border: none;
        outline: none;
        font-size: 2rem;
      }
      &__select {
        width: 465px;
        height: 64px;
        font-size: 2rem;
        font-weight: normal;
        background: transparent;
        margin: 8px 0 9px 80px;
        border: none;
        outline: none;
      }
      &__select option {
        color: black;
        background-color: #979797;
      }
      &__image--code {
        position: absolute;
        top: 11px;
        right: 15px;
      }
      // &__input:invalid {
      //   color: red;
      // }
      // &__input:valid {
      //   color: green;
      // }
      &__input::placeholder {
        color: $register-placeholder-color;
      }
      &__input:disabled {
        color: gray;
        pointer-events: none;
      }
      &__input:disabled::placeholder {
        color: gray;
      }
      &__input::-webkit-calendar-picker-indicator {
        filter: invert(1); /* 反轉圖像顏色 */
      }
      &__input::before {
        color: #959595;
        content: attr(placeholder);
      }

      &__input:disabled {
        opacity: 0.6;
        color: #959595;
      }

      &__hint {
        color: $register-hint-color;
        display: block;
        margin: 5px 0;
        font-size: 2rem;
      }

      &--recommend {
        > div:first-child {
          background: $register-field-bg-recommend;
        }
      }
      &--account {
        > div:first-child {
          background: $register-field-bg-account;
        }
      }
      &--password {
        > div:first-child {
          background: $register-field-bg-password;
        }
      }
      &--callphone {
        > div:first-child {
          background: $register-field-bg-callphone;
        }
      }
      &--name {
        > div:first-child {
          background: $register-field-bg-name;
        }
      }
      &--code {
        > div:first-child {
          background: $register-field-bg-code;
        }
      }
    }
  }
  &__button-div {
    text-align: center;
    margin-top: 50px;
    button {
      margin: 0 10px;
    }
    &__submit {
      background: $register-button-bg-submit;
    }
    &__reset {
      background: $register-button-bg-reset;
    }
  }
  &__notice {
    color: $register-notice-color;
    margin: 0 20px;
    &__ol {
      margin: 50px 10px 0;
      font-size: 2rem;
    }
  }
}
