@mixin withdrawal {
  margin: 40px 0;
  &__li {
    list-style: none;
    &__select {
      padding: 0 1.5%;
      width: 100%;

      &--currency {
        margin-left: 5%;
        width: 95%;
      }
    }
    &__button {
      background: $withdrawal-button-bg-transfer;
      display: block;
      margin: 0 auto;
    }
  }

  &__light-message {
    color: $withdrawal-height-light-color;
    font-size: 1.5rem;
  }

  &__button-div {
    margin: 40px 0;
    text-align: center;

    > button {
      background: $withdrawal-button-bg-submit;
    }
  }
}
