@mixin deposit {
}

@mixin deposit-mode-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  margin-top: 30px;

  button {
    color: $deposit-mode-nav-button-color;
    background: $deposit-mode-nav-button-bg;
    width: 48%;
  }

  button.active {
    color: $deposit-mode-nav-button-active-color;
    background: $deposit-mode-nav-button-active-bg;
  }
}

@mixin deposit-form {
  margin-top: 40px;
  &__field {
    margin: 20px 0;

    &__select {
      padding: 0 1.5%;
    }

    &__info {
      margin: 20px 0;

      &__text {
        margin: 0 0 20px;
        font-size: 2.307em;
      }
    }
    &__receipt-upload {
      &__label {
        background: $deposit-form-button-bg-upload;
        display: block;
        margin: 0 auto;
      }
      &__input {
        display: none;
      }
    }
    &__hint {
      color: $deposit-form-hint-color;
      margin: 10px 0;
      font-size: 2.153em;

      &--ps {
        color: $deposit-form-hint-color-ps;
      }

      &--receipt-upload {
        text-align: center;
      }
    }
  }

  &__button-div {
    margin: 40px 0;
    text-align: center;

    button {
      margin: 0 10px;
    }

    &--submit {
      background: $deposit-form-button-bg-submit;
    }
    &--cancel {
      background: $deposit-form-button-bg-cancel;
    }
  }
}
