@mixin user {
  padding: 20px;
  padding-top: $header-sub-height-auth;
}

@mixin user-profile {
  &__table-div {
    margin: 40px 0;
  }
  &__instant-access-form {
    padding: 3%;

    &__field {
      margin: 20px 0;
    }
  }
  &__button-div {
    margin: 40px 0;
    text-align: center;

    > button {
      background: $user-profile-button-bg;
    }
  }
}

@mixin user-profile-access {
  &__main {
    margin: 40px 0;

    &__ul {
      padding: 0;
      margin: 0;
      list-style: none;
    }
  }
  &__button-div {
    margin: 40px 0;
    text-align: center;

    > button {
      background: $user-profile-access-button-bg;
    }
  }
}

@mixin user-change-password {
  &__form {
    margin: 40px 0;
    &__field {
      margin: 20px 0;
    }
  }
  &__button-div {
    margin: 40px 0;
    text-align: center;

    > button {
      background: $user-change-password-button-bg;
    }
  }

  /*
  * Switch 開關，width: 640px, height: 100px
  */

  .v-switch-core {
    border-radius: 0 !important;
  }

  /*
  * 按鈕
  */

  .vue-js-switch .v-switch-core .v-switch-button {
    width: 320px !important;
    border-radius: 0 !important;
  }

  /*
  * 按鈕在右邊時
  * 位置: (開關寬度/2) + (開關寬度/2 - 按鈕寬度) => (640/2) + (640/2 - 320)
  */
  .vue-js-switch.toggled .v-switch-core .v-switch-button {
    transform: translate3d(320px, 0px, 0px) !important;
  }
  /*
  * 左邊標籤(文字)
  * 位置: (按鈕大小 - 標籤大小) / 2 => (320-80) / 2
  * 但不同語言的標籤大小會不同
  */
  &:lang(zh-cn) .vue-js-switch .v-switch-label.v-left {
    left: 120px !important;
  }

  &:lang(en-us) .vue-js-switch .v-switch-label.v-left {
    left: 82px !important;
  }

  &:lang(th-th) .vue-js-switch .v-switch-label.v-left {
    left: 100px !important;
  }

  /*
   * 右邊標籤(文字)
   * 位置: 同上
  */
  &:lang(zh-cn) .vue-js-switch .v-switch-label.v-right {
    right: 120px !important;
  }
  &:lang(en-us) .vue-js-switch .v-switch-label.v-right {
    right: 76px !important;
  }
  &:lang(th-th) .vue-js-switch .v-switch-label.v-right {
    right: 95px !important;
  }
}
